.cart-page {
  min-height: 500px !important;
  /* max-width: 500px; */
  /*   margin-left: 10px; */
  .title {
    color: #555672;
    text-transform: uppercase;
  }
  .cart {
    &-shipping {
      color: rgb(94, 184, 94);
      padding-bottom: 15px;
      margin-top: 15px;
    }
    &-item {
      background-color: rgb(255, 255, 255);
      border: 1px solid #d3c5c5;
      padding: 15px;
      border-radius: 15px;
      margin-bottom: 15px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      &-image {
        img {
          height: 120px;
          max-width: 100%;
        }
      }
      &-name {
        font-weight: 600;
        font-size: 1.2em;
        margin-bottom: 15px;
        color: #555672;
      }
      &-price {
        font-weight: 600;
        font-size: 1.2em;
        margin-bottom: 15px;
        color: indianred;
      }
      &-quantity {
        margin: 15px 0;
      }
      &-subtotal {
        font-weight: 600;
        font-size: 18px;
        &-value {
          color: #216ab1;
        }
      }
      &-Input {
        &-textInput {
          width: 100%;
          border-radius: 5px;
          padding: 3px;
          text-align: center;
          background-color: #f7f7f7;
        }
      }
    }
  }
}
.back {
  max-width: 125px;
  padding: 5px;
  background-color: white;
  border: 1px solid #246cb3;
  margin: 15px auto;
  color: #246cb3;
  border-radius: 2px !important;
}

.back:hover {
  background-color: #246cb3;
  color: white;
}

.fa-trash {
  color: rgb(235, 34, 34);
  cursor: pointer;
  font-size: 22px;
}

.test-pad {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.image-prod {
  width: 100%;
}

.fa-arrow-left {
  margin-right: 5px;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2s infinite linear;
  animation: sk-rotate 2s infinite linear;
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
