<div style="height: 100px"></div>
<div class="cart-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div>
          <button class="back" (click)="backToShop()">
            <i class="fa fa-arrow-left"></i>
            <span>Back</span>
          </button>
        </div>

        <div *ngIf="cartCount > 1">
          <h4 class="title">My Cart : {{ cartCount }} Items</h4>
        </div>
        <div *ngIf="cartCount === 1">
          <h4 class="title">My Cart : {{ cartCount }} Item</h4>
        </div>
        <div class="cart-shipping">
          Shipping after the payment , Delivery time : 1 to 4 days
        </div>
        <div *ngIf="cartCount == 0">
          <div class="container">
            <div>
              <img
                src="../../../../assets//img/no-product.jpg"
                alt=""
                class="image-prod"
              />
            </div>
          </div>
        </div>
        <div class="spinner" *ngIf="!cartItemDetail">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>

        <div class="container cart-item" *ngFor="let item of cartItemDetail">
          <div class="row">
            <div class="col-md-2 test-pad">
              <img
                src="../../../../assets/img/default_product_image.png"
                alt=""
                class="image-prod"
              />
              <!--       <img
                [src]="
                  item.product.product.pictures
                    ? API + item.product.product.pictures[0]
                    : '../../../../assets/img/default_product_image.png'"
                alt=""
              /> -->
            </div>
            <div class="col-md-7">
              <div class="cart-item-name">{{ item.product.product.name }}</div>
              <div class="cart-item-price">
                {{ item.product.product.price | currency: "DT " }}
              </div>
              <div class="cart-item-remove">
                <i
                  class="fa fa-trash"
                  (click)="deleteCartItem(item.product)"
                ></i>
              </div>
            </div>
            <div class="col-md-3">
              <div class="cart-item-Input">
                <input
                  [min]="1"
                  type="number"
                  [id]="item.product.product._id"
                  name="quantity"
                  class="cart-item-Input-textInput"
                  [(ngModel)]="item.quantity"
                  (input)="updateCartItem($event, item)"
                />
                <!--               (onInput)="updateCartItem($event)"
 -->
              </div>
              <div class="cart-item-subtotal">
                <div class="cart-item-subtotal-value">
                  {{
                    item.product.product.price * item.quantity | currency: "DT "
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <app-order-check></app-order-check>
      </div>
    </div>
  </div>
</div>
