<!-- CONTENT GRID -->
<div class="widthcustom">
  <h1 data-text="Our Windy Map" class="txt">Our Windy Map</h1>
</div>

<div class="margin-t">
  <div class="content-grid pt-0">
    <!-- SECTION BANNER -->
    <!--   <div class="section-banner">
        <img style="max-height: 184px;" class="section-banner-icon" src="../../../../assets/img/banner/weather-icon.png" alt="accounthub-icon">

        <p class="section-banner-title">Weather Hub</p>

        <p class="section-banner-text">Check out wind and temperature</p>
    </div> -->
    <!-- /SECTION BANNER -->
    <div class="grid" id="windy-container">
      <iframe
        width="{{ width }}"
        height="{{ height * 4 }}"
        src="https://embed.windy.com/embed2.html?lat=7.014&lon=68.027&detailLat=22.269&detailLon=68.115&width=650&height=450&zoom=3&level=surface&overlay=wind&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=true&type=map&location=coordinates&detail=true&metricWind=default&metricTemp=default&radarRange=-1"
        frameborder="0"
      ></iframe>
    </div>
  </div>
</div>

<!-- /CONTENT GRID -->
