a.menu-item-link {
  font-size: medium !important;
}

.menus {
  display: flex;
  width: 100% !important;
  justify-content: center;
}

#navigation-widget {
  width: 100%;
  height: 70px !important;
  background-color: #104777;
}
.menus li {
  margin-top: 20px;
  width: 50px;
  margin-right: 40px;
  margin-left: 40px;
}
.menus li a {
  color: white;
  padding: 10px;
  width: 100%;
}

.menus li a:hover {
  color: #149414 !important;
}
