<!-- CONTENT GRID -->
<div class="content-grid">
  <!--   <div class="section-banner">

        <img class="section-banner-icon" src="../../../../assets/img/banner/marketplace-icon.png" alt="accounthub-icon">


        <p class="section-banner-title">Host your home!</p>



        <p class="section-banner-text">Manage your homes</p>
    </div> -->

  <!-- GRID -->
  <div class="grid medium-space">
    <!-- GRID COLUMN -->
    <div class="account-hub-content">
      <!-- SECTION HEADER -->
      <div class="section-header">
        <!-- SECTION HEADER INFO -->
        <div class="section-header-info">
          <!-- SECTION PRETITLE -->
          <p class="section-pretitle">My homes</p>
          <!-- /SECTION PRETITLE -->

          <!-- SECTION TITLE -->
          <h2 class="section-title">Manage homes</h2>
          <!-- /SECTION TITLE -->
        </div>
        <!-- /SECTION HEADER INFO -->
      </div>
      <!-- /SECTION HEADER -->

      <!-- GRID -->
      <div class="grid grid-3-3-3 centered-on-mobile">
        <!-- CREATE ENTITY BOX -->
        <div class="create-entity-box v2">
          <!-- CREATE ENTITY BOX COVER -->
          <div class="create-entity-box-cover"></div>
          <!-- /CREATE ENTITY BOX COVER -->

          <!-- CREATE ENTITY BOX AVATAR -->
          <div class="create-entity-box-avatar primary">
            <!-- CREATE ENTITY BOX AVATAR ICON -->
            <svg class="create-entity-box-avatar-icon icon-item">
              <use xlink:href="#svg-home"></use>
            </svg>
            <!-- /CREATE ENTITY BOX AVATAR ICON -->
          </div>
          <!-- /CREATE ENTITY BOX AVATAR -->
          <!-- CREATE ENTITY BOX INFO -->
          <div class="create-entity-box-info">
            <!-- CREATE ENTITY BOX TITLE -->
            <p class="create-entity-box-title">
              {{ "your_hosting_name" | translate }}
            </p>
            <!-- /CREATE ENTITY BOX TITLE -->

            <!-- CREATE ENTITY BOX CATEGORY -->
            <p class="create-entity-box-category">
              {{ "describe_home" | translate }}
            </p>
            <!-- /CREATE ENTITY BOX CATEGORY -->

            <!-- BUTTON -->
            <p class="button primary full popup-manage-item-trigger">
              Add new Hosting!
            </p>
            <!-- /BUTTON -->

            <!-- BUTTON -->
            <p
              id="updateBtn"
              style="display: none"
              class="button primary full popup-edit-hosting-trigger"
            ></p>
            <!-- /BUTTON -->
          </div>
          <!-- /CREATE ENTITY BOX INFO -->
        </div>
        <!-- /CREATE ENTITY BOX -->

        <!-- PRODUCT PREVIEW -->
        <div
          *ngFor="let home of userHomes; let i = index"
          class="product-preview fixed-height"
        >
          <!-- PRODUCT PREVIEW IMAGE -->
          <a
            [routerLink]="['/details-home', home._id]"
            routerLinkActive="router-link-active"
          >
            <figure class="product-preview-image liquid">
              <img
                src="{{home?.images[0] | picture }} "
                alt="item-01"
              />
            </figure>
          </a>
          <!-- /PRODUCT PREVIEW IMAGE -->

          <!-- PRODUCT PREVIEW INFO -->
          <div class="product-preview-info">
            <!-- TEXT STICKER -->
            <p class="text-sticker">
              <span class="highlighted">$</span> {{ home?.price }}
            </p>

            <p class="product-preview-title">
              <a [routerLink]="['/details-home', home._id]">{{ home?.name }}</a>
            </p>
            <!-- /PRODUCT PREVIEW TITLE -->

            <!-- PRODUCT PREVIEW CATEGORY -->
            <p class="product-preview-category digital">
              <a [routerLink]="['/details-home', home._id]"
                >{{ home?.description }}u</a
              >
            </p>
            <!-- /PRODUCT PREVIEW CATEGORY -->
            <!-- BUTTON -->
            <p (click)="openUpdatePopup(i)" class="button white full">
              {{ "update_home" | translate }}
            </p>
            <!-- /BUTTON -->

            <!-- BUTTON -->
            <p
              (click)="deleteHebergement(i)"
              class="button secondary full popup-manage-item-trigger"
            >
              {{ "delete_home" | translate }}
            </p>
            <!-- /BUTTON -->
          </div>
          <!-- /PRODUCT PREVIEW INFO -->
        </div>
        <!-- /PRODUCT PREVIEW -->
      </div>
      <!-- /GRID -->
    </div>
    <!-- /GRID COLUMN -->
  </div>
  <!-- /GRID -->
</div>
<!-- /CONTENT GRID -->

<!-- POPUP BOX -->
<div class="popup-box mid popup-manage-item">
  <!-- POPUP CLOSE BUTTON -->
  <div class="popup-close-button popup-manage-item-trigger">
    <!-- POPUP CLOSE BUTTON ICON -->
    <svg class="popup-close-button-icon icon-cross">
      <use xlink:href="#svg-cross"></use>
    </svg>
    <!-- /POPUP CLOSE BUTTON ICON -->
  </div>
  <!-- /POPUP CLOSE BUTTON -->

  <!-- POPUP BOX BODY -->
  <div class="popup-box-body">
    <!-- POPUP BOX SIDEBAR -->
    <div class="popup-box-sidebar">
      <!-- PRODUCT PREVIEW -->
      <div class="product-preview">
        <!-- PRODUCT PREVIEW IMAGE -->
        <a (click)="openFileInput()" [routerLink]="">
          <figure class="product-preview-image liquid">
            <img
              *ngIf="!imageSrc"
              [src]="API + userHomes[selectedHome]?.images[0]" alt="item-10"/>
            <img *ngIf="imageSrc" [src]="imageSrc" alt="item-10" />
          </figure>
        </a>
        <!-- /PRODUCT PREVIEW IMAGE -->

        <!-- PRODUCT PREVIEW INFO -->
        <div class="product-preview-info">
          <!-- PRODUCT PREVIEW TITLE -->
          <!-- TEXT STICKER -->
          <p class="text-sticker">
            <span class="highlighted">$</span> {{ newHome?.price }}
          </p>
          <!-- /TEXT STICKER -->
          <p class="product-preview-title">
            <a
              (click)="openFileInput()"
              [routerLink]=""
              routerLinkActive="router-link-active"
              >Add picture</a
            >
          </p>
          <input
            id="postPhoto"
            type="file"
            style="display: none"
            multiple
            (change)="fileChange($event)"
          />

          <!-- /PRODUCT PREVIEW TITLE -->
        </div>
        <!-- /PRODUCT PREVIEW INFO -->
      </div>
      <!-- /PRODUCT PREVIEW -->

      <!-- POPUP BOX SIDEBAR FOOTER -->
      <div class="popup-box-sidebar-footer">
        <!-- BUTTON -->
        <p
          (click)="createHebergement()"
          class="button primary full popup-manage-item-trigger"
        >
          Save Changes!
        </p>
        <!-- /BUTTON -->

        <!-- BUTTON -->
        <p class="button white full popup-manage-item-trigger">
          {{ "discard" | translate }}
        </p>
        <!-- /BUTTON -->
      </div>
      <!-- /POPUP
        BOX SIDEBAR FOOTER -->
    </div>
    <!-- /POPUP BOX SIDEBAR -->

    <!-- POPUP BOX CONTENT -->
    <div class="popup-box-content limited" data-simplebar>
      <!-- WIDGET BOX -->
      <div class="widget-box fixedpop">
        <!-- WIDGET BOX TITLE -->
        <p class="widget-box-title">Hebergement Details</p>
        <!-- /WIDGET BOX TITLE -->

        <!-- WIDGET BOX CONTENT -->
        <div class="widget-box-content">
          <!-- FORM -->
          <form class="form">
            <!-- FORM ROW -->
            <div class="form-row">
              <!-- FORM ITEM -->
              <div class="form-item">
                <!-- FORM INPUT -->
                <div class="form-input small active">
                  <label for="item-name">Hebergement Name</label>
                  <input
                    [(ngModel)]="newHome.name"
                    type="text"
                    id="item-name"
                    name="item_name"
                  />
                </div>
                <!-- /FORM INPUT -->
              </div>
              <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <!--  -->

            <div class="form-row" style="margin-top: 15px !important">
              <div class="form-item">
                <div class="form-select">
                  <label for="item-description">Home Country</label>
                  <select
                    [(ngModel)]="newHome.country"
                    name="country-name"
                    class="scroll"
                    placeholder="Select a Country"
                  >
                    <option value="" selected>Select the Country name</option>
                    <option
                      *ngFor="let country of countries"
                      value="{{ country.name }}"
                    >
                      {{ country.name }}
                    </option>
                  </select>
                  <!-- FORM SELECT ICON -->
                  <svg class="form-select-icon icon-small-arrow">
                    <use xlink:href="#svg-small-arrow"></use>
                  </svg>
                  <!-- /FORM SELECT ICON -->
                </div>
              </div>
            </div>
            <!--  -->
            <div class="form-row split">
              <div class="form-item">
                <!-- FORM INPUT -->
                <div class="form-input small active">
                  <label for="item-name">Hebergement Price</label>
                  <input
                    min="0"
                    [(ngModel)]="newHome.price"
                    type="number"
                    id="item-name"
                    name="item_price"
                  />
                </div>
                <!-- /FORM INPUT -->
              </div>
              <div class="form-item">
                <!-- FORM INPUT -->
                <div class="form-input small active">
                  <label for="capacity_excluding_crew">
                    {{ "capacity_excluding_crew" | translate }}
                  </label>
                  <input
                    min="0"
                    [(ngModel)]="newHome.details.capacity"
                    type="number"
                    id="capacity_excluding_crew"
                    name="capacity_excluding_crew"
                  />
                </div>
                <!-- /FORM INPUT -->
              </div>

              <div class="form-item">
                <!-- FORM INPUT -->
                <div class="form-input small active">
                  <label for="capacity_excluding_crew"> Lits </label>
                  <input
                    min="0"
                    [(ngModel)]="newHome.details.lits"
                    type="number"
                    id="capacity_excluding_crew"
                    name="capacity_excluding_crew"
                  />
                </div>
              </div>

              <!-- /FORM ITEM -->
            </div>

            <div class="form-row split">
              <div class="form-item">
                <!-- FORM INPUT -->
                <div class="form-input small active">
                  <label for="item-name">Salle De Bain</label>
                  <input
                    min="0"
                    [(ngModel)]="newHome.details.salleDeBain"
                    type="number"
                    id="item-name"
                    name="item_price"
                  />
                </div>
                <!-- /FORM INPUT -->
              </div>
              <div class="form-item">
                <!-- FORM INPUT -->
                <div class="form-input small active">
                  <label for="cuisines"> cuisines </label>
                  <input
                    min="0"
                    [(ngModel)]="newHome.details.cuisines"
                    type="number"
                    id="cuisines"
                    name="cuisines"
                  />
                </div>
              </div>
            </div>

            <div class="form-row">
              <!-- FORM ITEM -->
              <div class="form-item">
                <!-- FORM SELECT -->
                <div class="form-select">
                  <label for="item-description">Hebergement type</label>
                  <select [(ngModel)]="newHome.type" name="hebergement-name">
                    <option value="" selected>Select Hebergement type</option>
                    <option
                      *ngFor="let type of hebergementTypes"
                      value="{{ type._id }}"
                    >
                      {{ type.name }}
                    </option>
                  </select>
                  <!-- FORM SELECT ICON -->
                  <svg class="form-select-icon icon-small-arrow">
                    <use xlink:href="#svg-small-arrow"></use>
                  </svg>
                  <!-- /FORM SELECT ICON -->
                </div>
                <!-- /FORM SELECT -->
              </div>
            </div>

            <!-- /FORM ROW -->
            <div class="form-row space-between">
              <!-- FORM ITEM -->
              <div class="form-item">
                <!-- CHECKBOX WRAP -->
                <div class="checkbox-wrap">
                  <input
                    [(ngModel)]="newHome.details.piscine"
                    type="checkbox"
                    id="piscine"
                    name="piscine"
                    checked
                  />
                  <div class="checkbox-box">
                    <!-- ICON CROSS -->
                    <svg class="icon-cross">
                      <use xlink:href="#svg-cross"></use>
                    </svg>
                    <!-- /ICON CROSS -->
                  </div>
                  <!-- /CHECKBOX BOX -->
                  <label for="piscine">Piscine</label>
                </div>
                <!-- /CHECKBOX WRAP -->
              </div>
              <div class="form-item">
                <!-- CHECKBOX WRAP -->
                <div class="checkbox-wrap">
                  <input
                    [(ngModel)]="newHome.details.barbecue"
                    type="checkbox"
                    id="barbecue"
                    name="barbecue"
                    checked
                  />
                  <!-- CHECKBOX BOX -->
                  <div class="checkbox-box">
                    <!-- ICON CROSS -->
                    <svg class="icon-cross">
                      <use xlink:href="#svg-cross"></use>
                    </svg>
                    <!-- /ICON CROSS -->
                  </div>
                  <!-- /CHECKBOX BOX -->
                  <label for="barbecue">Barbecue</label>
                </div>
                <!-- /CHECKBOX WRAP -->
              </div>
              <!-- /FORM ITEM -->
              <!-- FORM ITEM -->
              <div class="form-item">
                <!-- CHECKBOX WRAP -->
                <div class="checkbox-wrap">
                  <input
                    [(ngModel)]="newHome.details.espaceRepasEnPleinAir"
                    type="checkbox"
                    id="espaceRepasEnPleinAir"
                    name="espaceRepasEnPleinAir"
                    checked
                  />
                  <!-- CHECKBOX BOX -->
                  <div class="checkbox-box">
                    <!-- ICON CROSS -->
                    <svg class="icon-cross">
                      <use xlink:href="#svg-cross"></use>
                    </svg>
                    <!-- /ICON CROSS -->
                  </div>
                  <!-- /CHECKBOX BOX -->
                  <label for="espaceRepasEnPleinAir"
                    >Espace Repas En Plein Air</label
                  >
                </div>
                <!-- /CHECKBOX WRAP -->
              </div>
              <!-- /FORM ITEM -->
            </div>

            <div class="form-row space-between">
              <!-- FORM ITEM -->
              <div class="form-item">
                <!-- CHECKBOX WRAP -->
                <div class="checkbox-wrap">
                  <input
                    [(ngModel)]="newHome.details.wifi"
                    type="checkbox"
                    id="wifi"
                    name="wifi"
                    checked
                  />
                  <!-- CHECKBOX BOX -->
                  <div class="checkbox-box">
                    <!-- ICON CROSS -->
                    <svg class="icon-cross">
                      <use xlink:href="#svg-cross"></use>
                    </svg>
                    <!-- /ICON CROSS -->
                  </div>
                  <!-- /CHECKBOX BOX -->
                  <label for="wifi">Wifi</label>
                </div>
                <!-- /CHECKBOX WRAP -->
              </div>
              <div class="form-item">
                <!-- CHECKBOX WRAP -->
                <div class="checkbox-wrap">
                  <input
                    [(ngModel)]="newHome.details.television"
                    type="checkbox"
                    id="television"
                    name="television"
                    checked
                  />
                  <!-- CHECKBOX BOX -->
                  <div class="checkbox-box">
                    <!-- ICON CROSS -->
                    <svg class="icon-cross">
                      <use xlink:href="#svg-cross"></use>
                    </svg>
                    <!-- /ICON CROSS -->
                  </div>
                  <!-- /CHECKBOX BOX -->
                  <label for="television">Télévision</label>
                </div>
                <!-- /CHECKBOX WRAP -->
              </div>
              <!-- /FORM ITEM -->
              <!-- FORM ITEM -->
              <div class="form-item">
                <!-- CHECKBOX WRAP -->
                <div class="checkbox-wrap">
                  <input
                    [(ngModel)]="newHome.details.laveLinge"
                    type="checkbox"
                    id="laveLinge"
                    name="laveLinge"
                    checked
                  />
                  <!-- CHECKBOX BOX -->
                  <div class="checkbox-box">
                    <!-- ICON CROSS -->
                    <svg class="icon-cross">
                      <use xlink:href="#svg-cross"></use>
                    </svg>
                    <!-- /ICON CROSS -->
                  </div>
                  <!-- /CHECKBOX BOX -->
                  <label for="laveLinge">Lave Linge</label>
                </div>
                <!-- /CHECKBOX WRAP -->
              </div>
              <!-- /FORM ITEM -->
            </div>

            <div class="form-row space-between">
              <!-- FORM ITEM -->
              <div class="form-item">
                <!-- CHECKBOX WRAP -->
                <div class="checkbox-wrap">
                  <input
                    [(ngModel)]="newHome.details.parking"
                    type="checkbox"
                    id="parking"
                    name="parking"
                    checked
                  />
                  <!-- CHECKBOX BOX -->
                  <div class="checkbox-box">
                    <!-- ICON CROSS -->
                    <svg class="icon-cross">
                      <use xlink:href="#svg-cross"></use>
                    </svg>
                    <!-- /ICON CROSS -->
                  </div>
                  <!-- /CHECKBOX BOX -->
                  <label for="parking">Parking</label>
                </div>
                <!-- /CHECKBOX WRAP -->
              </div>
              <div class="form-item">
                <!-- CHECKBOX WRAP -->
                <div class="checkbox-wrap">
                  <input
                    [(ngModel)]="newHome.details.climatisation"
                    type="checkbox"
                    id="climatisation"
                    name="climatisation"
                    checked
                  />
                  <!-- CHECKBOX BOX -->
                  <div class="checkbox-box">
                    <!-- ICON CROSS -->
                    <svg class="icon-cross">
                      <use xlink:href="#svg-cross"></use>
                    </svg>
                    <!-- /ICON CROSS -->
                  </div>
                  <!-- /CHECKBOX BOX -->
                  <label for="climatisation">Climatisation</label>
                </div>
                <!-- /CHECKBOX WRAP -->
              </div>
              <!-- /FORM ITEM -->
              <!-- FORM ITEM -->
              <div class="form-item">
                <!-- CHECKBOX WRAP -->
                <div class="checkbox-wrap">
                  <input
                    [(ngModel)]="newHome.details.jardin"
                    type="checkbox"
                    id="jardin"
                    name="jardin"
                    checked
                  />
                  <!-- CHECKBOX BOX -->
                  <div class="checkbox-box">
                    <!-- ICON CROSS -->
                    <svg class="icon-cross">
                      <use xlink:href="#svg-cross"></use>
                    </svg>
                    <!-- /ICON CROSS -->
                  </div>
                  <!-- /CHECKBOX BOX -->
                  <label for="jardin"> Jardin</label>
                </div>
                <!-- /CHECKBOX WRAP -->
              </div>
              <!-- /FORM ITEM -->
            </div>

            <div class="form-row">
              <!-- FORM ITEM -->
              <div class="form-item">
                <!-- FORM INPUT -->
                <div class="form-input small active">
                  <label for="item-description">Hebergement description</label>
                  <input
                    [(ngModel)]="newHome.description"
                    type="text"
                    id="item-description"
                    name="item_description"
                  />
                </div>
                <!-- /FORM INPUT -->
              </div>
              <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->
            <!-- FORM ROW -->
            <div class="form-row">
              <!-- FORM ITEM -->
              <div class="form-item">
                <!-- FORM INPUT -->
                <div class="form-input small mid-textarea">
                  <app-map-box [(position)]="newHome.position"></app-map-box>
                </div>
                <!-- /FORM INPUT -->
              </div>
              <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->
          </form>
          <!-- /FORM -->
        </div>
        <!-- WIDGET BOX CONTENT -->
      </div>
      <!-- /WIDGET BOX -->
    </div>
    <!-- /POPUP BOX CONTENT -->
  </div>
  <!-- /POPUP BOX BODY -->
</div>
<!-- /POPUP BOX -->

<!-- POPUP BOX -->
<div class="popup-box mid popup-edit-hosting">
  <!-- POPUP CLOSE BUTTON -->
  <div class="popup-close-button popup-edit-hosting-trigger">
    <!-- POPUP CLOSE BUTTON ICON -->
    <svg class="popup-close-button-icon icon-cross">
      <use xlink:href="#svg-cross"></use>
    </svg>
    <!-- /POPUP CLOSE BUTTON ICON -->
  </div>
  <!-- /POPUP CLOSE BUTTON -->

  <!-- POPUP BOX BODY -->
  <div class="popup-box-body">
    <!-- POPUP BOX SIDEBAR -->
    <div class="popup-box-sidebar">
      <!-- PRODUCT PREVIEW -->
      <div class="product-preview">
        <!-- PRODUCT PREVIEW IMAGE -->
        <a (click)="openFileInput()" [routerLink]="">
          <figure class="product-preview-image liquid">
            <img
              *ngIf="!imageSrc"
              [src]="API + userHomes[selectedHome]?.images[0]"
            />
            <img *ngIf="imageSrc" [src]="imageSrc" />
          </figure>
        </a>
        <!-- /PRODUCT PREVIEW IMAGE -->

        <!-- PRODUCT PREVIEW INFO -->
        <div class="product-preview-info">
          <!-- PRODUCT PREVIEW TITLE -->
          <!-- TEXT STICKER -->
          <p class="text-sticker">
            <span class="highlighted">$</span>
            {{ userHomes[selectedHome]?.price }}
          </p>
          <!-- /TEXT STICKER -->
          <p class="product-preview-title">
            <a
              (click)="openFileInput()"
              [routerLink]=""
              routerLinkActive="router-link-active"
              >update picture</a
            >
          </p>
          <input
            id="postPhoto"
            type="file"
            style="display: none"
            (change)="fileChange($event)"
          />

          <!-- /PRODUCT PREVIEW TITLE -->
        </div>
        <!-- /PRODUCT PREVIEW INFO -->
      </div>
      <!-- /PRODUCT PREVIEW -->

      <!-- POPUP BOX SIDEBAR FOOTER -->
      <div class="popup-box-sidebar-footer">
        <!-- BUTTON -->
        <p
          (click)="updateHebergement()"
          class="button primary full popup-edit-hosting-trigger"
        >
          Save Changes!
        </p>
        <!-- /BUTTON -->

        <!-- BUTTON -->
        <p class="button white full popup-edit-hosting-trigger">
          {{ "discard" | translate }}
        </p>
        <!-- /BUTTON -->
      </div>
      <!-- /POPUP BOX SIDEBAR FOOTER -->
    </div>
    <!-- /POPUP BOX SIDEBAR -->

    <!-- POPUP BOX CONTENT -->
    <div class="popup-box-content limited" data-simplebar>
      <!-- WIDGET BOX -->
      <div class="widget-box custompos">
        <!-- WIDGET BOX TITLE -->
        <p class="widget-box-title">Hebergement Details</p>
        <!-- /WIDGET BOX TITLE -->
        <!-- WIDGET BOX CONTENT -->
        <div class="widget-box-content">
          <!-- FORM -->
          <form class="form"  [formGroup]="homeForm">
            <!-- FORM ROW -->
            <div class="form-row">
              <!-- FORM ITEM -->
              <div class="form-item">
                <!-- FORM INPUT -->
                <div class="form-input small active">
                  <label for="item-name">Hebergement Name</label>
                  <input
                    formControlName="name"
                    *ngIf="selectedHome >= 0"
                    [(ngModel)]="userHomes[selectedHome].name"
                    type="text"
                    id="item-name"
                    name="item_name"
                  />
                </div>
                <!-- /FORM INPUT -->
              </div>
              <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <!-- FORM ROW -->
            <div class="form-row split">
              <div class="form-item">
                <!-- FORM INPUT -->
                <div class="form-input small active">
                  <label for="item-name">Hebergement Price</label>
                  <input
                    formControlName="price"
                    min="0"
                    *ngIf="selectedHome >= 0"
                    [(ngModel)]="userHomes[selectedHome].price"
                    type="number"
                    id="item-name"
                    name="item_price"
                  />
                </div>
                <!-- /FORM INPUT -->
              </div>
              <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <div class="form-row">
              <!-- FORM ITEM -->
              <div class="form-item">
                <!-- FORM SELECT -->
                <div class="form-select">
                  <label for="item-description">Hebergement type</label>
                  <select
                    formControlName="type"
                    *ngIf="selectedHome >= 0"
                    [(ngModel)]="userHomes[selectedHome].type"
                    name="hebergement-name"
                  >
                    <option value="" selected>Select Hebergement type</option>
                    <option
                      *ngFor="let type of hebergementTypes"
                      value="{{ type._id }}"
                    >
                      {{ type.name }}
                    </option>
                  </select>
                  <!-- FORM SELECT ICON -->
                  <svg class="form-select-icon icon-small-arrow">
                    <use xlink:href="#svg-small-arrow"></use>
                  </svg>
                  <!-- /FORM SELECT ICON -->
                </div>
                <!-- /FORM SELECT -->
              </div>
              <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->

            <div class="form-row">
              <!-- FORM ITEM -->
              <div class="form-item">
                <!-- FORM SELECT -->
                <div class="form-select">
                  <label for="item-description">Country type</label>
                  <select
                    *ngIf="selectedHome >= 0"
                    formControlName="country"
                    [(ngModel)]="userHomes[selectedHome].country"
                    name="country-name">
                    <option value="" selected>Select Country type</option>
                    <option
                    *ngFor="let country of countries"
                    value="{{ country.name }}">
                    {{ country.name }}
                  </option>
                  </select>
                  <!-- FORM SELECT ICON -->
                  <svg class="form-select-icon icon-small-arrow">
                    <use xlink:href="#svg-small-arrow"></use>
                  </svg>
                  <!-- /FORM SELECT ICON -->
                </div>
                <!-- /FORM SELECT -->
              </div>
              <!-- /FORM ITEM -->
            </div>


            <div class="form-row">
              <!-- FORM ITEM -->
              <div class="form-item">
                <!-- FORM INPUT -->
                <div class="form-input small active">
                  <label for="item-description">Hebergement description</label>
                  <input
                    formControlName="description"
                    *ngIf="selectedHome >= 0"
                    [(ngModel)]="userHomes[selectedHome].description"
                    type="text"
                    id="item-description"
                    name="item_description"
                  />
                </div>
                <!-- /FORM INPUT -->
              </div>
              <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->
            <!-- FORM ROW -->
            <div class="form-row">
              <!-- FORM ITEM -->
              <div class="form-item">
                <!-- FORM INPUT -->
                <div class="form-input small mid-textarea">
                  <app-map-box
                    *ngIf="selectedHome >= 0"
                    [(position)]="userHomes[selectedHome].position"
                  ></app-map-box>
                </div>
                <!-- /FORM INPUT -->
              </div>
              <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->
          </form>
          <!-- /FORM -->
        </div>
        <!-- WIDGET BOX CONTENT -->
      </div>
      <!-- /WIDGET BOX -->
    </div>
  </div>
</div>
