img.round {
  border-radius: 50%;
  height: 64px;
}
img.round-small {
  border-radius: 50%;
  height: 32px;
}

._zaj690 {
  font-size: 18px !important;
  line-height: 24px !important;
  font-weight: 800 !important;
}
@media (min-width: 744px) {
  ._zaj690 {
    font-size: 22px !important;
    line-height: 26px !important;
  }
}

@media (min-width: 744px) {
  ._7efq7j {
    padding: 24px !important;
    border: 1px solid #dddddd !important;
    border-radius: 12px !important;
  }
}

._1gw6tte::before {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  content: "" !important;
}
._1gw6tte::after {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  content: "" !important;
}

._i77e3d {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
}
@media (min-width: 744px) {
  ._i77e3d {
    padding-bottom: 8px !important;
  }
}

._8kqo1s {
  -ms-flex-negative: 0 !important;
  -webkit-box-flex: 0 !important;
  -ms-flex-positive: 0 !important;
  width: 106px !important;
  height: 106px !important;
  -webkit-flex-grow: 0 !important;
  flex-grow: 0 !important;
  -webkit-flex-shrink: 0 !important;
  flex-shrink: 0 !important;
  overflow: hidden !important;
  border-radius: 8px !important;
}
@media (min-width: 744px) {
  ._8kqo1s {
    width: 124px !important;
    height: 106px !important;
  }
}

._1h6n1zu {
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
}

._9ofhsl {
  height: 0px !important;
  width: 0px !important;
  position: absolute !important;
}
@supports (object-fit: cover) {
  ._9ofhsl {
    height: 100% !important;
    width: 100% !important;
    position: static !important;
  }
}

._ooekcv {
  -webkit-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  padding-left: 16px !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-justify-content: space-between !important;
  justify-content: space-between !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

._1ssrgzh {
  font-size: 12px !important;
  line-height: 16px !important;
  max-height: 16px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
}
@media (min-width: 744px) {
  ._1ssrgzh {
    font-size: 12px !important;
    line-height: 16px !important;
  }
}

._1tn13uh {
  font-size: 14px !important;
  line-height: 18px !important;
  max-height: 36px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  word-break: break-word !important;
}

._60hvkx2 {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 18px !important;
}

._1lzlk52 {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  color: #ff385c !important;
}

._2a6au1i {
  color: #222222 !important;
  padding-left: 4px !important;
  font-weight: 600 !important;
}

._zaj690 {
  font-size: 18px !important;
  line-height: 24px !important;
  font-weight: 800 !important;
}
