<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/banner/fishing-rod-wheel-close-up.jpg" alt="Angular Carousel 1" class="image-carousel">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/banner/angler-holds-trophy-fish-carp.jpg" alt="Angular Carousel 2" class="image-carousel">
    </div>
  </ng-template>
    <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/banner/group-unrecognizable-adult-men-fishing.jpg" alt="Angular Carousel 2" class="image-carousel">
    </div>
  </ng-template>
</ngb-carousel>
