.landing-info-title {
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3.5rem;
}

.form-text.error {
  margin-top: 0px !important;
  color: #dedeea;
 }
.scrollbar-pink {
  scrollbar-color: #ec407a #f5f5f5;
}
.example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.example-item-detail {
  height: 18px;
}

.example-alternate {
  background: rgba(127, 127, 127, 0.3);
}

.form-box.login-register-form-element {
  width: 30vw;
}

.widthfive {

  width: 75%;
  color:#adafca;
}

.social-links {
  align-items: center !important;
  justify-content: space-between !important;
  vertical-align: baseline;
}

.form-box .pp {
  margin-top: 10px !important;

}
.lined-text:after, .lined-text:before{
  display: none !important;
}


@media(max-width:700px)
{
  .form-box.login-register-form-element{
    width: 64vw !important;
  }
}
