<div
  class="content-grid"
  style="
    transform: translate(360.5px, 0px);
    transition: transform 0.4s ease-in-out 0s;
  "
>
  <!-- SECTION HEADER -->
  <div class="section-header">
    <!-- SECTION HEADER INFO -->
    <div class="section-header-info">
      <!-- SECTION PRETITLE -->
      <p class="section-pretitle">Browse Homes</p>
      <!-- /SECTION PRETITLE -->
    </div>
    <!-- /SECTION HEADER INFO -->
  </div>

  <div class="grid grid-12 small-space">
    <div class="marketplace-content">
      <!-- GRID -->
      <div class="grid grid-3-3-3 centered">
        <!-- PRODUCT PREVIEW -->
        <div
          *ngFor="let boat of visiblehebrgements"
          class="product-preview widthprod"
        >
          <!-- PRODUCT PREVIEW IMAGE -->
          <a [routerLink]="['/details-home', boat?._id]">
            <figure
              class="product-preview-image liquid"
              style="
                border-radius: 2%;
                background: url('img/marketplace/items/01.jpg') center center /
                  cover no-repeat;
              "
            >
              <img src="{{ boat?.images[0] | picture }}" alt="item-01" />
            </figure>
          </a>
          <!-- /PRODUCT PREVIEW IMAGE -->

          <!-- PRODUCT PREVIEW INFO -->
          <div class="product-preview-info">
            <!-- TEXT STICKER -->
            <p class="text-sticker">
              <span class="highlighted">DT</span> {{ boat?.price }}
            </p>
            <!-- /TEXT STICKER -->

            <!-- PRODUCT PREVIEW TITLE -->
            <p class="product-preview-title">
              <a [routerLink]="['/details-home', boat?._id]">{{
                boat?.name
              }}</a>
            </p>
            <!-- /PRODUCT PREVIEW TITLE -->

            <!-- PRODUCT PREVIEW CATEGORY -->
            <p class="product-preview-category digital">
              <a [routerLink]="" routerLinkActive="router-link-active">{{
                boat?.type?.name
              }}</a>
            </p>
            <!-- /PRODUCT PREVIEW CATEGORY -->

            <!-- PRODUCT PREVIEW TEXT -->
            <!--      <p class="product-preview-text">
              {{
                boat?.description.length > 100
                  ? (boat?.description | slice: 0:100) + "..."
                  : boat?.description
              }}
            </p> -->
            <!-- /PRODUCT PREVIEW TEXT -->
          </div>
          <!-- /PRODUCT PREVIEW INFO -->

          <!-- PRODUCT PREVIEW META -->
          <div class="product-preview-meta">
            <!-- PRODUCT PREVIEW AUTHOR -->
            <div class="product-preview-author">
              <!-- PRODUCT PREVIEW AUTHOR IMAGE -->
              <a
                class="product-preview-author-image user-avatar micro no-border"
                [routerLink]="['/details-home', boat?._id]"
              >
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                  <!-- HEXAGON -->
                  <div
                    class="hexagon-image-18-20"
                    data-src="../../../../../assets/img/avatar/01.jpg"
                    style="width: 18px; height: 20px; position: relative"
                  >
                    <canvas
                      width="18"
                      height="20"
                      style="position: absolute; top: 0px; left: 0px"
                    ></canvas>
                  </div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->
              </a>
              <!-- /PRODUCT PREVIEW AUTHOR IMAGE -->

              <!-- PRODUCT PREVIEW AUTHOR TITLE -->
              <!--    <p class="product-preview-author-title">Posted By</p> -->
              <!-- /PRODUCT PREVIEW AUTHOR TITLE -->

              <!-- PRODUCT PREVIEW AUTHOR TEXT -->
              <!--  <p class="product-preview-author-text">
                <a [routerLink]="">{{ boat?.owner?.companyName }}</a>
              </p> -->
              <!-- /PRODUCT PREVIEW AUTHOR TEXT -->
            </div>
            <!-- /PRODUCT PREVIEW AUTHOR -->

            <!-- RATING LIST -->
            <div class="rating-list">
              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->

              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->

              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->

              <!-- RATING -->
              <div class="rating filled">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->

              <!-- RATING -->
              <div class="rating">
                <!-- RATING ICON -->
                <svg class="rating-icon icon-star">
                  <use xlink:href="#svg-star"></use>
                </svg>
                <!-- /RATING ICON -->
              </div>
              <!-- /RATING -->
            </div>
            <!-- /RATING LIST -->
          </div>
          <!-- /PRODUCT PREVIEW META -->
        </div>
        <!-- /PRODUCT PREVIEW -->
      </div>
      <!-- /GRID -->

      <!-- SECTION PAGER BAR WRAP -->

      <!-- /SECTION PAGER BAR WRAP -->
    </div>
    <!-- /MARKETPLACE CONTENT -->
  </div>
  <!-- /GRID -->
</div>
