<div class="container top">
  <div class="height-caroussel">
    <app-carousel [pictures]="carousselPictures"></app-carousel>
  </div>
</div>
<!-- <app-na></app-na> -->

<div class="blog-card spring-fever">
  <div class="title-content">
    <h3><a href="#">Qui Sommes Nous</a></h3>
    <div class="intros">
      <a href="#">
        linkedfishers.com est une solution digitale globale totalement dédiée à
        la communauté internationale de la pêche récréative et du Nautisme</a
      >
    </div>
  </div>
  <div class="card-info">
    <h4>LinkedFishers &copy;</h4>
    <h6><em>by Hookedup</em></h6>
  </div>
  <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
</div>

<div class="flex-card">
  <div class="blog-cards spring-fevers" [routerLink]="['/main']">
    <div class="title-contents">
      <h3>Looking for a service, a product or a tailor-made outing?</h3>
      <hr />
      <div class="intro">
        linkedfishers.com is your indispensable tool, your unique space where
        the offer is available inclusively and the outing is 100% customizable!
        Products and services Events and tournaments Fishing tips and techniques
        Hot spots Social media content ratings Sharing experience Weather
        forecast
      </div>
    </div>
    <!-- /.title-content -->
    <!-- /.card-info -->

    <!-- /.utility-info -->
    <!-- overlays -->
    <div class="gradient-overlays"></div>
    <div class="color-overlays"></div>
  </div>
  <div class="blog-cards spring-fevers" [routerLink]="['/map']">
    <div class="title-contents">
      <h3>
        Looking for additional income and better optimization of your assets ?
      </h3>
      <hr />
      <div class="intro">
        Linkedfishers.com is the only platform in the world that offers this
        collaborative economic intermediation and co-sharing features !
        Equipment and services Coastal accommodation Boats, yachts and yawls
        Monitoring
      </div>
    </div>
    <!-- /.title-content -->

    <!-- /.card-info -->

    <!-- /.utility-info -->
    <!-- overlays -->
    <div class="gradient-overlays"></div>
    <div class="color-overlays"></div>
  </div>
  <div
    class="blog-cards spring-fevers"
    [routerLink]="['/marketplace/products-list']"
  >
    <div class="title-contents">
      <h3>
        Professional or Freelancer aiming to maximize your customers number ?
      </h3>
      <hr />
      <div class="intro">
        Likedfisher.com promotes your visibility thanks to its community power.
        Place your product and services on our platform and you will see your
        sales take off! A dedicated market place A free professional and
        freelancer accounts. Large catalogue of products sorted by type, price
        and date Huge connections to a large potential partners
      </div>
    </div>
    <!-- /.title-content -->

    <!-- /.card-info -->

    <!-- /.utility-info -->
    <!-- overlays -->
    <div class="gradient-overlays"></div>
    <div class="color-overlays"></div>
  </div>
  <!-- /.blog-card -->
</div>
<div class="map-container">
  <div class="title-map">
    <h4>Map Services</h4>
  </div>
  <div class="framemap">
    <app-map></app-map>
  </div>
</div>

<div class="title-map">
  <h4>MarketPlace</h4>
</div>
<div class="marketplace-content mrg">
  <!-- GRID -->
  <div class="grid grid-3-3-3 centered">
    <!-- PRODUCT PREVIEW -->
    <div *ngFor="let product of visibleProducts" class="product-preview">
      <!-- PRODUCT PREVIEW IMAGE -->
      <a [routerLink]="['/marketplace/details-product', product?._id]">
        <figure
          class="product-preview-image liquid"
          style="
            border-radius: 2%;
            background: url('img/marketplace/items/01.jpg') center center /
              cover no-repeat;
          "
        >
          <img src="{{ product?.picture | picture }}" alt="item-01" />
        </figure>
      </a>
      <!-- /PRODUCT PREVIEW IMAGE -->

      <!-- PRODUCT PREVIEW INFO -->
      <div class="product-preview-info">
        <!-- TEXT STICKER -->
        <p class="text-sticker">
          <span class="highlighted">DT</span> {{ product?.price }}
        </p>
        <!-- /TEXT STICKER -->

        <!-- PRODUCT PREVIEW TITLE -->
        <p class="product-preview-title">
          <a [routerLink]="['/marketplace/details-product', product?._id]">{{
            product?.name
          }}</a>
        </p>
        <!-- /PRODUCT PREVIEW TITLE -->

        <!-- PRODUCT PREVIEW CATEGORY -->
        <p class="product-preview-category digital">
          <a [routerLink]="" routerLinkActive="router-link-active">{{
            product?.type?.name
          }}</a>
        </p>
        <!-- /PRODUCT PREVIEW CATEGORY -->

        <!-- PRODUCT PREVIEW TEXT -->
        <p class="product-preview-text">
          {{
            product?.description.length > 100
              ? (product?.description | slice: 0:100) + "..."
              : product?.description
          }}
        </p>
        <!-- /PRODUCT PREVIEW TEXT -->
      </div>
      <!-- /PRODUCT PREVIEW INFO -->

      <!-- PRODUCT PREVIEW META -->
      <div class="product-preview-meta">
        <!-- PRODUCT PREVIEW AUTHOR -->
        <div class="product-preview-author">
          <!-- PRODUCT PREVIEW AUTHOR IMAGE -->
          <a
            class="product-preview-author-image user-avatar micro no-border"
            [routerLink]="['/marketplace/details-product', product?._id]"
          >
            <!-- USER AVATAR CONTENT -->
            <div class="user-avatar-content">
              <!-- HEXAGON -->
              <div
                class="hexagon-image-18-20"
                data-src="../../../../../assets/img/avatar/01.jpg"
                style="width: 18px; height: 20px; position: relative"
              >
                <canvas
                  width="18"
                  height="20"
                  style="position: absolute; top: 0px; left: 0px"
                ></canvas>
              </div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR CONTENT -->
          </a>
          <!-- /PRODUCT PREVIEW AUTHOR IMAGE -->

          <!-- PRODUCT PREVIEW AUTHOR TITLE -->
          <p class="product-preview-author-title">Posted By</p>
          <!-- /PRODUCT PREVIEW AUTHOR TITLE -->

          <!-- PRODUCT PREVIEW AUTHOR TEXT -->
          <p class="product-preview-author-text">
            <a [routerLink]="">{{ product?.owner?.companyName }}</a>
          </p>
          <!-- /PRODUCT PREVIEW AUTHOR TEXT -->
        </div>
        <!-- /PRODUCT PREVIEW AUTHOR -->

        <!-- RATING LIST -->
        <div class="rating-list">
          <!-- RATING -->
          <div class="rating filled">
            <!-- RATING ICON -->
            <svg class="rating-icon icon-star">
              <use xlink:href="#svg-star"></use>
            </svg>
            <!-- /RATING ICON -->
          </div>
          <!-- /RATING -->

          <!-- RATING -->
          <div class="rating filled">
            <!-- RATING ICON -->
            <svg class="rating-icon icon-star">
              <use xlink:href="#svg-star"></use>
            </svg>
            <!-- /RATING ICON -->
          </div>
          <!-- /RATING -->

          <!-- RATING -->
          <div class="rating filled">
            <!-- RATING ICON -->
            <svg class="rating-icon icon-star">
              <use xlink:href="#svg-star"></use>
            </svg>
            <!-- /RATING ICON -->
          </div>
          <!-- /RATING -->

          <!-- RATING -->
          <div class="rating filled">
            <!-- RATING ICON -->
            <svg class="rating-icon icon-star">
              <use xlink:href="#svg-star"></use>
            </svg>
            <!-- /RATING ICON -->
          </div>
          <!-- /RATING -->

          <!-- RATING -->
          <div class="rating">
            <!-- RATING ICON -->
            <svg class="rating-icon icon-star">
              <use xlink:href="#svg-star"></use>
            </svg>
            <!-- /RATING ICON -->
          </div>
          <!-- /RATING -->
        </div>
        <!-- /RATING LIST -->
      </div>
      <!-- /PRODUCT PREVIEW META -->
    </div>
    <!-- /PRODUCT PREVIEW -->
  </div>
  <!-- /GRID -->

  <!-- SECTION PAGER BAR WRAP -->

  <!-- /SECTION PAGER BAR WRAP -->
</div>
<div class="map-container">
  <app-contact></app-contact>
</div>

<app-footer></app-footer>
