.container {
  max-width: 1920px;
}
.img-c {
  height: 400px;
}
.container::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 21, 0.9);
  z-index: 1;
}

@import url(//fonts.googleapis.com/css?family=Abril+Fatface|Droid+Serif:400,700,400italic,700italic);
html,
body {
  height: 100%;
}
body {
  background: linear-gradient(
    to bottom,
    rgba(0, 5, 10, 0.4) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  font-family: "Droid Serif", serif;
}

.blog-card {
  max-width: 1920px;
  width: 100%;
  height: 500px;
  position: relative;
  font-family: "Droid Serif", serif;
  color: #3678b1;
  top: 20%;
  right: 0;
  left: 0;
  margin: 150px auto 20px auto;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: all 0.4s;

  background-size: 100%;
}

.blog-card a {
  color: #3678b1;
  text-decoration: none;
  transition: all 0.2s;
  line-height: 59px;
  font-size: 68px;
}
.blog-card[_ngcontent-gig-c304] a[_ngcontent-gig-c304] {
  color: #3678b1;
  line-height: 59px;
}

.blog-card .color-overlay {
  width: 1920px;
  height: 500px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.blog-card .gradient-overlay {
  width: 1920px;
  height: 500px;
  position: absolute;
  top: 350px;
  left: 0;
  z-index: 15;
}

/* .blog-card:hover .card-info {
  opacity: 1;
  bottom: 100px;
}
.blog-card:hover .color-overlay {
  background: rgba(64, 64, 70, 0.8);
}
.blog-card:hover .title-content {
  margin-top: 70px;
} */
.title-content {
  text-align: center;
  margin: 170px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.6s;
}

/* .blog-card:hover h3:after {
  animation: changeLetter 0.3s 1 linear;
  width: 80%;
}
 */
.blog-card h3,
h1 {
  font-size: 1.9em;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Abril Fatface", serif;
  margin-bottom: 0;
  display: inline-block;
}
.blog-card h3 a {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}
.blog-card h3 a:hover {
  text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
}
/* h3:after {
  content: " ";
  display: block;
  width: 10%;
  height: 2px;
  margin: 20px auto;
  border: 0;
  background: #bda26b;
  transition: all 0.2s;
} */

@keyframes changeLetter {
  0% {
    width: 10%;
  }
  100% {
    width: 80%;
  }
}

.intro {
  width: 300px;
  margin: 0 auto;
  color: #ddd;
  font-style: italic;
  line-height: 24px;
  font-size: 18px;
}
.intro a {
  color: #ddd;
}
.intro a:hover {
  text-decoration: underline;
}
.card-info {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: -40px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.card-info h4 {
  display: block;
  width: 200px;
  margin: 0px auto;

  color: rgb(243, 243, 243);
  padding: 3px 10px;
  border-radius: 2px;
  font-size: 18px;
}
em {
  color: #9cc9e3;
}
.card-info a:hover {
  background: #8e7c49;
  color: #fff;
}
.card-info a:hover span {
  filter: brightness(10);
  opacity: 1;
}
.utility-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20;
  width: 100%;
  text-align: left;
}
.utility-info:after {
  content: " ";
  background: url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg)
    center no-repeat;
  background-size: 30px auto;
  display: block;
  opacity: 0.4;
  position: absolute;
  bottom: 25px;
  right: 15px;
  width: 30px;
  height: 15px;
}
.secondnav li a {
  color: white !important;
}
.bgcolor {
  background-color: #20205e;
}
.utility-info a:hover {
  text-decoration: underline;
}
.utility-list {
  list-style-type: none;
  margin: 0 0 10px 20px;
  padding: 0;
  width: 100%;
}
.utility-list li {
  margin: 0 5px 0 0;
  padding: 3px 0 15px 0px;
  display: inline-block;

  font-size: 0.8em;
}

.licon {
  position: relative;
  width: 23px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}
.licon:before {
  content: "";
  background: url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg?) -2px -6px
    no-repeat;
  background-size: 250px;
  width: 26px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: -3px;
  left: 0;
}
.icon-white {
  filter: brightness(10);
}
.icon-black {
  filter: brightness(0);
  opacity: 0.6;
}
.icon-like:before {
  background-position: -183px -6px;
}
.icon-com:before {
  background-position: -63px -4px;
}
.icon-dat:before {
  background-position: -94px -7px;
}
.icon-tag:before {
  background-position: -33px -6px;
}

@media (max-width: 750px) {
  .utility-info {
    text-align: center;
  }
  .utility-info ul {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
  .utility-info li {
    width: 49%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
  }
}

@media (max-width: 500px) {
  .utility-info li:last-of-type {
    width: 100%;
  }
  .card-info {
    display: none;
  }
  .blog-card:hover .title-content,
  .title-content {
    margin-top: 40px;
  }
  .blog-card {
    height: 300px;
  }
  .blog-card h3 {
    font-size: 1.3em;
  }
  .intro {
    font-size: 0.8em;
  }
}

/*  ================  */

/* ignore this bit :P */
#profile-badges:after {
  content: "BRO";
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1px 4px 1px 4px;
  color: black !important;
  border-radius: 3px;
  position: relative;
  top: -2px;
  text-shadow: none !important;
  white-space: nowrap;
  letter-spacing: 0;
  background: #ffdd40;
}
.profile-header {
  background: #333
    url(https://images.unsplash.com/photo-1435783099294-283725c37230?dpr=1&auto=compress,format&fit=crop&w=1376&h=635&q=80&cs=tinysrgb&crop=&bg=)
    top center no-repeat;
  background-size: cover;
  font-size: 3em;
  position: relative;
}
.profile-header:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(23, 23, 31, 0.42);
  z-index: 0;
}
#profile-links a {
  font-family: "Abril Fatface", serif;
  font-size: 1.2em;
}

.profile-links a[href*="nodws\.com"]:before {
  content: "\2616";
  color: #0a45b5;
  padding-right: 3px;
}

.profile-links a[href*="twitter"]:before {
  content: "\1f426";
  color: #08c;
}

.profile-links a[href*="dribbble"]:before {
  content: "\26BE";
  color: #d055bf;
}
#following-this-user {
  pointer-events: none;
}
#follow-this-user {
  font-size: 1.2em;
  border-color: #359ef9;
}
#follow-this-user:after {
  content: "\1f448";
}
.links-and-stats {
  background: rgb(20, 20, 21);
}
.profile-name h1 {
  text-shadow: 0 6px 9px rgba(0, 0, 0, 0.48);
}
.profile-avatar {
  bottom: -10px;
  width: 150px;
  height: 150px;
  border: 0px solid #1e1e1e;
  background: rgba(2, 2, 2, 0.49);
  box-shadow: 0 19px 19px -10px rgba(0, 0, 0, 0.63);
}
.profile-username,
.upsell,
.profile-location,
.primary-pro {
  opacity: 0;
}
.upsell,
#pen-as-header-question {
  display: none;
}
.profile-nav-1 a {
  font-size: 1.2rem;
}
.margin {
  margin: 20px auto;
}
.profile-bio,
.profile-nav-1 a.active,
.profile-nav-1 a:hover {
  color: rgba(20, 20, 21, 0.59) !important;
  font-size: 1.2rem;
}
.meta .pen-title {
  font-family: "Droid Serif", serif;
  text-align: center;
}
.pagination-button {
  background-color: #2f2f31;
  border-color: #2f2f31;
  transition: all 0.2s;
}
.pagination-button:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
.single-project .stats,
.single-pen .stats {
  text-align: center;
  width: 100%;
}
.stats svg {
  fill: #bda26b;
}
.stats svg,
.loves .icon-heart {
  fill: rgba(47, 47, 49, 0) !important;
  stroke: #ba6 !important;
  stroke-width: 0.1em !important;
}
.loves .icon-heart {
  stroke-width: 0.5em !important;
}
.comments svg {
  stroke-width: 0.35em !important;
}
.single-stat.loves.loved-1 svg {
  stroke: #fff !important;
}

.single-pen:hover h3:after {
  width: 40%;
  transition: all 0.2s;
}
.pen-actions {
  border: 0px !important;
}
.meta {
  box-shadow: none !important;
}

.blog-cards {
  width: 350px;
  height: 430px;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.blog-cards.spring-fevers {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/bg-blog-card.jpg)
    no-repeat;
}
.blog-cards .color-overlays {
  /* Rectangle 11: */

  width: 350px;
  height: 500px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.blog-cards .gradient-overlays {
  /* bg-gradient: */

  width: 350px;
  height: 500px;
  position: absolute;
  top: 350px;
  left: 0;
  z-index: 15;
}
/* .blog-cards:hover .title-contents h3 {
  display: none;
}
.blog-cards:hover .card-infos {
  opacity: 1;
  bottom: 90px;
} */
/* .blog-cards:hover .color-overlays {
  background: rgba(84, 104, 110, 0.8);
}
.blog-cards:hover .title-contents .intro {
  display: none;
} */

/* .card-info p {
  font-family: "Roboto" sans-serif;
  color: white !important;
} */
.title-contents {
  text-align: center;
  margin: 70px auto 0 auto;
  position: relative;
  z-index: 20;
  max-width: 300px;
  top: 0;
  left: 0;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #9cc9e3;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}
hr {
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #d0bb57;
}
/* .blog-cards:hover .title-contents hr {
  display: none;
} */
.intros {
  max-width: 400px;
  margin: 0 auto;

  color: #dce3e7;
  font-family: "Droid Serif", serif;
  font-size: 16px;
  font-style: italic;
  line-height: 18px;
}
.intros a {
  font-size: 18px;
  line-height: 32px;
}
.card-infos {
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  color: #dce3e7;
  font-family: "Roboto", sans-serif;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.utility-infos {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20;
}
.utility-lists {
  list-style-type: none;
  margin: 0 0 30px 20px;
  padding: 0;
  width: 100%;
}
.utility-lists li {
  margin: 0 15px 0 0;
  padding: 0 0 0 22px;
  display: inline-block;
  color: #dce3e7;
  font-family: "Roboto", sans-serif;
}
.utility-lists li.commentss {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/icon-chat.svg)
    no-repeat 0 0.1em;
}
.utility-lists li.dates {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/icon-calendar.svg)
    no-repeat 0 0.1em;
}

.flex-card {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 130px !important;
  margin-bottom: 20px !important;
}

.map-container {
  max-width: 1200px;
  margin: 20px auto;
}

.title-map {
  max-width: 1200px;
  margin: 0 auto;
}

.title-map h4::before,
.title-map h4::after {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.title-map h4::before {
  position: relative;
  content: " ";
  flex: 1 1;
  margin: auto;
  border-bottom: 3px solid black;
}
.title-map h4::after {
  position: relative;
  content: " ";
  margin: auto;
  flex: 1 1;
  border-bottom: 3px solid black;
}

.title-map h4 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  color: #3678b1;
  text-decoration: none;
  transition: all 0.2s;
  line-height: 59px;
  font-size: 18px;
}
.mrg {
  margin-top: 30px;
  margin-bottom: 20px;
}
.map-container .widget-box {
  top: 50 !important;
  left: 20 !important;
  position: absolute !important;
  z-index: 9999 !important;
}

.framemap {
  max-width: 1200px !important;
  margin: 0 auto !important;
}
@media (max-width: 800px) {
  .flex-card {
    flex-direction: column !important;
    justify-content: center !important;
  }
  .blog-cards.spring-fevers {
    margin: 10px auto !important;
  }
  .framemap {
    width: 90% !important;
    margin: 0 auto !important;
  }
  .widget-box.pad {
    margin-left: 100px !important;
  }
}

.mari h4 {
  margin-top: 100px !important;
  margin-bottom: 40px !important;
}

.top {
  position: relative !important;
  top: 85px !important ;
  height: 500px;
  padding: 0px !important;
}

.height-caroussel {
  height: 500px;
}
.carousel {
  height: 500px !important;
}
.carousel-inner {
  height: 500px !important;
}
.picsum-img-wrapper {
  height: 500px !important;
}

.image-carousel {
  height: 500px !important;
}
.backatt {
  padding: 20px;
}
