<nav class="navb bg-transparent navbar-expand-lg ">
<div class="container-fluid">
<div class="row ">
  <div class="col-lg-3 fox">
    <a class="navbar-brand" href="#">
       <img src="assets/imgs/logoLF.png"> linkedfishers</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main"
      aria-controls="main"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
    <i class="fa-solid fa-bars"></i>
    </button>
  </div>
  <div class="col-lg-8 fo">
    <div class="collapse navbar-collapse bor" id="main">
      <ul class="navbar-nav ms-auto  mb-lg-0">
        <li class="nav-item">
          <a class="nav-link  p-2 p-lg-3 active">Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 p-lg-3">Hébergements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 p-lg-3" >Expériences</a>
        </li>

        <li class="nav-item">
          <a class="nav-link  p-2 p-lg-3">Evénements</a>
        </li>

        <li class="nav-item">
          <a class="nav-link  p-2 p-lg-3" >Inspiration</a>
        </li>

      </ul>
      <a class="btn main-btn text-uppercase ">Login</a>

      <div class="menu-icon">
          <button mat-button [matMenuTriggerFor]="afterMenu" class=" btn  bg-transparent">   <img src="assets/imgs/icon menu .svg" alt="" class="img-fluid"></button>
          <mat-menu #afterMenu="matMenu" xPosition="before">
            <button mat-menu-item>A propos</button>
            <button mat-menu-item>Meteo</button>
            <button mat-menu-item>Card</button>


          </mat-menu>
      </div>
    </div>

    </div>

    </div>

</div>
    <div class="row align-items-center textt">
      <div class="col-lg-12 text-center text-md-start mt-5 mb-5">
        <div class="text">
          <h2 class="fw-bold lh-lg">Tenté par une <span>Experience Notique</span> ?</h2>
          <h2 class="fw-bold lh-lg">Accéder a Nos  offres ET Prenez La Mer !</h2>
          <p>  A Transformative triple-camera system that adds tons of capability widhout complexity</p>
          <a class="btn main-btn mt-3 ms-3" >Devenez un Linkedfishers</a>
          <a class="btn bttn  mt-3 ms-3" >Acceder a nos offres</a>
        </div>
        </div>







        <div class="content align-items-center glass">

  <ul class="row align-items-center  list-unstyled d-flex justify-content-center">
    <li class="col-lg-2 col-md-2  col-sm-2  col-xs-2 active text-center lh-lg" id="Experience"> <img src="assets/imgs/expérience.svg" alt="" class="img-fluid dropdown-toggle  " ></li>
    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center lh-lg"> <img src="assets/imgs/bateau.svg" alt="" class="img-fluid dropdown-toggle active" ></li>
    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center lh-lg"><img src="assets/imgs/évenement.svg" alt="" class="img-fluid dropdown-toggle " ></li>
    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center lh-lg"><img src="assets/imgs/hébergement.svg" alt="" class="img-fluid dropdown-toggle " ></li>
    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center lh-lg"><img src="assets/imgs/boutique.svg" alt="" class="img-fluid dropdown-toggle " ></li>


<div class="pus">
<ul class="row align-items-center list-unstyled puss d-flex justify-content-center mt-5 mb-4">
      <li class="col-lg-2  active text-center lh-lg Experience"><p>Experience des péches</p></li>
      <li class="col-lg-2 text-center lh-lg Bateaux"> <p>Bateaux </p></li>
      <li class="col-lg-2 text-center lh-lg Evénements"><p>Evénements</p></li>
      <li class="col-lg-2 text-center lh-lg Hébergements"><p>Hébergements</p></li>
      <li class="col-lg-2 text-center lh-lg Boutiques"><p>Boutiques</p></li>

    <div class="row   align-items-center list-unstyled ">
      <div class="col-lg-10 d-flex input-search">
        <select class="form-select " aria-label="Default select example">
          <option selected>DISPONIBILITE</option>
          <option value="1">One</option>
        </select>

        <select class="form-select " aria-label="Default select example">
          <option selected>EMPLACEMENT</option>
          <option value="1">One</option>
        </select>

        <select class="form-select " aria-label="Default select example">
          <option selected>TAILLE</option>
          <option value="1">One</option>
        </select>

        <select class="form-select " aria-label="Default select example">
          <option selected>PRIX</option>
          <option value="1">One</option>
        </select>

        <select class="form-select " aria-label="Default select example">
          <option selected>CAPACITE</option>
          <option value="1">One</option>
        </select>
        <a class="btn btna main-btn col-lg-2">  <img src="assets/imgs/recherche.svg" alt="" class="img-fluid rech" ></a>
      </div>



    </div>


</ul>
</div>

</ul> </div>




</div>
</nav>








<div class="offre ">
  <div class="main-title mb-5 pt-5 pb-5  text-center">
    <img src="assets/imgs/Ancre bateau.svg" alt="" class="img-fluid dropdown-toggle img" >
    <h2 class="mb-5 mt-2 fw-bold">Des Offres D'experiences</h2>
  </div>
  <div class="container padding">
    <div class="row">

      <div class="col-md-6 col-lg-4">
        <div class="card mb-3">
            <span class="notify-badge-right fw-bold">1.2 Km</span>
            <span class="notify-badge-left text-uppercase">Evénements</span>
            <img src="assets/imgs/plage.jpg" alt="" class="img-fluid  p-3 m-auto">

          <div class="card-content px-3">
            <p class="m-auto"><img src="assets/imgs/geo-alt.svg" alt="" class="img-fluid me-1">Bizerte</p>
            <p class="m-auto"><span class="fw-bold fs-6 ">120Dt</span> /Personne</p>
            <h5 class="fw-bold"> Exclusivement Linkedfishers</h5>
            <p class="paragraphe">marre de la routine quotidienne?Vous voulez acquérir une nouvelle compétance dans le monde nautique? Regoigner la communauté pour se reconnecter avec la nature </p>
            <div class="row icons align-items-center text-center">
              <div class=" icon-offre">
                <span>
                  <img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                  <p class="text-black-50">10 H</p>
                </span>
                <span>
                  <img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                  <p class="text-black-50">10</p>
                </span>
                <span>
                  <img src="assets/imgs/plage.svg" alt="" class="img-fluid">
                  <p class="text-black-50">Plage</p>
                </span>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-6 col-lg-6">
                <a class="btn main-btn" href="#">reserver vite !</a>
              </div>
              <div class="col-md-6 col-lg-6 action-icon my-auto">
                <img src="assets/imgs/map.svg" alt="" class="img-fluid mx-1">
                <img src="assets/imgs/Icon material-favorite.svg" alt="" class="img-fluid mx-1">
                <img src="assets/imgs/voir +.svg" alt="" class="img-fluid mx-1">

              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3">
            <span class="notify-badge-right fw-bold">1.2 Km</span>
            <span class="notify-badge-left text-uppercase">Evénements</span>
            <img src="assets/imgs/plage.jpg" alt="" class="img-fluid  p-3 m-auto">

          <div class="card-content px-3">
            <p class="m-auto"><img src="assets/imgs/geo-alt.svg" alt="" class="img-fluid me-1">Bizerte</p>
            <p class="m-auto"><span class="fw-bold fs-6 ">120Dt</span> /Personne</p>
            <h5 class="fw-bold"> Exclusivement Linkedfishers</h5>
            <p class="paragraphe">marre de la routine quotidienne?Vous voulez acquérir une nouvelle compétance dans le monde nautique? Regoigner la communauté pour se reconnecter avec la nature </p>
            <div class="row icons align-items-center text-center">
              <div class=" icon-offre">
                <span>
                  <img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                  <p class="text-black-50">10 H</p>
                </span>
                <span>
                  <img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                  <p class="text-black-50">10</p>
                </span>
                <span>
                  <img src="assets/imgs/plage.svg" alt="" class="img-fluid">
                  <p class="text-black-50">Plage</p>
                </span>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-6 col-lg-6">
                <a class="btn main-btn" href="#">reserver vite !</a>
              </div>
              <div class="col-md-6 col-lg-6 action-icon my-auto">
                <img src="assets/imgs/map.svg" alt="" class="img-fluid mx-1">
                <img src="assets/imgs/Icon material-favorite.svg" alt="" class="img-fluid mx-1">
                <img src="assets/imgs/voir +.svg" alt="" class="img-fluid mx-1">

              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3">
            <span class="notify-badge-right fw-bold">1.2 Km</span>
            <span class="notify-badge-left text-uppercase">Evénements</span>
            <img src="assets/imgs/plage.jpg" alt="" class="img-fluid  p-3 m-auto">

          <div class="card-content px-3">
            <p class="m-auto"><img src="assets/imgs/geo-alt.svg" alt="" class="img-fluid me-1">Bizerte</p>
            <p class="m-auto"><span class="fw-bold fs-6 ">120Dt</span> /Personne</p>
            <h5 class="fw-bold"> Exclusivement Linkedfishers</h5>
            <p class="paragraphe">marre de la routine quotidienne?Vous voulez acquérir une nouvelle compétance dans le monde nautique? Regoigner la communauté pour se reconnecter avec la nature </p>
            <div class="row icons align-items-center text-center">
              <div class=" icon-offre">
                <span>
                  <img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                  <p class="text-black-50">10 H</p>
                </span>
                <span>
                  <img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                  <p class="text-black-50">10</p>
                </span>
                <span>
                  <img src="assets/imgs/plage.svg" alt="" class="img-fluid">
                  <p class="text-black-50">Plage</p>
                </span>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-6 col-lg-6">
                <a class="btn main-btn" href="#">reserver vite !</a>
              </div>
              <div class="col-md-6 col-lg-6 action-icon my-auto">
                <img src="assets/imgs/map.svg" alt="" class="img-fluid mx-1">
                <img src="assets/imgs/Icon material-favorite.svg" alt="" class="img-fluid mx-1">
                <img src="assets/imgs/voir +.svg" alt="" class="img-fluid mx-1">

              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3">
            <span class="notify-badge-right fw-bold">1.2 Km</span>
            <span class="notify-badge-left text-uppercase">Evénements</span>
            <img src="assets/imgs/plage.jpg" alt="" class="img-fluid  p-3 m-auto">

          <div class="card-content px-3">
            <p class="m-auto"><img src="assets/imgs/geo-alt.svg" alt="" class="img-fluid me-1">Bizerte</p>
            <p class="m-auto"><span class="fw-bold fs-6 ">120Dt</span> /Personne</p>
            <h5 class="fw-bold"> Exclusivement Linkedfishers</h5>
            <p class="paragraphe">marre de la routine quotidienne?Vous voulez acquérir une nouvelle compétance dans le monde nautique? Regoigner la communauté pour se reconnecter avec la nature </p>
            <div class="row icons align-items-center text-center">
              <div class=" icon-offre">
                <span>
                  <img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                  <p class="text-black-50">10 H</p>
                </span>
                <span>
                  <img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                  <p class="text-black-50">10</p>
                </span>
                <span>
                  <img src="assets/imgs/plage.svg" alt="" class="img-fluid">
                  <p class="text-black-50">Plage</p>
                </span>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-6 col-lg-6">
                <a class="btn main-btn" href="#">reserver vite !</a>
              </div>
              <div class="col-md-6 col-lg-6 action-icon my-auto">
                <img src="assets/imgs/map.svg" alt="" class="img-fluid mx-1">
                <img src="assets/imgs/Icon material-favorite.svg" alt="" class="img-fluid mx-1">
                <img src="assets/imgs/voir +.svg" alt="" class="img-fluid mx-1">

              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3">
            <span class="notify-badge-right fw-bold">1.2 Km</span>
            <span class="notify-badge-left text-uppercase">Evénements</span>
            <img src="assets/imgs/plage.jpg" alt="" class="img-fluid  p-3 m-auto">

          <div class="card-content px-3">
            <p class="m-auto"><img src="assets/imgs/geo-alt.svg" alt="" class="img-fluid me-1">Bizerte</p>
            <p class="m-auto"><span class="fw-bold fs-6 ">120Dt</span> /Personne</p>
            <h5 class="fw-bold"> Exclusivement Linkedfishers</h5>
            <p class="paragraphe">marre de la routine quotidienne?Vous voulez acquérir une nouvelle compétance dans le monde nautique? Regoigner la communauté pour se reconnecter avec la nature </p>
            <div class="row icons align-items-center text-center">
              <div class=" icon-offre">
                <span>
                  <img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                  <p class="text-black-50">10 H</p>
                </span>
                <span>
                  <img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                  <p class="text-black-50">10</p>
                </span>
                <span>
                  <img src="assets/imgs/plage.svg" alt="" class="img-fluid">
                  <p class="text-black-50">Plage</p>
                </span>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-6 col-lg-6">
                <a class="btn main-btn" href="#">reserver vite !</a>
              </div>
              <div class="col-md-6 col-lg-6 action-icon my-auto">
                <img src="assets/imgs/map.svg" alt="" class="img-fluid mx-1">
                <img src="assets/imgs/Icon material-favorite.svg" alt="" class="img-fluid mx-1">
                <img src="assets/imgs/voir +.svg" alt="" class="img-fluid mx-1">

              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3">
            <span class="notify-badge-right fw-bold">1.2 Km</span>
            <span class="notify-badge-left text-uppercase">Evénements</span>
            <img src="assets/imgs/plage.jpg" alt="" class="img-fluid  p-3 m-auto">

          <div class="card-content px-3">
            <p class="m-auto"><img src="assets/imgs/geo-alt.svg" alt="" class="img-fluid me-1">Bizerte</p>
            <p class="m-auto"><span class="fw-bold fs-6 ">120Dt</span> /Personne</p>
            <h5 class="fw-bold"> Exclusivement Linkedfishers</h5>
            <p class="paragraphe">marre de la routine quotidienne?Vous voulez acquérir une nouvelle compétance dans le monde nautique? Regoigner la communauté pour se reconnecter avec la nature </p>
            <div class="row icons align-items-center text-center">
              <div class=" icon-offre">
                <span>
                  <img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                  <p class="text-black-50">10 H</p>
                </span>
                <span>
                  <img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                  <p class="text-black-50">10</p>
                </span>
                <span>
                  <img src="assets/imgs/plage.svg" alt="" class="img-fluid">
                  <p class="text-black-50">Plage</p>
                </span>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-6 col-lg-6">
                <a class="btn main-btn" href="#">reserver vite !</a>
              </div>
              <div class="col-md-6 col-lg-6 action-icon my-auto">
                <img src="assets/imgs/map.svg" alt="" class="img-fluid mx-1">
                <img src="assets/imgs/Icon material-favorite.svg" alt="" class="img-fluid mx-1">
                <img src="assets/imgs/voir +.svg" alt="" class="img-fluid mx-1">

              </div>
            </div>


          </div>
        </div>
      </div>



  </div>
</div>


<div class="bateaux  pb-5">
  <div class="container">
    <div class=" mt-5 pt-5 main-title text-center">
      <img src="assets/imgs/Ancre bateau.svg" alt="" class="img-fluid  icon" >
      <h2 class="mt-2 fw-bold">Nos Bateaux</h2>
    </div>
      <mat-tab-group [color]="accent" mat-align-tabs="center"  animationDuration="2000ms">
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="my-custom-class">NOS BATEAUX</span>
        </ng-template>
          <div class="row p-3">

            <div class="col-md-6 col-lg-4">
              <div class="card pb-3">
                <span class="notify-badge-right fw-bold">1.2 Km</span>
                <span class="notify-badge-left text-uppercase">Evénements</span>
                <img src="assets/imgs/plage.jpg" class="card-img px-3 pt-3 pb-2 img" alt="...">
                <div class="card-content px-3">
                  <p class="m-auto"><img src="assets/imgs/geo-alt.svg" alt="" class="img-fluid me-1">Bizerte</p>
                  <p class="m-auto"><span class="fw-bold fs-6">120 Dt</span> / Personnes</p>
                  <h5 class="fw-bold m-auto"> Exclusivement Linkedfishers</h5>
                  <p class="text-black-50">marre de la routine quotidienne??Regoigner la communauté pour se reconnecter avec la nature </p>
                  <div class="info d-flex">

                      <div class="d-flex icon-bateaux">
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10 H</p>
                        </span>
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10</p>
                        </span>
                        <span><img src="assets/imgs/plage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">Péche</p>
                        </span>
                      </div>

                      <div class="action-icon my-auto ps-2">
                        <img src="assets/imgs/map.svg" alt="" class="img-fluid mx-1">
                        <img src="assets/imgs/Icon material-favorite.svg" alt="" class="img-fluid mx-1 align-middle">
                        <img src="assets/imgs/voir +.svg" alt="" class="img-fluid mx-1">
                      </div>

                  </div>




                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="card pb-3">
                <span class="notify-badge-right fw-bold">1.2 Km</span>
                <span class="notify-badge-left text-uppercase">Evénements</span>
                <img src="assets/imgs/plage.jpg" class="card-img px-3 pt-3 pb-2 img" alt="...">
                <div class="card-content px-3">
                  <p class="m-auto"><img src="assets/imgs/geo-alt.svg" alt="" class="img-fluid me-1">Bizerte</p>
                  <p class="m-auto"><span class="fw-bold fs-6">120 Dt</span> / Personnes</p>
                  <h5 class="fw-bold m-auto"> Exclusivement Linkedfishers</h5>
                  <p class="text-black-50">marre de la routine quotidienne??Regoigner la communauté pour se reconnecter avec la nature </p>
                  <div class="info d-flex">

                      <div class="d-flex icon-bateaux">
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10 H</p>
                        </span>
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10</p>
                        </span>
                        <span><img src="assets/imgs/plage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">Péche</p>
                        </span>
                      </div>

                      <div class="action-icon my-auto ps-2">
                        <img src="assets/imgs/map.svg" alt="" class="img-fluid mx-1">
                        <img src="assets/imgs/Icon material-favorite.svg" alt="" class="img-fluid mx-1 align-middle">
                        <img src="assets/imgs/voir +.svg" alt="" class="img-fluid mx-1">
                      </div>

                  </div>




                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="card pb-3">
                <span class="notify-badge-right fw-bold">1.2 Km</span>
                <span class="notify-badge-left text-uppercase">Evénements</span>
                <img src="assets/imgs/plage.jpg" class="card-img px-3 pt-3 pb-2 img" alt="...">
                <div class="card-content px-3">
                  <p class="m-auto"><img src="assets/imgs/geo-alt.svg" alt="" class="img-fluid me-1">Bizerte</p>
                  <p class="m-auto"><span class="fw-bold fs-6">120 Dt</span> / Personnes</p>
                  <h5 class="fw-bold m-auto"> Exclusivement Linkedfishers</h5>
                  <p class="text-black-50">marre de la routine quotidienne??Regoigner la communauté pour se reconnecter avec la nature </p>
                  <div class="info d-flex">

                      <div class="d-flex icon-bateaux">
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10 H</p>
                        </span>
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10</p>
                        </span>
                        <span><img src="assets/imgs/plage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">Péche</p>
                        </span>
                      </div>

                      <div class="action-icon my-auto ps-2">
                        <img src="assets/imgs/map.svg" alt="" class="img-fluid mx-1">
                        <img src="assets/imgs/Icon material-favorite.svg" alt="" class="img-fluid mx-1 align-middle">
                        <img src="assets/imgs/voir +.svg" alt="" class="img-fluid mx-1">
                      </div>

                  </div>




                </div>
              </div>
            </div>
          </div>


        </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <span class="my-custom-class">NOS EQUIPEMENTS</span>
          </ng-template>
          <div class="row  p-3">
            <div class="col-md-6 col-lg-4">
              <div class="card pb-3">
                <span class="notify-badge-right fw-bold">1.2 Km</span>
                <span class="notify-badge-left text-uppercase">Evénements</span>
                <img src="assets/imgs/plage.jpg" class="card-img px-3 pt-3 pb-2 img" alt="...">
                <div class="card-content px-3">
                  <p class="m-auto"><img src="assets/imgs/geo-alt.svg" alt="" class="img-fluid me-1">Bizerte</p>
                  <p class="m-auto"><span class="fw-bold fs-6">120 Dt</span> / Personnes</p>
                  <h5 class="fw-bold m-auto"> Exclusivement Linkedfishers</h5>
                  <p class="text-black-50">marre de la routine quotidienne??Regoigner la communauté pour se reconnecter avec la nature </p>
                  <div class="info d-flex">

                      <div class="d-flex icon-bateaux">
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10 H</p>
                        </span>
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10</p>
                        </span>
                        <span><img src="assets/imgs/plage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">Péche</p>
                        </span>
                      </div>

                      <div class="action-icon my-auto ps-2">
                        <img src="assets/imgs/map.svg" alt="" class="img-fluid mx-1">
                        <img src="assets/imgs/Icon material-favorite.svg" alt="" class="img-fluid mx-1 align-middle">
                        <img src="assets/imgs/voir +.svg" alt="" class="img-fluid mx-1">
                      </div>

                  </div>




                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="card pb-3">
                <span class="notify-badge-right fw-bold">1.2 Km</span>
                <span class="notify-badge-left text-uppercase">Evénements</span>
                <img src="assets/imgs/plage.jpg" class="card-img px-3 pt-3 pb-2 img" alt="...">
                <div class="card-content px-3">
                  <p class="m-auto"><img src="assets/imgs/geo-alt.svg" alt="" class="img-fluid me-1">Bizerte</p>
                  <p class="m-auto"><span class="fw-bold fs-6">120 Dt</span> / Personnes</p>
                  <h5 class="fw-bold m-auto"> Exclusivement Linkedfishers</h5>
                  <p class="text-black-50">marre de la routine quotidienne??Regoigner la communauté pour se reconnecter avec la nature </p>
                  <div class="info d-flex">

                      <div class="d-flex icon-bateaux">
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10 H</p>
                        </span>
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10</p>
                        </span>
                        <span><img src="assets/imgs/plage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">Péche</p>
                        </span>
                      </div>

                      <div class="action-icon my-auto ps-2">
                        <img src="assets/imgs/map.svg" alt="" class="img-fluid mx-1">
                        <img src="assets/imgs/Icon material-favorite.svg" alt="" class="img-fluid mx-1 align-middle">
                        <img src="assets/imgs/voir +.svg" alt="" class="img-fluid mx-1">
                      </div>

                  </div>




                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="card pb-3">
                <span class="notify-badge-right fw-bold">1.2 Km</span>
                <span class="notify-badge-left text-uppercase">Evénements</span>
                <img src="assets/imgs/plage.jpg" class="card-img px-3 pt-3 pb-2 img" alt="...">
                <div class="card-content px-3">
                  <p class="m-auto"><img src="assets/imgs/geo-alt.svg" alt="" class="img-fluid me-1">Bizerte</p>
                  <p class="m-auto"><span class="fw-bold fs-6">120 Dt</span> / Personnes</p>
                  <h5 class="fw-bold m-auto"> Exclusivement Linkedfishers</h5>
                  <p class="text-black-50">marre de la routine quotidienne??Regoigner la communauté pour se reconnecter avec la nature </p>
                  <div class="info d-flex">

                      <div class="d-flex icon-bateaux">
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10 H</p>
                        </span>
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10</p>
                        </span>
                        <span><img src="assets/imgs/plage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">Péche</p>
                        </span>
                      </div>

                      <div class="action-icon my-auto ps-2">
                        <img src="assets/imgs/map.svg" alt="" class="img-fluid mx-1">
                        <img src="assets/imgs/Icon material-favorite.svg" alt="" class="img-fluid mx-1 align-middle">
                        <img src="assets/imgs/voir +.svg" alt="" class="img-fluid mx-1">
                      </div>

                  </div>




                </div>
              </div>
            </div>
          </div>


        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <span class="my-custom-class">NOS HEBERGEMENTS</span>
        </ng-template>
          <div class="row  p-3">
            <div class="col-md-6 col-lg-4">
              <div class="card pb-3">
                <span class="notify-badge-right fw-bold">1.2 Km</span>
                <span class="notify-badge-left text-uppercase">Evénements</span>
                <img src="assets/imgs/plage.jpg" class="card-img px-3 pt-3 pb-2 img" alt="...">
                <div class="card-content px-3">
                  <p class="m-auto"><img src="assets/imgs/geo-alt.svg" alt="" class="img-fluid me-1">Bizerte</p>
                  <p class="m-auto"><span class="fw-bold fs-6">120 Dt</span> / Personnes</p>
                  <h5 class="fw-bold m-auto"> Exclusivement Linkedfishers</h5>
                  <p class="text-black-50">marre de la routine quotidienne??Regoigner la communauté pour se reconnecter avec la nature </p>
                  <div class="info d-flex">

                      <div class="d-flex icon-bateaux">
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10 H</p>
                        </span>
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10</p>
                        </span>
                        <span><img src="assets/imgs/plage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">Péche</p>
                        </span>
                      </div>

                      <div class="action-icon my-auto ps-2">
                        <img src="assets/imgs/map.svg" alt="" class="img-fluid mx-1">
                        <img src="assets/imgs/Icon material-favorite.svg" alt="" class="img-fluid mx-1 align-middle">
                        <img src="assets/imgs/voir +.svg" alt="" class="img-fluid mx-1">
                      </div>

                  </div>




                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="card pb-3">
                <span class="notify-badge-right fw-bold">1.2 Km</span>
                <span class="notify-badge-left text-uppercase">Evénements</span>
                <img src="assets/imgs/plage.jpg" class="card-img px-3 pt-3 pb-2 img" alt="...">
                <div class="card-content px-3">
                  <p class="m-auto"><img src="assets/imgs/geo-alt.svg" alt="" class="img-fluid me-1">Bizerte</p>
                  <p class="m-auto"><span class="fw-bold fs-6">120 Dt</span> / Personnes</p>
                  <h5 class="fw-bold m-auto"> Exclusivement Linkedfishers</h5>
                  <p class="text-black-50">marre de la routine quotidienne??Regoigner la communauté pour se reconnecter avec la nature </p>
                  <div class="info d-flex">

                      <div class="d-flex icon-bateaux">
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10 H</p>
                        </span>
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10</p>
                        </span>
                        <span><img src="assets/imgs/plage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">Péche</p>
                        </span>
                      </div>

                      <div class="action-icon my-auto ps-2">
                        <img src="assets/imgs/map.svg" alt="" class="img-fluid mx-1">
                        <img src="assets/imgs/Icon material-favorite.svg" alt="" class="img-fluid mx-1 align-middle">
                        <img src="assets/imgs/voir +.svg" alt="" class="img-fluid mx-1">
                      </div>

                  </div>




                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="card pb-3">
                <span class="notify-badge-right fw-bold">1.2 Km</span>
                <span class="notify-badge-left text-uppercase">Evénements</span>
                <img src="assets/imgs/plage.jpg" class="card-img px-3 pt-3 pb-2 img" alt="...">
                <div class="card-content px-3">
                  <p class="m-auto"><img src="assets/imgs/geo-alt.svg" alt="" class="img-fluid me-1">Bizerte</p>
                  <p class="m-auto"><span class="fw-bold fs-6">120 Dt</span> / Personnes</p>
                  <h5 class="fw-bold m-auto"> Exclusivement Linkedfishers</h5>
                  <p class="text-black-50">marre de la routine quotidienne??Regoigner la communauté pour se reconnecter avec la nature </p>
                  <div class="info d-flex">

                      <div class="d-flex icon-bateaux">
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10 H</p>
                        </span>
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10</p>
                        </span>
                        <span><img src="assets/imgs/plage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">Péche</p>
                        </span>
                      </div>

                      <div class="action-icon my-auto ps-2">
                        <img src="assets/imgs/map.svg" alt="" class="img-fluid mx-1">
                        <img src="assets/imgs/Icon material-favorite.svg" alt="" class="img-fluid mx-1 align-middle">
                        <img src="assets/imgs/voir +.svg" alt="" class="img-fluid mx-1">
                      </div>

                  </div>




                </div>
              </div>
            </div>
          </div>


        </mat-tab>
        <mat-tab  >
          <ng-template mat-tab-label>
            <span class="my-custom-class">BOUTIQUE</span>
        </ng-template>
          <div class="row  p-3">
            <div class="col-md-6 col-lg-4">
              <div class="card pb-3">
                <span class="notify-badge-right fw-bold">1.2 Km</span>
                <span class="notify-badge-left text-uppercase">Evénements</span>
                <img src="assets/imgs/plage.jpg" class="card-img px-3 pt-3 pb-2 img" alt="...">
                <div class="card-content px-3">
                  <p class="m-auto"><img src="assets/imgs/geo-alt.svg" alt="" class="img-fluid me-1">Bizerte</p>
                  <p class="m-auto"><span class="fw-bold fs-6">120 Dt</span> / Personnes</p>
                  <h5 class="fw-bold m-auto"> Exclusivement Linkedfishers</h5>
                  <p class="text-black-50">marre de la routine quotidienne??Regoigner la communauté pour se reconnecter avec la nature </p>
                  <div class="info d-flex">

                      <div class="d-flex icon-bateaux">
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10 H</p>
                        </span>
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10</p>
                        </span>
                        <span><img src="assets/imgs/plage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">Péche</p>
                        </span>
                      </div>

                      <div class="action-icon my-auto ps-2">
                        <img src="assets/imgs/map.svg" alt="" class="img-fluid mx-1">
                        <img src="assets/imgs/Icon material-favorite.svg" alt="" class="img-fluid mx-1 align-middle">
                        <img src="assets/imgs/voir +.svg" alt="" class="img-fluid mx-1">
                      </div>

                  </div>




                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="card pb-3">
                <span class="notify-badge-right fw-bold">1.2 Km</span>
                <span class="notify-badge-left text-uppercase">Evénements</span>
                <img src="assets/imgs/plage.jpg" class="card-img px-3 pt-3 pb-2 img" alt="...">
                <div class="card-content px-3">
                  <p class="m-auto"><img src="assets/imgs/geo-alt.svg" alt="" class="img-fluid me-1">Bizerte</p>
                  <p class="m-auto"><span class="fw-bold fs-6">120 Dt</span> / Personnes</p>
                  <h5 class="fw-bold m-auto"> Exclusivement Linkedfishers</h5>
                  <p class="text-black-50">marre de la routine quotidienne??Regoigner la communauté pour se reconnecter avec la nature </p>
                  <div class="info d-flex">

                      <div class="d-flex icon-bateaux">
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10 H</p>
                        </span>
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10</p>
                        </span>
                        <span><img src="assets/imgs/plage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">Péche</p>
                        </span>
                      </div>

                      <div class="action-icon my-auto ps-2">
                        <img src="assets/imgs/map.svg" alt="" class="img-fluid mx-1">
                        <img src="assets/imgs/Icon material-favorite.svg" alt="" class="img-fluid mx-1 align-middle">
                        <img src="assets/imgs/voir +.svg" alt="" class="img-fluid mx-1">
                      </div>

                  </div>




                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="card pb-3">
                <span class="notify-badge-right fw-bold">1.2 Km</span>
                <span class="notify-badge-left text-uppercase">Evénements</span>
                <img src="assets/imgs/plage.jpg" class="card-img px-3 pt-3 pb-2 img" alt="...">
                <div class="card-content px-3">
                  <p class="m-auto"><img src="assets/imgs/geo-alt.svg" alt="" class="img-fluid me-1">Bizerte</p>
                  <p class="m-auto"><span class="fw-bold fs-6">120 Dt</span> / Personnes</p>
                  <h5 class="fw-bold m-auto"> Exclusivement Linkedfishers</h5>
                  <p class="text-black-50">marre de la routine quotidienne??Regoigner la communauté pour se reconnecter avec la nature </p>
                  <div class="info d-flex">

                      <div class="d-flex icon-bateaux">
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10 H</p>
                        </span>
                        <span><img src="assets/imgs/personnage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">10</p>
                        </span>
                        <span><img src="assets/imgs/plage.svg" alt="" class="img-fluid">
                          <p class="text-black-50">Péche</p>
                        </span>
                      </div>

                      <div class="action-icon my-auto ps-2">
                        <img src="assets/imgs/map.svg" alt="" class="img-fluid mx-1">
                        <img src="assets/imgs/Icon material-favorite.svg" alt="" class="img-fluid mx-1 align-middle">
                        <img src="assets/imgs/voir +.svg" alt="" class="img-fluid mx-1">
                      </div>

                  </div>




                </div>
              </div>
            </div>
          </div>


        </mat-tab>
      </mat-tab-group>
    </div>
</div>

<div class="map">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ">
          <app-map></app-map>
      </div>
      <div class="col-lg-4 col-map">
        <h3 class="text-uppercase">Carte des services</h3>
      </div>
    </div>

  </div>
</div>


<div class="footer pt-5 pb-5 text-white-50 text-center text-md-start">
  <div class="container">
    <div class="subscribe pt-3 pb-3 text-center text-md-start">
        <h3 class="fw-bold  mb-3">
          Contactez nous
        </h3>
        <form class="row  text-center">
          <div class="col-md-6 col-lg-9 mb-5">
            <input type="text" class="w-100 p-2" placeholder="Enter Your Email Adress">
          </div>
          <div class="col-md-6 col-lg-3">

            <a class="btn btnn main-btn" href="#"><i class="fa-solid fa-envelope"></i> Email</a>
          </div>
        </form>

    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 text-left">
        <div class="footer-logo">
          <img src="assets/imgs/logoLF.png" class="mb-4 fw-bold"> Linkedfishers
          <p class="mb-5 fw-bold">Get out there & discover your next slope,mountain & destination </p>
        </div>
        <div class="copyright">

          <div class="text-white-50 fw-bold">Copyright &copy; HOOKEDUP</div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 text-center">
        <div class="contact fw-bold">
          Contact & support
          <ul class="list-unstyled lh-lg text-light mt-3 ">
            <li class="fw-bold">+216 96 600 900</li>
            <li class="fw-bold">linkedfishers@gmail.com</li>


          </ul>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 text-right">
        <div class="contact fw-bold">
          Payment Securisé
          <ul class="list-unstyled lh-lg text-light mt-3 ">

            <li> <img
              src="../../../../assets/img/badge/PaiementSecuriseLogo2.png"
              alt=""
              class="image-payment"
            /></li>
            <li>
              <p class="lh-lg mt-3 mb-5 text-white-50 fw-bold">Privacy Policy Terms of Use</p> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>





