<div class="blog-card spring-fever">
  <div class="title-content">
    <h3><a href="#">Qui Sommes Nous</a></h3>
    <div class="intros">
      <a href="#">
        linkedfishers.com est une marque déposée de la startup HOOKEDUP, c'est
        une solution digitale globale totalement dédiée à la communauté
        internationale de la pêche récréative et du Nautisme</a
      >
    </div>
  </div>
  <div class="card-info">
    <a href="#">Voir Plus<span class="licon icon-arr icon-black"></span></a>
  </div>
  <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
</div>

<div class="flex-card">
  <div class="blog-cards spring-fevers">
    <div class="title-contents">
      <h3>Service One</h3>
      <hr />
      <div class="intros">Yllamco laboris nisi ut aliquip ex ea commodo.</div>
    </div>
    <!-- /.title-content -->
    <div class="card-infos">
      Vous êtes à la recherche d'un service, d'un produit ou que vous souhaitiez
      une sortie à la carte, linkedfishers.com est votre outil incontournable,
      votre unique espace où l'offre est inclusivement disponible et la sortie
      est 100% personnalisable! (Prévisions météo, diverses offres de produits
      et de service, du contenu utile partagé par les membres de la
      communauté...) les sorties de pêche n'ont jamais été plus simples grâce au
      concept "one stop shop"
    </div>
    <!-- /.card-info -->

    <!-- /.utility-info -->
    <!-- overlays -->
    <div class="gradient-overlays"></div>
    <div class="color-overlays"></div>
  </div>
  <div class="blog-cards spring-fevers">
    <div class="title-contents">
      <h3>Service Two</h3>
      <hr />
      <div class="intros">Yllamco laboris nisi ut aliquip ex ea commodo.</div>
    </div>
    <!-- /.title-content -->
    <div class="card-infos">
      Membre de cette communauté à la recherche d'un revenu supplémentaire et
      une meilleure optimisation de vos tout en vivant pleinement votre passion
      et en partageant vos expériences et savoir-faire avec les membres de la
      communauté : Linkedfishers.com est l'unique plateforme au monde qui offre
      cette fonctionnalité d'intermédiation économique collaborative et du
      Co-sharing ! actifs (équipements, services, hébergement côtier,
      bateaux...)
    </div>
    <!-- /.card-info -->

    <!-- /.utility-info -->
    <!-- overlays -->
    <div class="gradient-overlays"></div>
    <div class="color-overlays"></div>
  </div>
  <div class="blog-cards spring-fevers">
    <div class="title-contents">
      <h3>Service Three</h3>
      <hr />
      <div class="intros">Yllamco laboris nisi ut aliquip ex ea commodo.</div>
    </div>
    <!-- /.title-content -->
    <div class="card-infos">
      Professionnel ou Freelancer voulant profiter de la visibilité qu'offre la
      plateforme Likedfisher.com et son pouvoir communautaire, vous pouvez
      proposer vos offres et services sur notre plateforme et vous verrez votre
      chiffre d'affaires décoller !
    </div>
    <!-- /.card-info -->

    <!-- /.utility-info -->
    <!-- overlays -->
    <div class="gradient-overlays"></div>
    <div class="color-overlays"></div>
  </div>
  <!-- /.blog-card -->
</div>
