/* start navbar */
.navb{
  min-height: 90vh;
  background-image: url(../../../../assets/imgs/1.png);
  background-size:cover;
}
.navb .container-fluid .glass{
  margin-top: 2%;
}

.navb a img{
  width:60px;
  height:60px
}


.navb .menu-icon button{
border: none ;
}
.navb .menu-icon button img{
  width: 40px;
  margin-left: 9rem;
  transition: transform .9s ease-in-out;

}

.navb .menu-icon button img:hover {
  transform: rotate(180deg);
}
.navb .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;

}
.navbar span {
  color: var( --blue-color);
}
.navbar .main-btn {
  background-color: var(--orange-color);
  color: white;
}

.navbar .offre-btn{
  background-color: var(--blue-color);
  color: white;
  padding: 0.5rem 1rem;
}

.navb .textt{
  padding:20px;
      margin-left: 2%;
      MARGIN-TOP: 3%;
}
.navb .textt h2,.navb .textt p,.navb .textt a{
  color:#fff
}
.navb .textt span{
  color:#5BD2E8;
  font-weight:500;
}
.navb .textt .bttn{
  background: rgba( 255, 255, 255, 0.20 );

backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );

}


.navb .navbar-nav{
  border-bottom: 2px solid #fff;
  border-bottom-color: rgba( 255, 255, 255, 0.18 );

}
/* .navb .bor ul li a:active, .navb .bor ul li a:active{
  border-bottom:2px solid #f54b2a;
} */
.navb .navbar-nav .nav-link.active,
.navb .navbar-nav .nav-link.focus ,
.navb .navbar-nav .nav-link.hover {
  border-bottom:2px solid #f54b2a;

};

.navb .navbar-nav .nav-link {
  color: white;
}
.navb .bor ul li a{
  color:#fff;
}
.search{
  background-color: rgb(41, 40, 40);
}
.search ul li{
  padding :0.5rem 1rem;
  cursor: pointer;
  color: white;

}
.content .row .fa-solid{
  width: 100%;
  color: #dee2e6;
}
.content .row .fa-solid:active{
  width: 80px;
  color:#f54b2a;
  border-bottom: 5px solid #f54b2a;

}

.content.recherche .ssearch{
  background-color: #f54b2a;
  color:#fff;
}

.content .row  ul .puss {
  background-color: #dee2e666;
height:140px;
}
.content .pus  ul li p{
  margin:-40px 0 0 0 !important;
}

.content .pus  ul li p:hover{
  color: #02134b;
}

.content  ul li img{
  width: 3rem;
}
.content ul li img.active {
  border-bottom: 3px solid #f54b2a;
  height: 4rem;
}
.content .pp{
  width:85%;
}
.content .pus i{
  color:#fff;
  background-color: #f54b2a;
  border-radius: 45%;
}
.content .pp .recherche input{
  border-left: #cacace;

}
.content .recherche{
  width: 80% !important;
  border-radius: 15px;
  background-color: #fff;

}
.content .row  ul li{
  font-weight: 700;
  font-size: 18px;
}
.content .recherche i{
  background-color: #f54b2a;
  color:#fff !important;
  border-radius: 50%;
  justify-content: space-between;
}
.navb .container-fluid .row .fo,.navb .container-fluid .row .fox{
  margin-top: 3%;
}
.navb .container-fluid .row .fox{
  margin-left:3%;
}

.content .recherche input{
border:none;

border-right:2px solid rgb(198 198 198 / 22%) !important ;
}

.content .input-search {
  border: none;

  border-radius: 20px;
  select {
    border-left: none;
  }
  a {
    height: 3rem;

    width: 3rem;
  }
  .rech{
    width:none;
    height:none;
margin-top:-1rem;

  }
}

.content .pus{

 background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );

border-radius: 10px;

}
/* .content .recherche input::before{
content: '';
width: 40px;
height: 4px;
background-color: var(--main-color);
position: absolute;
left: 50%;
margin-left: -20px;
bottom: -22px;
} */
.content .recherche input
.search .icon{
  font-size: 1.5rem;
  text-align: center;
}
.search ul li:hover{
  color: var(--orange-color);
}



/* end navbar */


/* start serach */
.search{
  background-color: rgb(41, 40, 40);
}
.search ul li{
  padding :0.5rem 1rem;
  cursor: pointer;
  color: white;
}

.search .icon{
  font-size: 1.5rem;
  text-align: center;
}

.search ul li:hover{
  color: var(--orange-color);
}
/* end search */


/* start offre */
.main-title i {
  font-size: 50px;
}
.offre .main-title {
  background-color: var(--blue-color);
}

.main-title h2 {
  color: white;
}
.offre .main-title .img {
  margin-top: -5rem;
}
.offre .padding {
  margin-top: -7rem;
}
.offre .card {
  position:relative;
  display:inline-block;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 0.5rem ;
  border: none;
}
.offre .card .notify-badge-left{
  position: absolute;
  top: 20px;
  background: var(--blue-color);
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 0.5rem;
  right: 1rem;
  margin: 10px;
  margin-right: 1rem;
}
.offre .card .notify-badge-right{
  position: absolute;
  top: 20px;
  background: #212529b0;
  color: white;
  text-align: center;
  border-radius: 20px;
  padding: 2px 15px;
  font-size: 0.6rem;
  margin: 10px;
  margin-left: 2rem;

}
.offre .card img {
  border-radius: 1.5rem;
    height: 14rem;
    width: -webkit-fill-available;

}
.offre .card .card-content > p {
  color: #cacace;

}

.offre .card .card-content p {
  font-size: 0.7rem;
  line-height: inherit;
  margin-top: 5px;
}

.offre .card .card-content p img {
  width: 0.8rem;
}
.offre .card .card-content p span{
  color: var(--orange-color);

}

.offre .card .icon-offre {
  display: flex;
  justify-content: space-around;
}
.offre .card .card-content .icons{
  background-color:var(--light-color);
  border-color: #1e62eb;
  width: 70%;
  margin-left: 2px;
  border-radius: 5px;
}
.offre .card .card-content .icons img {
  width: 20px;
  height: 20px;
}

.offre .card .card-content .action-icon img {
  background-color: var(--orange-color);
  border-radius: 5px;
}
.offre .main-btn {
  background-color: var(--orange-color);
  color: white;
  font-size: 0.8rem;
}

.offre .light-btn {
  background-color: #ebebeb;
  color: white;
  font-size: 0.8rem;
}
.offre .card .card-content img {
  width: 20px;
  height: 20px;

}
/* end offre */

/* start bateaux */
.bateaux {
  background-color: var(--blue-color);

}

.bateaux .icon {
  margin-top: -3rem;
}
.bateaux .card .img {
  height: 13rem;
  width: -webkit-fill-available;
}
.bateaux .card .icon-bateaux{
  display: flex;
  width: fit-content;
  background-color:var(--light-color);

}

.bateaux .card .info {
  justify-content: space-between;

}

.bateaux .card  .icon-bateaux {
  border-radius: 5px;
}
.bateaux .card .info .icon-bateaux span{
margin: 5px;
margin-left: 16px;
margin-right: 12px;
}
.bateaux .card .card-content img {
  width: 20px;
  height: 20px;
}

.bateaux .card .card-content p {
  font-size: 0.6rem;
}

.my-custom-class {
  color: white;
}
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: var(--orange-color) !important;
}

/* end bateaux */

/* start subscribe */

.subscribe {
  transform: translate(20%,0);
  .btnn{
    width: -webkit-fill-available;

  }
}

.subscribe input[type="text"]{
  border: none;
  border-bottom: 1px solid white;
}

.subscribe input[type="text"]:focus{
  outline: none;
}

.subscribe ::placeholder {
  color: black;
}
.subscribe h3{
  color: var(--blue-color);

}
.subscribe form {
  width: 70%;
}
.main-btn{
background-color: var(--orange-color);
color: white;
text-align: start;
}
/* end subscribe */

/* start map */
.map {
  margin: 5rem 0;
}
.map .col-map{
  transform: translateY(50%);
  h3{
    text-align: right;
  }
}
/* end map */

/* start footer */
.footer{
  background-color: var(--dark-color);
  .footer-info{
    text-align: right;
  }
}


.footer img {
  width: 40px;
  color: white;
  .image-payment{
    width: 100px;
  }
}

.footer p {
  color: var(--blue-color);
  font-size: 0.8rem;
}
.footer .contact {
  color: var(--orange-color);
}

.footer ul {
  font-size: 0.8rem;
}
/* end footer */




.mat-tab-group {
  margin-bottom: 48px;
}


 .g-form-control .nav-tabs {
  border: none;
  margin-top: 50px
}

 .g-form-control .nav-tabs li a {
  background-color: #07c8b9;
  color: #fff;
  border-color: #07c8b9;
  padding: 7px 25px;
  border-radius: 15px 15px 0px 0px;
  font-size: 12px;
  margin-right: 0px;
  text-decoration: none;
  display: block
}


.g-form-control .nav-tabs li a i {
  font-size: 16px;
  position: relative;
  top: 1px;
  line-height: 16px;
  margin-right: 2px
}

.g-form-control .nav-tabs li a.active {
  background-color: var(--orange-color);
  color: #fff;
  border-color: var(--orange-color)
}

.bravo_form {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.bravo_form .g-field-search {
  flex: 0 0 90%;
  max-width: 90%;
  flex-grow: 1;
  padding: 0 15px
}


.bravo_form .g-button-submit button {
  height: 100%;
  width: 100%;
  border-radius: 0 15px 15px 0;
  background: #5191fa;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  padding: 0
}
.bravo_form .g-button-submit {
  flex: 0 0 10%;
  max-width: 10%;
  flex-grow: 1;
  position: relative;}
  .bravo_form .g-button-submit button {
    height: 100%;
    width: 100%;
    border-radius: 0 15px 15px 0;
    background: #f55420;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    padding: 0;}

.bravo_form .field-icon {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  font-size: 40px;
  color: #5191fa;
  left: 15px
}

