<!-- <header class="header">

  <div class="header-actions">

    <a [routerLink]="['/']">
      <div class="header-brand">

        <div class="logo">

          <img
            id="logo"
            class="icon-logo-vikinger"
            src="../../../../assets/img/logo silver & blanc-ai.png"
          />

        </div>

      </div>
    </a>

  </div>

  <div class="header-actions">

    <div class="sidemenu-trigger navigation-widget-trigger">

      <svg class="icon-grid">
        <use xlink:href="#svg-grid"></use>
      </svg>

    </div>
    <nav class="navigation">

      <ul class="menu-main custommargin">

        <li class="menu-main-item">

          <a class="menu-main-item-link" [routerLink]="['/']">{{
            "home" | translate
          }}</a>

        </li>
        <li *ngIf="isAdmin" class="menu-main-item">
          <a class="menu-main-item-link" [routerLink]="['/admin']">
            {{ "admin" | translate }}</a
          >
        </li>

        <li class="menu-main-item">

          <a class="menu-main-item-link" [routerLink]="['/reglement']">{{
            "rules" | translate
          }}</a>

        </li>
        <li class="menu-main-item">

          <a class="menu-main-item-link" [routerLink]="['/about-us']">{{
            "about_us" | translate
          }}</a>

        </li>
        <li *ngIf="!isProvider" class="menu-main-item">

          <a class="menu-main-item-link" [routerLink]="['/map']">

            {{ "map" | translate }}
          </a>

        </li>

      </ul>
    </nav>
  </div>


  <div class="header-actions search-bar">
    <div class="interactive-input dark">
      <input
        (keyup)="search()"
        [(ngModel)]="searchKeyword"
        type="text"
        id="search-main"
        name="search_main"
        placeholder="Search here for people or groups"
      />

      <div class="interactive-input-icon-wrap">

        <svg class="interactive-input-icon icon-magnifying-glass">
          <use xlink:href="#svg-magnifying-glass"></use>
        </svg>

      </div>

      <div class="interactive-input-action">

        <svg class="interactive-input-action-icon icon-cross-thin">
          <use xlink:href="#svg-cross-thin"></use>
        </svg>

      </div>

    </div>

    <div class="dropdown-box padding-bottom-small header-search-dropdown">

      <div class="dropdown-box-category">

        <p class="dropdown-box-category-title">Members</p>

      </div>

      <div class="dropdown-box-list small no-scroll">

        <a
          *ngFor="let user of searchedUsers"
          [routerLink]="['/profile', user?.slug]"
          routerLinkActive="router-link-active"
          class="dropdown-box-list-item"
        >

          <div class="user-status notification">

            <div class="user-status-avatar">
              <div class="user-avatar small no-outline">
                <figure class="picture round liquid small">
                  <img
                    class="round"
                    [src]="user?.profilePicture | picture"
                    alt="avatar-01"
                  />
                </figure>
              </div>
            </div>

            <p class="user-status-title">
              <span class="bold">{{ user?.fullName }}</span>
            </p>

            <div class="user-status-icon">
              <svg class="icon-friend">
                <use xlink:href="#svg-friend"></use>
              </svg>

            </div>

          </div>

        </a>

      </div>

    </div>

  </div>


  <div *ngIf="isGuest" class="header-actions">

    <form class="login-form">

      <div class="form-row split">

        <button
          [routerLink]="['/login']"
          style="width: 200px; margin-right: 52px"
          class="button medium secondary"
        >
          {{ "login" | translate }}
        </button>
      </div>
    </form>

  </div>


  <div [hidden]="isGuest" class="header-actions">
    <div class="action-list dark">
      <div class="action-list-item-wrap">
        <div class="action-list-item header-dropdown-trigger">
          <svg class="action-list-item-icon icon-friend">
            <use xlink:href="#svg-translate"></use>
          </svg>
        </div>

        <div class="dropdown-box header-dropdown language heig">
          <div class="dropdown-box-header">
            <p class="dropdown-box-header-title">
              {{ "language" | translate }}
            </p>
          </div>

          <div class="dropdown-box-list" data-simplebar>
            <a [routerLink]="" (click)="setLanguage('en')">
              <div
                class="dropdown-box-list-item"
                [ngClass]="{ active: currentUser?.language == 'en' }"
              >
                <div class="user-status request">
                  <a class="user-status-avatar" href="profile-timeline.html">
                    <div class="user-avatar small no-outline">
                      <figure>
                        <img src="./assets/img/flag/GB.png" alt="avatar-01" />
                      </figure>
                    </div>
                  </a>

                  <p class="user-status-title"><a class="bold">English</a></p>
                </div>
              </div>
            </a>
            <br />

            <a [routerLink]="" (click)="setLanguage('fr')">
              <div
                class="dropdown-box-list-item"
                [ngClass]="{ active: currentUser?.language == 'fr' }"
              >
                <div class="user-status request">
                  <a class="user-status-avatar" href="profile-timeline.html">
                    <div class="user-avatar small no-outline">
                      <div class="user-avatar small no-outline">
                        <figure>
                          <img src="./assets/img/flag/FR.png" alt="avatar-01" />
                        </figure>
                      </div>
                    </div>
                  </a>

                  <p class="user-status-title"><a class="bold">Français</a></p>
                </div>
              </div>
            </a>
            <br />
            <a [routerLink]="" (click)="setLanguage('ar')">
              <div
                class="dropdown-box-list-item"
                [ngClass]="{ active: currentUser?.language == 'ar' }"
              >
                <div class="user-status request">
                  <a class="user-status-avatar" href="profile-timeline.html">
                    <div class="user-avatar small no-outline">
                      <div class="user-avatar small no-outline">
                        <figure>
                          <img src="./assets/img/flag/TN.png" alt="avatar-01" />
                        </figure>
                      </div>
                    </div>
                  </a>

                  <p class="user-status-title"><a class="bold">عربي</a></p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="action-list-item-wrap">
        <div
          [ngClass]="{ unread: notifications?.length }"
          class="action-list-item header-dropdown-trigger"
        >
          <svg class="action-list-item-icon icon-notification">
            <use xlink:href="#svg-notification"></use>
          </svg>
        </div>

        <div class="dropdown-box header-dropdown">
          <div class="dropdown-box-header">
            <p class="dropdown-box-header-title">Notifications</p>

            <div class="dropdown-box-header-actions">
              <p class="dropdown-box-header-action">Mark all as Read</p>
            </div>
          </div>

          <div class="dropdown-box-list" data-simplebar>
            <div
              *ngFor="let notification of notifications; let i = index"
              class="dropdown-box-list-item unread"
            >
              <div class="user-status notification">
                <div class="user-status-avatar">
                  <div class="user-avatar small no-outline">
                    <figure>
                      <img
                        class="round"
                        [src]="notification?.sender?.profilePicture | picture"
                        alt="avatar-01"
                      />
                    </figure>
                  </div>
                </div>

                <p class="user-status-title">
                  <a
                    [routerLink]="['/profile', notification.sender.slug]"
                    class="bold"
                  >
                    {{ notification?.sender?.fullName }}
                  </a>
                  <a (click)="goToNotification(i)" [routerLink]="">{{
                    notification?.type | translate
                  }}</a>
                </p>

                <p class="user-status-timestamp">
                  {{ notification?.createdAt | timeAgo: language }}
                </p>

                <div
                  [hidden]="notification.type != 'commented_post'"
                  class="user-status-icon"
                >
                  <svg class="icon-comment">
                    <use xlink:href="#svg-comment"></use>
                  </svg>
                </div>

                <div
                  [hidden]="notification.type != 'liked_post'"
                  class="user-status-icon"
                >
                  <svg class="icon-thumbs-up">
                    <use xlink:href="#svg-thumbs-up"></use>
                  </svg>
                </div>
                <div
                  [hidden]="notification.type != 'followed_you'"
                  class="user-status-icon"
                >
                  <svg class="icon-thumbs-up">
                    <use xlink:href="#svg-add-friend"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>

          <a
            class="dropdown-box-button secondary"
            [routerLink]="['/notifications']"
            >View all Notifications</a
          >
        </div>
      </div>
    </div>

    <div class="action-item-wrap">
      <div class="action-item dark header-settings-dropdown-trigger">
        <svg class="action-item-icon icon-settings">
          <use xlink:href="#svg-settings"></use>
        </svg>
      </div>

      <div class="dropdown-navigation header-settings-dropdown">
        <div class="dropdown-navigation-header">
          <div class="user-status">
            <div class="user-status-avatar">
              <div class="user-avatar small no-outline">
                <figure>
                  <img
                    [src]="currentUser?.profilePicture | picture"
                    alt="avatar-01"
                  />
                </figure>
              </div>
            </div>

            <p class="user-status-title">
              <span class="bold">Hi {{ firstname }}!</span>
            </p>
          </div>
        </div>

        <p class="dropdown-navigation-category">Account</p>

        <a class="dropdown-navigation-link" [routerLink]="['/settings']"
          >Account Info</a
        >


        <p class="dropdown-navigation-category">Reservations</p>
        <a
          class="dropdown-navigation-link"
          [routerLink]="['/booking-requests']"
          >{{ "manage_res_req" | translate }}</a
        >
        <p
          *ngIf="!isProvider"
          class="dropdown-navigation-link"
          routerLinkActive="active"
        >
          <a class="menu-item-link" [routerLink]="['/services']">

            {{ "my_services" | translate }}
          </a>
        </p>
        <p
          *ngIf="!isProvider"
          class="dropdown-navigation-link"
          routerLinkActive="active"
        >
          <a class="menu-item-link" [routerLink]="['/equipments']">

            {{ "my_equipments" | translate }}
          </a>
        </p>

        <p
          *ngIf="!isProvider"
          class="dropdown-navigation-link"
          routerLinkActive="active"
        >

          <a class="menu-item-link" [routerLink]="['/boats']">

            {{ "my_boats" | translate }}
          </a>
        </p>

        <p
          *ngIf="!isProvider"
          class="dropdown-navigation-link"
          routerLinkActive="active"
        >
          <a class="menu-item-link" [routerLink]="['/homes']">

            {{ "my_homes" | translate }}
          </a>
        </p>
        <p
          *ngIf="isAdmin"
          class="dropdown-navigation-link"
          routerLinkActive="active"
        >
          <a class="menu-item-link" [routerLink]="['/admin']">
            Administration
          </a>
        </p>

        <a (click)="logout()" [routerLink]="">
          <p class="dropdown-navigation-button button small secondary">
            {{ "logout" | translate }}
          </p>
        </a>
      </div>
    </div>
  </div>
</header>

 -->

<header class="test">
  <nav
    class="navbar navbar-horizontal navbar-expand-lg navbar-primary bg-default"
  >
    <div>
      <a [routerLink]="['/']">
        <div class="header-brand">
          <div class="logo">
            <img
              id="logo"
              class="icon-logo-vikinger"
              src="../../../../assets/img/Nouveau projet (15).png"
            />
            <span class="color-blue">Linkedfishers</span>
          </div>
        </div>
      </a>
    </div>
    <button
      class="navbar-toggler mb"
      type="button"
      data-toggle="collapse"
      data-target="#navbar-default"
      aria-controls="navbar-default"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      ...
    </button>
    <div class="collapse navbar-collapse" id="navbar-default">
      <!-- <div class="navbar-collapse-header">
        <div class="row">
            <div class="col-6 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              data-toggle="collapse"
              data-target="#navbar-default"
              aria-controls="navbar-default"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div> -->

      <ul class="navbar-nav ml-lg-auto fork">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" [routerLink]="['/']"
            >{{ "home" | translate }}
          </a>
        </li>
        <!--   <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link nav-link-icon" [routerLink]="['/admin']">
            {{ "admin" | translate }}
          </a>
        </li> -->
        <li
          class="nav-item"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
        >
          <a class="nav-link nav-link-icon" [routerLink]="['/main']"
            >{{ "feed" | translate }}
          </a>
        </li>
        <li
          class="nav-item"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
        >
          <a class="nav-link nav-link-icon" [routerLink]="['/events']"
            >{{ "events" | translate }}
          </a>
        </li>

        <li class="nav-item">
          <div class="dropdown">
            <a class="nav-link nav-link-icon" [routerLink]="['/list-boats']">
              {{ "boats" | translate }}
            </a>
            <div class="dropdown-content">
              <a
                class="color41eff"
                [routerLink]="['/boats/type/', item?._id]"
                *ngFor="let item of boatTypes"
                >{{ item?.name }}</a
              >
            </div>
          </div>
        </li>

        <li class="nav-item">
          <div class="dropdown">
            <a class="nav-link nav-link-icon" [routerLink]="['/list-home']">
              {{ "homes" | translate }}
            </a>
            <div class="dropdown-content">
              <a
                [routerLink]="['/hebergements/type/', item?._id]"
                *ngFor="let item of hebergementTypes"
                >{{ item?.name }}</a
              >
            </div>
          </div>
        </li>
        <li class="nav-item" *ngIf="!isProvider">
          <a class="nav-link nav-link-icon" [routerLink]="['/map']">
            {{ "map" | translate }}
          </a>
        </li>
      </ul>
      <!-- ******************** -->
      <div
        class="
          navbar navbar-horizontal navbar-expand-lg navbar-primary
          bg-default
          navabso
        "
      >
        <ul class="navbar-nav ml-lg-auto zero-auto">
          <li
            class="nav-item"
            *ngIf="isProvider"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
          >
            <a
              class="nav-link nav-link-icon"
              [routerLink]="['/provider/add-product']"
            >
              Product
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link nav-link-icon"
              [routerLink]="['/marketplace/products-list']"
            >
              {{ "marketplace" | translate }}
            </a>
          </li>

          <!--  <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link nav-link-icon" [routerLink]="['/list-boats']">
                {{ "boats" | translate }}
              </a>
              <div class="dropdown-content">
                <a
                  class="color41eff"
                  [routerLink]="['/boats/type/', item?._id]"
                  *ngFor="let item of boatTypes"
                  >{{ item?.name }}</a
                >
              </div>
            </div>
          </li> -->
          <li class="nav-item">
            <div class="dropdown">
              <a
                class="nav-link nav-link-icon"
                [routerLink]="['/list-services']"
              >
                {{ "freelancer" | translate }}
              </a>
              <div class="dropdown-content">
                <a
                  class="color41eff"
                  [routerLink]="['/freelancer/type/', item?._id]"
                  *ngFor="let item of serviceTypes"
                  >{{ item?.name }}</a
                >
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a
                class="nav-link nav-link-icon"
                [routerLink]="['/list-equipments']"
              >
                {{ "Equipements" | translate }}
              </a>
              <div class="dropdown-content">
                <a
                  class="color41eff"
                  [routerLink]="['/equipments/type/', item?._id]"
                  *ngFor="let item of equipmentTypes"
                  >{{ item?.name }}</a
                >
              </div>
            </div>
          </li>
          <li class="nav-item" routerLinkActive="active" *ngIf="!isProvider">
            <a class="nav-link nav-link-icon" [routerLink]="['/weather']">
              {{ "weather" | translate }}
            </a>
          </li>
        </ul>
      </div>

      <!-- ****************** -->
    </div>
    <div *ngIf="isGuest" class="header-actions btnwidth">
      <form class="login-form">
        <div class="form-row split">
          <button
            [routerLink]="['/login']"
            class="btn btn-outline-primary"
            type="button"
          >
            {{ "login" | translate }}
          </button>
        </div>
      </form>
    </div>

    <div [hidden]="isGuest" class="header-actions">
      <!-- ACTION LIST -->
      <div class="action-list dark">
        <!-- ACTION LIST ITEM WRAP -->
        <div class="action-list-item-wrap">
          <!-- ACTION LIST ITEM -->
          <div class="action-list-item header-dropdown-trigger">
            <!-- ACTION LIST ITEM ICON -->
            <svg class="action-list-item-icon icon-friend">
              <use xlink:href="#svg-translate"></use>
            </svg>
            <!-- /ACTION LIST ITEM ICON -->
          </div>
          <!-- /ACTION LIST ITEM -->

          <!-- DROPDOWN BOX -->
          <div class="dropdown-box header-dropdown language">
            <!-- DROPDOWN BOX HEADER -->
            <div class="dropdown-box-header">
              <!-- DROPDOWN BOX HEADER TITLE -->
              <p class="dropdown-box-header-title">
                {{ "language" | translate }}
              </p>
              <!-- /DROPDOWN BOX HEADER TITLE -->
            </div>
            <!-- /DROPDOWN BOX HEADER -->

            <!-- DROPDOWN BOX LIST -->
            <div class="dropdown-box-list" data-simplebar>
              <!-- DROPDOWN BOX LIST ITEM -->
              <a [routerLink]="" (click)="setLanguage('en')">
                <div
                  class="dropdown-box-list-item"
                  [ngClass]="{ active: currentUser?.language == 'en' }"
                >
                  <!-- USER STATUS -->
                  <div class="user-status request">
                    <!-- USER STATUS AVATAR -->
                    <a class="user-status-avatar" href="profile-timeline.html">
                      <!-- USER AVATAR -->
                      <div class="user-avatar small no-outline">
                        <figure>
                          <img src="./assets/img/flag/GB.png" alt="avatar-01" />
                        </figure>
                      </div>
                      <!-- /USER AVATAR -->
                    </a>
                    <!-- /USER STATUS AVATAR -->

                    <!-- USER STATUS TITLE -->
                    <p class="user-status-title">
                      <a class="bold">{{ "language-en" | translate }}</a>
                    </p>
                    <!-- /USER STATUS TITLE -->
                  </div>
                  <!-- /USER STATUS -->
                </div>
              </a>
              <br />
              <!-- /DROPDOWN BOX LIST ITEM -->
              <!-- DROPDOWN BOX LIST ITEM -->
              <a [routerLink]="" (click)="setLanguage('fr')">
                <div
                  class="dropdown-box-list-item"
                  [ngClass]="{ active: currentUser?.language == 'fr' }"
                >
                  <!-- USER STATUS -->
                  <div class="user-status request">
                    <!-- USER STATUS AVATAR -->
                    <a class="user-status-avatar" href="profile-timeline.html">
                      <!-- USER AVATAR -->
                      <div class="user-avatar small no-outline">
                        <div class="user-avatar small no-outline">
                          <figure>
                            <img
                              src="./assets/img/flag/FR.png"
                              alt="avatar-01"
                            />
                          </figure>
                        </div>
                      </div>
                      <!-- /USER AVATAR -->
                    </a>
                    <!-- /USER STATUS AVATAR -->

                    <!-- USER STATUS TITLE -->
                    <p class="user-status-title">
                      <a class="bold">{{ "language-fr" | translate }}</a>
                    </p>
                    <!-- /USER STATUS TITLE -->
                  </div>
                  <!-- /USER STATUS -->
                </div>
              </a>

              <br />

              <a [routerLink]="" (click)="setLanguage('ar')">
                <div
                  class="dropdown-box-list-item"
                  [ngClass]="{ active: currentUser?.language == 'ar' }"
                >
                  <!-- USER STATUS -->
                  <div class="user-status request">
                    <!-- USER STATUS AVATAR -->
                    <a class="user-status-avatar" href="profile-timeline.html">
                      <!-- USER AVATAR -->
                      <div class="user-avatar small no-outline">
                        <div class="user-avatar small no-outline">
                          <figure>
                            <img
                              src="./assets/img/flag/TN.png"
                              alt="avatar-01"
                            />
                          </figure>
                        </div>
                      </div>
                      <!-- /USER AVATAR -->
                    </a>
                    <!-- /USER STATUS AVATAR -->

                    <!-- USER STATUS TITLE -->
                    <p class="user-status-title">
                      <a class="bold">{{ "language-ar" | translate }}</a>
                    </p>
                    <!-- /USER STATUS TITLE -->
                  </div>
                  <!-- /USER STATUS -->
                </div>
              </a>
              <!-- /DROPDOWN BOX LIST ITEM -->
            </div>
            <!-- /DROPDOWN BOX LIST -->
          </div>
          <!-- /DROPDOWN BOX -->
        </div>
        <!-- /ACTION LIST ITEM WRAP -->

        <!--********************-->

        <div class="action-list-item-wrap" style="position: relative">
          <!-- ACTION LIST ITEM -->
          <div class="action-list-item header-dropdown-trigger">
            <!-- ACTION LIST ITEM ICON -->
            <svg class="action-list-item-icon icon-shopping-bag">
              <use xlink:href="#svg-shopping-bag"></use>
            </svg>
            <!-- /ACTION LIST ITEM ICON -->
          </div>
          <!-- /ACTION LIST ITEM -->

          <!-- DROPDOWN BOX -->
          <div
            class="dropdown-box no-padding-bottom header-dropdown"
            style="
              position: absolute;
              z-index: 9999;
              top: 64px;
              right: 6px;
              opacity: 0;
              visibility: hidden;
              transform: translate(0px, -40px);
              transition: transform 0.4s ease-in-out 0s,
                opacity 0.4s ease-in-out 0s, visibility 0.4s ease-in-out 0s;
            "
          >
            <!-- DROPDOWN BOX HEADER -->
            <div class="dropdown-box-header">
              <!-- DROPDOWN BOX HEADER TITLE -->
              <p class="dropdown-box-header-title">
                Shopping Cart <span class="highlighted">3</span>
              </p>
              <!-- /DROPDOWN BOX HEADER TITLE -->
            </div>
            <!-- /DROPDOWN BOX HEADER -->

            <!-- DROPDOWN BOX LIST -->
            <div
              class="dropdown-box-list scroll-small no-hover"
              data-simplebar="init"
            >
              <div class="simplebar-wrapper" style="margin: 0px">
                <div class="simplebar-height-auto-observer-wrapper">
                  <div class="simplebar-height-auto-observer"></div>
                </div>
                <div class="simplebar-mask">
                  <div class="simplebar-offset" style="right: 0px; bottom: 0px">
                    <div
                      class="simplebar-content-wrapper"
                      style="height: 100%; overflow: hidden scroll"
                    >
                      <div class="simplebar-content" style="padding: 0px">
                        <!-- DROPDOWN BOX LIST ITEM -->
                        <div class="dropdown-box-list-item">
                          <!-- CART ITEM PREVIEW -->
                          <div class="cart-item-preview">
                            <!-- CART ITEM PREVIEW IMAGE -->
                            <a
                              class="cart-item-preview-image"
                              href="marketplace-product.html"
                            >
                              <!-- PICTURE -->
                              <figure
                                class="picture medium round liquid"
                                style="
                                  background: url('img/marketplace/items/01.jpg')
                                    center center / cover no-repeat;
                                "
                              >
                                <img
                                  src="img/marketplace/items/01.jpg"
                                  alt="item-01"
                                  style="display: none"
                                />
                              </figure>
                              <!-- /PICTURE -->
                            </a>
                            <!-- /CART ITEM PREVIEW IMAGE -->

                            <!-- CART ITEM PREVIEW TITLE -->
                            <p class="cart-item-preview-title">
                              <a href="marketplace-product.html"
                                >Twitch Stream UI Pack</a
                              >
                            </p>
                            <!-- /CART ITEM PREVIEW TITLE -->

                            <!-- CART ITEM PREVIEW TEXT -->
                            <p class="cart-item-preview-text">
                              Regular License
                            </p>
                            <!-- /CART ITEM PREVIEW TEXT -->

                            <!-- CART ITEM PREVIEW PRICE -->
                            <p class="cart-item-preview-price">
                              <span class="highlighted">$</span> 12.00 x 1
                            </p>
                            <!-- /CART ITEM PREVIEW PRICE -->

                            <!-- CART ITEM PREVIEW ACTION -->
                            <div class="cart-item-preview-action">
                              <!-- ICON DELETE -->
                              <svg class="icon-delete">
                                <use xlink:href="#svg-delete"></use>
                              </svg>
                              <!-- /ICON DELETE -->
                            </div>
                            <!-- /CART ITEM PREVIEW ACTION -->
                          </div>
                          <!-- /CART ITEM PREVIEW -->
                        </div>
                        <!-- /DROPDOWN BOX LIST ITEM -->

                        <!-- DROPDOWN BOX LIST ITEM -->
                        <div class="dropdown-box-list-item">
                          <!-- CART ITEM PREVIEW -->
                          <div class="cart-item-preview">
                            <!-- CART ITEM PREVIEW IMAGE -->
                            <a
                              class="cart-item-preview-image"
                              href="marketplace-product.html"
                            >
                              <!-- PICTURE -->
                              <figure
                                class="picture medium round liquid"
                                style="
                                  background: url('img/marketplace/items/11.jpg')
                                    center center / cover no-repeat;
                                "
                              >
                                <img
                                  src="img/marketplace/items/11.jpg"
                                  alt="item-11"
                                  style="display: none"
                                />
                              </figure>
                              <!-- /PICTURE -->
                            </a>
                            <!-- /CART ITEM PREVIEW IMAGE -->

                            <!-- CART ITEM PREVIEW TITLE -->
                            <p class="cart-item-preview-title">
                              <a href="marketplace-product.html"
                                >Gaming Coin Badges Pack</a
                              >
                            </p>
                            <!-- /CART ITEM PREVIEW TITLE -->

                            <!-- CART ITEM PREVIEW TEXT -->
                            <p class="cart-item-preview-text">
                              Regular License
                            </p>
                            <!-- /CART ITEM PREVIEW TEXT -->

                            <!-- CART ITEM PREVIEW PRICE -->
                            <p class="cart-item-preview-price">
                              <span class="highlighted">$</span> 6.00 x 1
                            </p>
                            <!-- /CART ITEM PREVIEW PRICE -->

                            <!-- CART ITEM PREVIEW ACTION -->
                            <div class="cart-item-preview-action">
                              <!-- ICON DELETE -->
                              <svg class="icon-delete">
                                <use xlink:href="#svg-delete"></use>
                              </svg>
                              <!-- /ICON DELETE -->
                            </div>
                            <!-- /CART ITEM PREVIEW ACTION -->
                          </div>
                          <!-- /CART ITEM PREVIEW -->
                        </div>
                        <!-- /DROPDOWN BOX LIST ITEM -->

                        <!-- DROPDOWN BOX LIST ITEM -->
                        <div class="dropdown-box-list-item">
                          <!-- CART ITEM PREVIEW -->
                          <div class="cart-item-preview">
                            <!-- CART ITEM PREVIEW IMAGE -->
                            <a
                              class="cart-item-preview-image"
                              href="marketplace-product.html"
                            >
                              <!-- PICTURE -->
                              <figure
                                class="picture medium round liquid"
                                style="
                                  background: url('img/marketplace/items/10.jpg')
                                    center center / cover no-repeat;
                                "
                              >
                                <img
                                  src="img/marketplace/items/10.jpg"
                                  alt="item-10"
                                  style="display: none"
                                />
                              </figure>
                              <!-- /PICTURE -->
                            </a>
                            <!-- /CART ITEM PREVIEW IMAGE -->

                            <!-- CART ITEM PREVIEW TITLE -->
                            <p class="cart-item-preview-title">
                              <a href="marketplace-product.html"
                                >Twitch Stream UI Pack</a
                              >
                            </p>
                            <!-- /CART ITEM PREVIEW TITLE -->

                            <!-- CART ITEM PREVIEW TEXT -->
                            <p class="cart-item-preview-text">
                              Regular License
                            </p>
                            <!-- /CART ITEM PREVIEW TEXT -->

                            <!-- CART ITEM PREVIEW PRICE -->
                            <p class="cart-item-preview-price">
                              <span class="highlighted">$</span> 26.00 x 1
                            </p>
                            <!-- /CART ITEM PREVIEW PRICE -->

                            <!-- CART ITEM PREVIEW ACTION -->
                            <div class="cart-item-preview-action">
                              <!-- ICON DELETE -->
                              <svg class="icon-delete">
                                <use xlink:href="#svg-delete"></use>
                              </svg>
                              <!-- /ICON DELETE -->
                            </div>
                            <!-- /CART ITEM PREVIEW ACTION -->
                          </div>
                          <!-- /CART ITEM PREVIEW -->
                        </div>
                        <!-- /DROPDOWN BOX LIST ITEM -->

                        <!-- DROPDOWN BOX LIST ITEM -->
                        <div class="dropdown-box-list-item">
                          <!-- CART ITEM PREVIEW -->
                          <div class="cart-item-preview">
                            <!-- CART ITEM PREVIEW IMAGE -->
                            <a
                              class="cart-item-preview-image"
                              href="marketplace-product.html"
                            >
                              <!-- PICTURE -->
                              <figure
                                class="picture medium round liquid"
                                style="
                                  background: url('img/marketplace/items/04.jpg')
                                    center center / cover no-repeat;
                                "
                              >
                                <img
                                  src="img/marketplace/items/04.jpg"
                                  alt="item-04"
                                  style="display: none"
                                />
                              </figure>
                              <!-- /PICTURE -->
                            </a>
                            <!-- /CART ITEM PREVIEW IMAGE -->

                            <!-- CART ITEM PREVIEW TITLE -->
                            <p class="cart-item-preview-title">
                              <a href="marketplace-product.html"
                                >Generic Joystick Pack</a
                              >
                            </p>
                            <!-- /CART ITEM PREVIEW TITLE -->

                            <!-- CART ITEM PREVIEW TEXT -->
                            <p class="cart-item-preview-text">
                              Regular License
                            </p>
                            <!-- /CART ITEM PREVIEW TEXT -->

                            <!-- CART ITEM PREVIEW PRICE -->
                            <p class="cart-item-preview-price">
                              <span class="highlighted">$</span> 16.00 x 1
                            </p>
                            <!-- /CART ITEM PREVIEW PRICE -->

                            <!-- CART ITEM PREVIEW ACTION -->
                            <div class="cart-item-preview-action">
                              <!-- ICON DELETE -->
                              <svg class="icon-delete">
                                <use xlink:href="#svg-delete"></use>
                              </svg>
                              <!-- /ICON DELETE -->
                            </div>
                            <!-- /CART ITEM PREVIEW ACTION -->
                          </div>
                          <!-- /CART ITEM PREVIEW -->
                        </div>
                        <!-- /DROPDOWN BOX LIST ITEM -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="simplebar-track simplebar-horizontal"
                style="visibility: hidden"
              >
                <div
                  class="simplebar-scrollbar"
                  style="width: 0px; display: none"
                ></div>
              </div>
              <div
                class="simplebar-track simplebar-vertical"
                style="visibility: visible"
              >
                <div
                  class="simplebar-scrollbar"
                  style="
                    height: 227px;
                    transform: translate3d(0px, 0px, 0px);
                    display: block;
                  "
                ></div>
              </div>
            </div>
            <!-- /DROPDOWN BOX LIST -->

            <!-- CART PREVIEW TOTAL -->

            <!-- /CART PREVIEW TOTAL -->

            <!-- DROPDOWN BOX ACTIONS -->

            <!-- /DROPDOWN BOX ACTIONS -->
          </div>
          <!-- /DROPDOWN BOX -->
        </div>
        <!-- ************* -->

        <!-- ACTION LIST ITEM WRAP -->
        <div class="action-list-item-wrap">
          <!-- ACTION LIST ITEM -->
          <div
            [ngClass]="{ unread: notifications?.length }"
            class="action-list-item header-dropdown-trigger"
          >
            <!-- ACTION LIST ITEM ICON -->
            <svg class="action-list-item-icon icon-notification">
              <use xlink:href="#svg-notification"></use>
            </svg>
            <!-- /ACTION LIST ITEM ICON -->
          </div>
          <!-- /ACTION LIST ITEM -->

          <!-- DROPDOWN BOX -->
          <div class="dropdown-box header-dropdown">
            <!-- DROPDOWN BOX HEADER -->
            <div class="dropdown-box-header">
              <!-- DROPDOWN BOX HEADER TITLE -->
              <p class="dropdown-box-header-title">Notifications</p>
              <!-- /DROPDOWN BOX HEADER TITLE -->

              <!-- DROPDOWN BOX HEADER ACTIONS -->
              <div class="dropdown-box-header-actions">
                <!-- DROPDOWN BOX HEADER ACTION -->
                <p class="dropdown-box-header-action">Mark all as Read</p>
                <!-- /DROPDOWN BOX HEADER ACTION -->
              </div>
              <!-- /DROPDOWN BOX HEADER ACTIONS -->
            </div>
            <!-- /DROPDOWN BOX HEADER -->

            <!-- DROPDOWN BOX LIST -->
            <div class="dropdown-box-list" data-simplebar>
              <!-- DROPDOWN BOX LIST ITEM -->
              <div
                *ngFor="let notification of notifications; let i = index"
                class="dropdown-box-list-item unread"
              >
                <!-- USER STATUS -->
                <div class="user-status notification">
                  <!-- USER STATUS AVATAR -->
                  <div class="user-status-avatar">
                    <div class="user-avatar small no-outline">
                      <figure>
                        <img
                          class="round"
                          [src]="notification?.sender?.profilePicture | picture"
                          alt="avatar-01"
                        />
                      </figure>
                    </div>
                  </div>
                  <!-- /USER STATUS AVATAR -->

                  <!-- USER STATUS TITLE -->
                  <p class="user-status-title">
                    <a
                      [routerLink]="['/profile', notification.sender.slug]"
                      class="bold"
                    >
                      {{ notification?.sender?.fullName }}
                    </a>
                    <a (click)="goToNotification(i)" [routerLink]="">{{
                      notification?.type | translate
                    }}</a>
                  </p>
                  <!-- /USER STATUS TITLE -->

                  <!-- USER STATUS TIMESTAMP -->
                  <p class="user-status-timestamp">
                    {{ notification?.createdAt | timeAgo: language }}
                  </p>
                  <!-- /USER STATUS TIMESTAMP -->

                  <!-- USER STATUS ICON -->
                  <div
                    [hidden]="notification.type != 'commented_post'"
                    class="user-status-icon"
                  >
                    <!-- ICON COMMENT -->
                    <svg class="icon-comment">
                      <use xlink:href="#svg-comment"></use>
                    </svg>
                  </div>

                  <!-- USER STATUS ICON -->
                  <div
                    [hidden]="notification.type != 'liked_post'"
                    class="user-status-icon"
                  >
                    <svg class="icon-thumbs-up">
                      <use xlink:href="#svg-thumbs-up"></use>
                    </svg>
                  </div>
                  <!-- USER STATUS ICON -->
                  <div
                    [hidden]="notification.type != 'followed_you'"
                    class="user-status-icon"
                  >
                    <svg class="icon-thumbs-up">
                      <use xlink:href="#svg-add-friend"></use>
                    </svg>
                  </div>
                  <!-- /USER STATUS ICON -->
                </div>
                <!-- /USER STATUS -->
              </div>
              <!-- /DROPDOWN BOX LIST ITEM -->
            </div>
            <!-- /DROPDOWN BOX LIST -->

            <!-- DROPDOWN BOX BUTTON -->
            <a
              class="dropdown-box-button secondary"
              [routerLink]="['/notifications']"
              >View all Notifications</a
            >
            <!-- /DROPDOWN BOX BUTTON -->
          </div>
          <!-- /DROPDOWN BOX -->
        </div>
        <!-- /ACTION LIST ITEM WRAP -->
      </div>
      <!-- /ACTION LIST -->

      <!-- ACTION ITEM WRAP -->
      <div class="action-item-wrap">
        <!-- ACTION ITEM -->
        <div class="action-item dark header-settings-dropdown-trigger custop">
          <!-- ACTION ITEM ICON -->
          <svg class="action-item-icon icon-settings">
            <use xlink:href="#svg-settings"></use>
          </svg>
          <!-- /ACTION ITEM ICON -->
        </div>
        <!-- /ACTION ITEM -->

        <!-- DROPDOWN NAVIGATION -->
        <div class="dropdown-navigation header-settings-dropdown">
          <!-- DROPDOWN NAVIGATION HEADER -->
          <div class="dropdown-navigation-header">
            <!-- USER STATUS -->
            <div class="user-status">
              <!-- USER STATUS AVATAR -->
              <div class="user-status-avatar">
                <div class="user-avatar small no-outline">
                  <figure>
                    <img
                      [src]="currentUser?.profilePicture | picture"
                      alt="avatar-01"
                    />
                  </figure>
                </div>
              </div>
              <!-- /USER STATUS AVATAR -->

              <!-- USER STATUS TITLE -->
              <p class="user-status-title">
                <span class="bold">Hi {{ firstname }}!</span>
              </p>
              <!-- /USER STATUS TITLE -->
            </div>
            <!-- /USER STATUS -->
          </div>
          <!-- /DROPDOWN NAVIGATION HEADER -->

          <!-- DROPDOWN NAVIGATION CATEGORY -->
          <p class="dropdown-navigation-category">Account</p>
          <!-- /DROPDOWN NAVIGATION CATEGORY -->

          <!-- DROPDOWN NAVIGATION LINK -->
          <a class="dropdown-navigation-link" [routerLink]="['/settings']"
            >Account Info</a
          >
          <!-- /DROPDOWN NAVIGATION LINK -->

          <!-- DROPDOWN NAVIGATION LINK -->
          <a
            class="dropdown-navigation-link"
            [routerLink]="['/settings/change-password']"
            >Change Password</a
          >
          <!-- /DROPDOWN NAVIGATION LINK -->

          <!-- DROPDOWN NAVIGATION LINK -->
          <a
            class="dropdown-navigation-link"
            [routerLink]="['/settings/social']"
            >Social links</a
          >
          <!-- /DROPDOWN NAVIGATION LINK -->

          <!-- DROPDOWN NAVIGATION CATEGORY -->
          <p class="dropdown-navigation-category">Reservations</p>
          <!-- /DROPDOWN NAVIGATION CATEGORY -->
          <!-- DROPDOWN NAVIGATION LINK -->
          <a
            class="dropdown-navigation-link"
            [routerLink]="['/booking-requests']"
            >Manage reservations requests</a
          >
          <p
            *ngIf="!isProvider"
            class="dropdown-navigation-link"
            routerLinkActive="active"
          >
            <a class="menu-item-link" [routerLink]="['/services']">
              <!-- MENU ITEM LINK ICON -->

              <!-- /MENU ITEM LINK ICON -->
              My Services
            </a>
          </p>
          <p
            *ngIf="!isProvider"
            class="dropdown-navigation-link"
            routerLinkActive="active"
          >
            <!-- MENU ITEM LINK -->
            <a class="menu-item-link" [routerLink]="['/equipments']">
              <!-- MENU ITEM LINK ICON -->

              <!-- /MENU ITEM LINK ICON -->
              My Equipment
            </a>
            <!-- /MENU ITEM LINK -->
          </p>
          <!-- /MENU ITEM -->

          <!-- MENU ITEM -->
          <p
            *ngIf="!isProvider"
            class="dropdown-navigation-link"
            routerLinkActive="active"
          >
            <!-- MENU ITEM LINK -->
            <a class="menu-item-link" [routerLink]="['/boats']">
              <!-- MENU ITEM LINK ICON -->

              <!-- /MENU ITEM LINK ICON -->
              My Boats
            </a>
            <!-- /MENU ITEM LINK -->
          </p>
          <!-- /MENU ITEM -->

          <!-- MENU ITEM -->
          <p
            *ngIf="!isProvider"
            class="dropdown-navigation-link"
            routerLinkActive="active"
          >
            <!-- MENU ITEM LINK -->
            <a class="menu-item-link" [routerLink]="['/homes']">
              <!-- MENU ITEM LINK ICON -->

              <!-- /MENU ITEM LINK ICON -->
              My Homes
            </a>
            <!-- /MENU ITEM LINK -->
          </p>
          <p
            *ngIf="isAdmin"
            class="dropdown-navigation-link"
            routerLinkActive="active"
          >
            <!-- MENU ITEM LINK -->
            <a class="menu-item-link" [routerLink]="['/admin']">
              Administration
            </a>
            <!-- /MENU ITEM LINK -->
          </p>
          <!-- /DROPDOWN NAVIGATION LINK -->

          <!-- DROPDOWN NAVIGATION BUTTON -->
          <a (click)="logout()" [routerLink]="">
            <p class="dropdown-navigation-button button small secondary">
              {{ "logout" | translate }}
            </p>
          </a>
          <!-- /DROPDOWN NAVIGATION BUTTON -->
        </div>
        <!-- /DROPDOWN NAVIGATION -->
      </div>
      <!-- /ACTION ITEM WRAP -->
    </div>
  </nav>
  <div class="header-actions search-bar">
    <div class="interactive-input dark">
      <input
        (keyup)="search()"
        [(ngModel)]="searchKeyword"
        type="text"
        id="search-main"
        name="search_main"
        placeholder="Search here for people or groups"
        class="form-control"
      />

      <div class="interactive-input-icon-wrap">
        <svg class="interactive-input-icon icon-magnifying-glass">
          <use xlink:href="#svg-magnifying-glass"></use>
        </svg>
      </div>

      <div class="interactive-input-action">
        <svg class="interactive-input-action-icon icon-cross-thin">
          <use xlink:href="#svg-cross-thin"></use>
        </svg>
      </div>
    </div>

    <div class="dropdown-box padding-bottom-small header-search-dropdown">
      <div class="dropdown-box-category">
        <p class="dropdown-box-category-title">Members</p>
      </div>

      <div class="dropdown-box-list small no-scroll">
        <a
          *ngFor="let user of searchedUsers"
          [routerLink]="['/profile', user?.slug]"
          routerLinkActive="router-link-active"
          class="dropdown-box-list-item"
        >
          <div class="user-status notification">
            <div class="user-status-avatar">
              <div class="user-avatar small no-outline">
                <figure class="picture round liquid small">
                  <img
                    class="round"
                    [src]="user?.profilePicture | picture"
                    alt="avatar-01"
                  />
                </figure>
              </div>
            </div>

            <p class="user-status-title">
              <span class="bold">{{ user?.fullName }}</span>
            </p>

            <div class="user-status-icon">
              <svg class="icon-friend">
                <use xlink:href="#svg-friend"></use>
              </svg>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</header>
