<app-spalshscreen></app-spalshscreen>
<div class="container">
  <video
    [muted]="true"
    [autoplay]="true"
    [controls]="true"
    [loop]="true"
    src="../../../../assets/video/marine.mp4"
    type="video/mp4"
    id="video"
  ></video>
  <div class="row height-div">
    <div *ngIf="!ishidden" class="second-div">
      <div class="slideInRight titles" (click)="boatList()">
        <div class="list-item">
          <img src="../../../../assets/img/homefolder/fishing-boat.png" />
          <h6>Bateau</h6>
          <p class="text">Location de Bateau</p>
        </div>
      </div>
      <div class="slideInRight titles" (click)="homeList()">
        <div class="list-item">
          <img src="../../../../assets/img/homefolder/home.png" />
          <h6>Hébergement</h6>
          <p class="text">Location d'un Hébergement côtier</p>
        </div>
      </div>
      <div class="slideInRight titles" (click)="listService()">
        <div class="list-item">
          <img src="../../../../assets/img/homefolder/experience.png" />
          <h6>Expérience</h6>
          <p class="text">Expérience de pêche personnalisée</p>
          <a href="https://icons8.com/icon/wQi8zFqqK2Ex/tap-gesture"></a>
        </div>
      </div>
      <div class="slideInRight titles">
        <div class="list-item">
          <img
            src="../../../../assets/img/homefolder/online-shopping.png"
            (click)="toEshopEquip()"
          />
          <h6>E-shop</h6>
          <p class="text">Equipement et matériel de pêche</p>
        </div>
      </div>
      <div class="slideInRight titles" (click)="toEvent()">
        <div class="list-item">
          <img src="../../../../assets/img/homefolder/placard.png" />

          <h6>Événement</h6>
          <p class="text">
            Organisation d’évènement pour entreprise et particulier
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="!isHidden2" class="second-div">
      <div class="slideInRight titles" (click)="myboat()">
        <div class="list-item">
          <img src="../../../../assets/img/homefolder/fishing-boat.png" />
          <h6>Propriétaire de Bateau</h6>
          <p class="text">Mettez votre bateau en location</p>
        </div>
      </div>
      <div class="slideInRight titles" (click)="myhome()">
        <div class="list-item">
          <img src="../../../../assets/img/homefolder/working-at-home.png" />
          <h6>Propriétaire d'hébergement</h6>
          <p class="text">Mettez votre hébergement côtier en location</p>
        </div>
      </div>
      <div class="slideInRight titles" (click)="myservice()">
        <div class="list-item">
          <img src="../../../../assets/img/homefolder/coach.png" />
          <h6>Moniteur de pêche Freelancer</h6>
          <p class="text">Proposer une formation ou un service</p>
        </div>
      </div>
      <div class="slideInRight titles">
        <div class="list-item">
          <img
            src="../../../../assets/img/homefolder/provider.png"
            (click)="becomeAprovider()"
          />
          <h6>Fournisseur d'équipement</h6>
          <p class="text">Fournisseur d'équipement de pêche et du nautisme</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 width" *ngIf="!isShow" (click)="navigateToRoute()">
      <div class="titl force-bg-color">
        <h4>Je cherche une expérience, un service ou un produit</h4>
      </div>
      <div class="image">
        <img src="../../../../assets/img/homefolder/search.png" alt="" />
      </div>
    </div>
    <div class="col-md-6 width" *ngIf="!isShow" (click)="navigateToTogin()">
      <div class="titl force-bg-color">
        <h4>Je réalise un revenu supplémentaire</h4>
      </div>
      <div class="image">
        <img
          src="../../../../assets/img/homefolder/revenue.png"
          alt=""
          class="zoomInLeft"
        />
      </div>
    </div>
  </div>
  <div class="row bgcolorT">
    <div class="col-md-12">
      <div class="buttons disFlex">
        <button type="button" class="btn btn-primary" (click)="backtoHome()">
          Back
        </button>
        <button type="button" class="btn btn-primary" (click)="accederAuSite()">
          Acceder au site
        </button>
      </div>
    </div>
  </div>
</div>
