<app-spalshscreen></app-spalshscreen>
<div class="container">
  <video
    muted
    autoplay
    loop
    src="../../../../assets/video/vid.mp4"
    type="video/mp4"
  ></video>
  <div class="row test">
    <div class="col-md-6 width">
      <div class="title"><h4>Visite Guidée</h4></div>
      <div class="image">
        <img
          src="../../../../assets/img/6344d0df5327adeb2cff7d89129e3bc7--motor-boats-for-sale-yachts.jpg"
          alt=""
        />
      </div>
      <div class="buttons">
        <button
          type="button"
          class="btn btn-primary"
          (click)="navigateToRoute()"
        >
          Recherche
        </button>
      </div>
    </div>
    <div class="col-md-6 width">
      <div class="title">
        <h4>Linkedfishers</h4>
      </div>
      <div class="image">
        <img
          src="../../../../assets/img/default-profile.png"
          alt=""
          class="zoomInLeft"
        />
      </div>
      <div class="buttons">
        <button
          type="button"
          class="btn btn-primary"
          (click)="navigateToTogin()"
        >
          Linkedfishers
        </button>
      </div>
    </div>
  </div>
</div>
