.container {
  width: 100%;
  max-width: 1920px;

  /*   background: url(../../../../assets/img/fishing-boat-header.png); */
}
video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  max-width: 1920px;
}

/* .col-md-6 {
  cursor: pointer;
  padding: 30px;
} */

/* .container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgb(1, 186, 235);
  background: linear-gradient(
    90deg,
    rgba(1, 186, 235, 0.4598214285714286) 0%,
    rgba(23, 92, 164, 0.20211834733893552) 50%,
    rgba(0, 99, 255, 0.40940126050420167) 100%
  );

  z-index: 1;
} */

.row {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 1150px;
  margin: 40px auto;
  z-index: 3;
  width: 100%;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
}
.height-div {
  height: 525px !important;
  padding: 2%;
}
@keyframes mainFadeIn {
  0% {
    letf: 0;
    top: 0;
  }
  50% {
    left: 25%;
    top: 25%;
  }
}

.paragraphe{
  text-align: center;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2.5px;
    line-height: 3.5rem;
    span{
      font-size: 2rem;
    }
    p{
      color: white;
      line-height: 3.5rem;
    }
}

.image{
  text-align: center;
  width: 20px;
  height: 20px;
  display: initial;
  //display: flex;
  img{
    width: 70px;
    height: 70px;
    margin: 20px;
  }
}
.contact{
  text-align: left;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2.5px;
  line-height: 3.5rem;
  display: flex;
  p{
    color: white;
    line-height: 3.5rem;
    font-size: 2rem;
    width: -webkit-fill-available;
  }
  .info{
    letter-spacing: 2.5px;
    line-height: 3.5rem;
    display: flex;
    line-height: 3.5rem;
    margin-bottom: 1.25rem;

    a{
      margin-left: 10px;
      color: white;
      font-size: 1.75rem;
    }
    img{
      width: 50px;
      height: 50px;

    }
    span{
      margin-left: 10px;
      color: white;
      font-size: 1.75rem;
    }
  }
}

