.container {
  width: 100%;
  max-width: 1920px;

  /*   background: url(../../../../assets/img/fishing-boat-header.png); */
}
video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  max-width: 1920px;
}

.col-md-6 {
  cursor: pointer;
  padding: 30px;
}

/* .container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgb(1, 186, 235);
  background: linear-gradient(
    90deg,
    rgba(1, 186, 235, 0.4598214285714286) 0%,
    rgba(23, 92, 164, 0.20211834733893552) 50%,
    rgba(0, 99, 255, 0.40940126050420167) 100%
  );

  z-index: 1;
} */

.row {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 1150px;
  margin: 40px auto;
  z-index: 3;
  width: 100%;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
}
@keyframes mainFadeIn {
  0% {
    letf: 0;
    top: 0;
  }
  50% {
    left: 25%;
    top: 25%;
  }
}

.buttons {
  text-align: center;
  padding: 10px 0 10px 0;
}

.btn {
  width: 15%;
  margin: 10px;
}

.titl {
  max-width: 400px;
  text-align: center;
  margin: 10px auto;
  padding: 20px;
  background: rgba(7, 95, 146, 0.747);
  height: 90px;
  border-radius: 0px;

  -webkit-box-shadow: -1px 2px 12px -1px rgba(84, 150, 255, 0.83);
  box-shadow: -1px 2px 12px -1px rgba(84, 150, 255, 0.83);
}

.titl h4 {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  line-height: 1.5;
  font-size: 22px !important;
  background-color: rgba(175, 175, 175, 0.589);
  border-radius: 0px 11px 0px 11px;
}

.title {
  max-width: 400px;
  text-align: center;
  margin: 10px auto;
  padding: 20px;
  background: rgba(7, 95, 146, 0.575);
  height: 90px;

  border-radius: 4px;
  -webkit-box-shadow: -1px 2px 12px -1px rgba(84, 150, 255, 0.83);
  box-shadow: -1px 2px 12px -1px rgba(84, 150, 255, 0.83);
}
.title:hover {
  -webkit-box-shadow: -25px -3px 81px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -25px -3px 81px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -25px -3px 81px -10px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  background: rgb(240, 238, 238);
}

.title h6 {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  line-height: 1.5;
}
.title:hover h6 {
  color: rgb(43, 55, 226);
}

.image {
  position: relative;
  width: 50%;
  left: 25%;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 800px) {
  .row {
    width: auto;
    height: auto;
  }
}
/* .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;

  border: 4px solid #ffffff;
  padding: 3rem;
  border-radius: 50%;
} */

.image:hover::before {
  transform: rotate(0deg);

  z-index: 3;
  img {
    filter: grayscale(0%);
  }
}
.image img {
  width: 70%;
  height: auto;
}

.width {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/********************** */
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* ****************** */

.second-div {
  margin: 40px auto;
  width: 100%;
  padding: 20px;
  display: flex;
}

.titles {
  width: 18%;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 400px;
  text-align: center;
  padding: 20px;
  background: rgba(7, 95, 146, 0.575);

  margin: 10px auto;

  border-radius: 4px;
  -webkit-box-shadow: -1px 2px 12px -1px rgba(25, 11, 156, 0.83);
  box-shadow: -1px 2px 12px -1px rgba(84, 150, 255, 0.83);
}
.titles:hover {
  -webkit-box-shadow: -25px -3px 81px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -25px -3px 81px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -25px -3px 81px -10px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.titles h6 {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 20px;
}
.titles:hover h6 {
  color: rgb(212, 212, 212);
}

.force-bg-color {
  background: #cccccc00 !important;
  box-shadow: none !important;
}

.bgcolorT {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0);
  backdrop-filter: none !important;
  -webkit-backdrop-filter: none !important;
  border-radius: none !important;
  border: none !important;
}

.disFlex {
  display: flex;
  justify-content: flex-end !important;
}

.list-item {
  height: auto;
  align-items: center;
}
.list-item img {
  width: 100%;
  height: 115px;
  margin-bottom: 20px;
  filter: invert(1);
  object-fit: contain;
}

.titles:hover .list-item img {
  border-radius: 11px;
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.text {
  display: none;
  color: white;
  font-family: "Open sans", sans-serif;
  line-height: 1.5;
  font-family: 16px;
}

.titles:hover .list-item .text {
  display: block;
}
