.container {
  width: 100%;
  max-width: 1920px;

  /*   background: url(../../../../assets/img/fishing-boat-header.png); */
 
}

video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  object-fit: cover;
}
.container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgb(1, 186, 235);
  background: linear-gradient(
    90deg,
    rgba(1, 186, 235, 0.4598214285714286) 0%,
    rgba(23, 92, 164, 0.20211834733893552) 50%,
    rgba(0, 99, 255, 0.40940126050420167) 100%
  );

  z-index: 1;
}

.row {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
  margin: 20px auto;
  width: 800px;
  height: 400px;
  z-index: 3;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
}
@keyframes mainFadeIn {
  0% {
    letf: 0;
    top: 0;
  }
  50% {
    left: 25%;
    top: 25%;
  }
}

.buttons {
  text-align: center;
}

.btn {
  width: 30%;
}
.title {
  max-width: 400px;
  text-align: center;
  padding: 20px;
}

.title h4 {
  font-family: "Poppins", sans-serif;
  color: #f1eded;
}

.image {
  position: relative;
  width: 50%;
  left: 25%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  /*   background: linear-gradient(to right, red, purple);
 */
  border: 4px solid #ffffff;
  padding: 3rem;
  border-radius: 50%;
}

.image img {
  width: 185px;
  height: 185px;
  border-radius: 50%;
}

.image:hover::before {
  transform: rotate(0deg);
  border-radius: 50%;
  z-index: 3;
  img {
    filter: grayscale(0%);
  }
}
.image img {
  width: 185px;
  height: 185px;
  border-radius: 50%;
  object-fit: cover;
}
