<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="container-image">
        <img src="../../../../assets/img/default-profile.png" alt="" />
      </div>
      <div class="text-description">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, esse.
          Esse dolorem delectus autem ratione dolorum dolore culpa voluptatibus
          cum inventore, quae eius. Enim quaerat harum odio id. Obcaecati,
          atque.
        </p>
      </div>
      <div class="buttons">
        <button type="button" class="btn btn-primary">lister</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="container-image">
        <img src="../../../../assets/img/default-profile.png" alt="" />
      </div>
      <div class="text-description">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, odio
          quisquam tenetur, architecto laudantium officiis necessitatibus, amet
          hic impedit pariatur quo. Expedita, autem fugit quam unde aliquam
          rerum exercitationem sint.
        </p>
      </div>
      <div class="buttons">
        <button type="button" class="btn btn-primary">lister</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="container-image">
        <img src="../../../../assets/img/default-profile.png" alt="" />
      </div>
      <div class="text-description">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
          delectus officiis sint at facilis illo officia, a doloremque fugiat
          quae dolor eligendi. In corporis exercitationem fugiat laborum eos,
          soluta at.
        </p>
      </div>
      <div class="buttons">
        <button type="button" class="btn btn-primary">lister</button>
      </div>
    </div>
  </div>
</div>
