<div
  class="app-splash-screen"
  [ngStyle]="{
    left: windowWidth,
    opacity: opacityChange,
    transition: spalashTransition
  }"
  *ngIf="showSplash"
>
  <div class="container">
    <div class="box">
      <div class="title">
        <span class="block"></span>
        <h1>Linkedfishers<span></span></h1>
      </div>

      <div class="role">
        <div class="block"></div>
        <p>is glad to have you !</p>
      </div>
    </div>
  </div>


</div>

  <div class="sk-chase">
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
  </div>
