<div class="order-summary">
  <h3>Order Details</h3>
  <div class="summary-price">
    <span>Items Price</span>
    <span>{{ totalPrice | currency }} DT</span>
  </div>
  <div class="summary-price">
    <span>Packing & chipping</span>
    <span class="free">Free</span>
  </div>
  <div class="checkout">
    <div class="summary-price">
      <span>Items Price</span>
      <span>{{ totalPrice | currency }} DT</span>
    </div>
    <div class="checkout-button">
      <button (click)="navigateToCheckout()">
        <i class="fa fa-credit-card-alt" aria-hidden="true"></i> Checkout
      </button>
    </div>
  </div>
</div>
