<footer>
  <div class="container ">
    <div class="row">
      <div class="col-md-6 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title">LinkedFishers</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">News and articles</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title">Contact & Support</span>
          </li>
          <li class="nav-item">
            <span class="nav-link" style="color: #ebb802"
              ><i
                class="fa fa-phone"
                style="color: #ebb802; margin-right: 5px"
              ></i>
              +216 96 600 900
            </span>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="fa fa-envelope" style="margin-right: 5px"></i
              >linkedfisher@gmail.com</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="text-center"><i class="fa fa-ellipsis-h"></i></div>

    <div class="row text-center">
      <div class="col-md-4 box">
        <span class="copyright quick-links"
          >Copyright &copy; www.Linkedfishers.com
          <script>
            document.write(new Date().getFullYear());
          </script>
        </span>
      </div>
      <div class="col-md-4 box">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-facebook-f"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 box">
        <ul class="list-inline quick-links">
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
