.displayflef {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  justify-content: flex-start !important;
  flex-wrap: wrap;
}
.widthprod {
  width: 375px !important;
}
.maxw {
  width: 1200px;
}
