.col-md-6 {
  margin: 0 auto;
}
.btn {
  width: 30%;
  margin: 0 auto;
  background: rgb(40, 40, 170);
  border-color: rgb(40, 40, 170);
}

.btn:hover {
  background: white;
  color: rgb(40, 40, 170);
}

.input-custom {
  border: none !important;
  width: 50% !important;
  margin: 0 auto !important;
}
