.button.disabled {
  background-color: #5753e4;
}

img.round {
  border-radius: 50%;
}

p.option-item-title {
  font-size: medium;
}

.simple-tab-item {
  display: block !important;
}
.fa-newspaper {
  vertical-align: middle;
  color: #226ab2;
  font-weight: 400;
  margin-right: 10px;
}
/* .custompos {
  position: relative !important;
}
.test2 .widget-box.no-padding {
  position: initial !important;

} */
.widget-box.custompos {
  position: relative !important;
}

.testtest {
  position: relative !important;
}

.postStickSideBar {
  position: sticky !important;
  left: 0 !important;
  top: 115px !important;
}
.postStickSideBarywo {
  position: sticky !important;
  right: 0 !important;
  top: 115px !important;
}
