<div class="container">
  <main id="main" class="clearfix">
    <div class="fusion-row">
      <section id="content" style="width: 100%">
        <div id="post-27" class="post-27 page type-page status-publish hentry">
          <div class="post-content">
            <div class="justify policy-page">
              <h2
                data-fontsize="30"
                data-lineheight="36px"
                class="fusion-responsive-typography-calculated"
                style="--fontSize: 30; line-height: 1.2"
              >
                Qui sommes-nous ?
              </h2>
              <ul class="list">
                <li>
                  <strong>L’adresse de notre site Web est :</strong>&nbsp;<a
                    href="https://www.linkedfishers.com"
                    >https://www.linkedfishers.com</a
                  >
                </li>
                <li>
                  <strong>Propriétaire</strong> : HOOKEDUP – CENTRE COMM ET
                  MEDICAL EL KHALIL <br />B1 BU 145 <br />2010 La Mannouba
                </li>
                <li>
                  <strong>Créateur</strong> :
                  <a
                    href="https://www.linkedfishers.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >HOOKEDUP</a
                  >
                </li>
                <li>
                  <strong>Responsable publication</strong> : HOOKEDUP –
                  <a href="tel:00216 96 60 09 00" class="dib link_phone1"
                    >00216 96 60 09 00</a
                  >
                </li>
                <li>
                  Le responsable publication est une personne physique ou une
                  personne morale.
                </li>
                <li>
                  <strong>Webmaster</strong> : HOOKEDUP –
                  <a class="dib" href="tel:0223505560">00216 96 60 09 00</a>
                </li>
                <li>
                  <strong>Hébergeur</strong> : OXAHOST – Siège social : A-12
                  Complexe Résidence Jinène du Lac - LAC 2 - Tunis - Tunisie..
                </li>
              </ul>
              <h2
                data-fontsize="30"
                data-lineheight="36px"
                class="fusion-responsive-typography-calculated"
                style="--fontSize: 30; line-height: 1.2"
              >
                Utilisation des données personnelles collectées
              </h2>
              <h3
                data-fontsize="25"
                data-lineheight="32.5px"
                class="fusion-responsive-typography-calculated"
                style="--fontSize: 25; line-height: 1.3"
              >
                Commentaires
              </h3>
              <p class="parag">
                Quand vous laissez un commentaire sur notre site web, les
                données inscrites dans le formulaire de commentaire, mais aussi
                votre adresse IP et l’agent utilisateur de votre navigateur sont
                collectés pour nous aider à la détection des commentaires
                indésirables. Une chaîne anonymisée créée à partir de votre
                adresse de messagerie (également appelée hash) peut être envoyée
                au service Gravatar pour vérifier si vous utilisez ce dernier.
                Les clauses de confidentialité du service Gravatar sont
                disponibles ici : https://automattic.com/privacy/. Après
                validation de votre commentaire, votre photo de profil sera
                visible publiquement à coté de votre commentaire.
              </p>
              <h3
                data-fontsize="25"
                data-lineheight="32.5px"
                class="fusion-responsive-typography-calculated"
                style="--fontSize: 25; line-height: 1.3"
              >
                Médias
              </h3>
              <p class="parag">
                Si vous êtes un utilisateur ou une utilisatrice enregistré·e et
                que vous téléversez des images sur le site web, nous vous
                conseillons d’éviter de téléverser des images contenant des
                données EXIF de coordonnées GPS. Les visiteurs de votre site web
                peuvent télécharger et extraire des données de localisation
                depuis ces images.
              </p>
              <h2
                data-fontsize="30"
                data-lineheight="36px"
                class="fusion-responsive-typography-calculated"
                style="--fontSize: 30; line-height: 1.2"
              >
                Formulaires de contact
              </h2>
              <h3
                data-fontsize="25"
                data-lineheight="32.5px"
                class="fusion-responsive-typography-calculated"
                style="--fontSize: 25; line-height: 1.3"
              >
                Cookies
              </h3>
              <p class="parag">
                Si vous déposez un commentaire sur notre site, il vous sera
                proposé d’enregistrer votre nom, adresse de messagerie et site
                web dans des cookies. C’est uniquement pour votre confort afin
                de ne pas avoir à saisir ces informations si vous déposez un
                autre commentaire plus tard. Ces cookies expirent au bout d’un
                an. Si vous avez un compte et que vous vous connectez sur ce
                site, un cookie temporaire sera créé afin de déterminer si votre
                navigateur accepte les cookies. Il ne contient pas de données
                personnelles et sera supprimé automatiquement à la fermeture de
                votre navigateur. Lorsque vous vous connecterez, nous mettrons
                en place un certain nombre de cookies pour enregistrer vos
                informations de connexion et vos préférences d’écran. La durée
                de vie d’un cookie de connexion est de deux jours, celle d’un
                cookie d’option d’écran est d’un an. Si vous cochez « Se
                souvenir de moi », votre cookie de connexion sera conservé
                pendant deux semaines. Si vous vous déconnectez de votre compte,
                le cookie de connexion sera effacé. En modifiant ou en publiant
                un article, un cookie supplémentaire sera enregistré dans votre
                navigateur. Ce cookie ne comprend aucune donnée personnelle. Il
                indique simplement l’identifiant de l’article que vous venez de
                modifier. Il expire au bout d’un jour.
              </p>
              <h3
                data-fontsize="25"
                data-lineheight="32.5px"
                class="fusion-responsive-typography-calculated"
                style="--fontSize: 25; line-height: 1.3"
              >
                Contenu embarqué depuis d’autres sites
              </h3>
              <p class="parag">
                Les articles de ce site peuvent inclure des contenus intégrés
                (par exemple des vidéos, images, articles…). Le contenu intégré
                depuis d’autres sites se comporte de la même manière que si le
                visiteur se rendait sur cet autre site. Ces sites web pourraient
                collecter des données sur vous, utiliser des cookies, embarquer
                des outils de suivis tiers, suivre vos interactions avec ces
                contenus embarqués si vous disposez d’un compte connecté sur
                leur site web.
              </p>
              <h3
                data-fontsize="25"
                data-lineheight="32.5px"
                class="fusion-responsive-typography-calculated"
                style="--fontSize: 25; line-height: 1.3"
              >
                Statistiques et mesures d’audience
              </h3>
              <p class="parag">
                Google Analytics nous permet de collecter des informations sur
                la manière dont vous naviguez sur notre site, à des fins
                statistiques et pour nous permettre d’optimiser nos services.
              </p>
              <h2
                data-fontsize="30"
                data-lineheight="36px"
                class="fusion-responsive-typography-calculated"
                style="--fontSize: 30; line-height: 1.2"
              >
                Utilisation et transmission de vos données personnelles
              </h2>
              <h3
                data-fontsize="25"
                data-lineheight="32.5px"
                class="fusion-responsive-typography-calculated"
                style="--fontSize: 25; line-height: 1.3"
              >
                Durées de stockage de vos données
              </h3>
              <p class="parag">
                Si vous laissez un commentaire, le commentaire et ses
                métadonnées sont conservés indéfiniment. Cela permet de
                reconnaître et approuver automatiquement les commentaires
                suivants au lieu de les laisser dans la file de modération. Pour
                les utilisateurs et utilisatrices qui s’enregistrent sur notre
                site (si cela est possible), nous stockons également les données
                personnelles indiquées dans leur profil. Tous les utilisateurs
                et utilisatrices peuvent voir, modifier ou supprimer leurs
                informations personnelles à tout moment (à l’exception de leur
                nom d’utilisateur·ice). Les gestionnaires du site peuvent aussi
                voir et modifier ces informations.
              </p>
              <h3
                data-fontsize="25"
                data-lineheight="32.5px"
                class="fusion-responsive-typography-calculated"
                style="--fontSize: 25; line-height: 1.3"
              >
                Les droits que vous avez sur vos données
              </h3>
              <p class="parag">
                Si vous avez un compte ou si vous avez laissé des commentaires
                sur le site, vous pouvez demander à recevoir un fichier
                contenant toutes les données personnelles que nous possédons à
                votre sujet, incluant celles que vous nous avez fournies. Vous
                pouvez également demander la suppression des données
                personnelles vous concernant. Cela ne prend pas en compte les
                données stockées à des fins administratives, légales ou pour des
                raisons de sécurité.
              </p>
              <h3
                data-fontsize="25"
                data-lineheight="32.5px"
                class="fusion-responsive-typography-calculated"
                style="--fontSize: 25; line-height: 1.3"
              >
                Transmission de vos données personnelles
              </h3>
              <p class="parag">
                Les commentaires des visiteurs peuvent être vérifiés à l’aide
                d’un service automatisé de détection des commentaires
                indésirables.
              </p>
            </div>
            <span class="cp-load-after-post"></span>
          </div>
        </div>
      </section>
    </div>
    <!-- fusion-row -->
  </main>
</div>
