<div
  class="content-grid"
  style="
    transform: translate(360.5px, 0px);
    transition: transform 0.4s ease-in-out 0s;
  "
>
  <!-- SECTION HEADER -->
  <div class="section-header">
    <!-- SECTION HEADER INFO -->
    <div class="section-header-info">
      <!-- SECTION PRETITLE -->
      <p class="section-pretitle">Browse Products</p>
      <!-- /SECTION PRETITLE -->
    </div>
    <!-- /SECTION HEADER INFO -->
  </div>
  <!-- /SECTION HEADER -->

  <!-- SECTION FILTERS BAR -->
  <div class="section-filters-bar v4">
    <!-- SECTION FILTERS BAR ACTIONS -->
    <div class="section-filters-bar-actions">
      <!-- FORM -->
      <form class="form">
        <!-- FORM ITEM -->
        <div class="form-item split">
          <!-- FORM INPUT -->
          <div class="form-input small">
            <label for="items-search">Search Items</label>
            <input
              [(ngModel)]="searchKeyword"
              type="text"
              id="search-main"
              name="search_main"
            />
          </div>
          <!-- /FORM INPUT -->

          <!-- BUTTON -->
          <button class="button primary">
            <!-- ICON MAGNIFYING GLASS -->
            <svg class="icon-magnifying-glass">
              <use xlink:href="#svg-magnifying-glass"></use>
            </svg>
            <!-- /ICON MAGNIFYING GLASS -->
          </button>
          <!-- /BUTTON -->
        </div>
        <!-- /FORM ITEM -->
      </form>
      <!-- /FORM -->
    </div>
    <!-- /SECTION FILTERS BAR ACTIONS -->

    <!-- SECTION FILTERS BAR ACTIONS -->
    <div class="section-filters-bar-actions">
      <!-- FORM -->
      <form class="form">
        <!-- FORM ITEM -->
        <div class="form-item split medium">
          <!-- FORM SELECT -->
          <div class="form-select small">
            <label for="items-filter-category">Filter By</label>
            <select
              [(ngModel)]="filterBy"
              id="items-filter-category"
              name="items_filter_category"
            >
              <option value="price">Price</option>
              <option value="createdAt">Date Published</option>
            </select>
            <!-- FORM SELECT ICON -->
            <svg class="form-select-icon icon-small-arrow">
              <use xlink:href="#svg-small-arrow"></use>
            </svg>
            <!-- /FORM SELECT ICON -->
          </div>
          <!-- /FORM SELECT -->

          <!-- FORM SELECT -->
          <div class="form-select small">
            <label for="items-filter-order">Order By</label>
            <select
              [(ngModel)]="orderBy"
              id="items-filter-order"
              name="items_filter_order"
            >
              <option value="-1">Descending</option>
              <option value="1">Ascending</option>
            </select>
            <!-- FORM SELECT ICON -->
            <svg class="form-select-icon icon-small-arrow">
              <use xlink:href="#svg-small-arrow"></use>
            </svg>
            <!-- /FORM SELECT ICON -->
          </div>
          <!-- /FORM SELECT -->

          <!-- BUTTON -->
          <button (click)="applySortFilters()" class="button secondary">
            Apply Filters
          </button>
          <!-- /BUTTON -->
        </div>
        <!-- /FORM ITEM -->
      </form>
      <!-- /FORM -->
    </div>
    <!-- /SECTION FILTERS BAR ACTIONS -->
  </div>
  <!-- /SECTION FILTERS BAR -->

  <!-- GRID -->
  <div class="grid grid-3-9 small-space">
    <!-- MARKETPLACE SIDEBAR -->
    <div class="marketplace-sidebar">
      <!-- SIDEBAR BOX -->
      <div class="sidebar-box">
        <!-- SIDEBAR BOX TITLE -->
        <p class="sidebar-box-title">Price Range</p>
        <!-- /SIDEBAR BOX TITLE -->

        <!-- SIDEBAR BOX ITEMS -->
        <div class="sidebar-box-items small-space">
          <!-- FORM ITEM -->
          <div class="form-item split">
            <ngx-slider
              (userChangeEnd)="updatePriceFilter()"
              [(value)]="minPrice"
              [(highValue)]="maxPrice"
              [options]="options"
            ></ngx-slider>
          </div>
          <!-- /FORM ITEM -->
        </div>
        <!-- /SIDEBAR BOX ITEMS -->

        <!-- SIDEBAR BOX TITLE -->
<!--         <p class="sidebar-box-title">categories</p>
 -->        <!-- /SIDEBAR BOX TITLE -->

        <!-- SIDEBAR BOX ITEMS -->
        <div class="sidebar-box-items">
          <!-- CHECKBOX LINE -->

          <div class="checkbox-line display-bloc">
            <!-- <div class="checkbox-wrap" *ngFor="let item of productCat">
              <input
                type="checkbox"
                [value]="item.value"
                (change)="onCbChange($event)"
              />
              <label for="{{ item.id }}"> {{ item.name }} </label>
              <div class="checkbox-box round"></div>
            </div> -->
          </div>
        </div>
        <!-- /SIDEBAR BOX ITEMS -->
      </div>
      <!-- /SIDEBAR BOX -->
    </div>
    <!-- /MARKETPLACE SIDEBAR -->

    <!-- MARKETPLACE CONTENT -->
    <div class="marketplace-content">
      <!-- GRID -->
      <div class="grid grid-3-3-3 centered">
        <!-- PRODUCT PREVIEW -->
        <div
          *ngFor="let product of visibleProducts | filter: searchKeyword:'name'"
          class="product-preview"
        >
          <!-- PRODUCT PREVIEW IMAGE -->
          <a [routerLink]="['/marketplace/details-product', product?._id]">
            <figure
              class="product-preview-image liquid"
              style="
                border-radius: 2%;
                background: url('img/marketplace/items/01.jpg') center center /
                  cover no-repeat;
              "
            >
              <img src="{{ product?.picture | picture }}" alt="item-01" />
            </figure>
          </a>
          <!-- /PRODUCT PREVIEW IMAGE -->

          <!-- PRODUCT PREVIEW INFO -->
          <div class="product-preview-info">
            <!-- TEXT STICKER -->
            <p class="text-sticker">
              <span class="highlighted">DT</span> {{ product?.price }}
            </p>
            <!-- /TEXT STICKER -->

            <!-- PRODUCT PREVIEW TITLE -->
            <p class="product-preview-title">
              <a
                [routerLink]="['/marketplace/details-product', product?._id]"
                >{{ product?.name }}</a
              >
            </p>
            <!-- /PRODUCT PREVIEW TITLE -->

            <!-- PRODUCT PREVIEW CATEGORY -->
            <p class="product-preview-category digital">
              <a [routerLink]="" routerLinkActive="router-link-active">{{
                product?.type?.name
              }}</a>
            </p>
            <!-- /PRODUCT PREVIEW CATEGORY -->

            <!-- PRODUCT PREVIEW TEXT -->
            <p class="product-preview-text">
              {{
                product?.description?.length > 50
                  ? (product?.description | slice: 0:50) + "..."
                  : product?.description
              }}
            </p>
            <!-- /PRODUCT PREVIEW TEXT -->
          </div>
          <!-- /PRODUCT PREVIEW INFO -->

          <!-- PRODUCT PREVIEW META -->
          <div class="product-preview-meta">
            <!-- PRODUCT PREVIEW AUTHOR -->
            <div class="product-preview-author">
              <!-- PRODUCT PREVIEW AUTHOR IMAGE -->
              <a
                class="product-preview-author-image user-avatar micro no-border"
                [routerLink]="['/marketplace/details-product', product?._id]"
              >
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                  <!-- HEXAGON -->
                  <div
                    class="hexagon-image-18-20"
                    data-src="../../../../../assets/img/avatar/01.jpg"
                    style="width: 18px; height: 20px; position: relative"
                  >
                    <canvas
                      width="18"
                      height="20"
                      style="position: absolute; top: 0px; left: 0px"
                    ></canvas>
                  </div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->
              </a>
              <!-- /PRODUCT PREVIEW AUTHOR IMAGE -->

              <!-- PRODUCT PREVIEW AUTHOR TITLE -->
              <p class="product-preview-author-title">Posted By</p>
              <!-- /PRODUCT PREVIEW AUTHOR TITLE -->

              <!-- PRODUCT PREVIEW AUTHOR TEXT -->
              <p class="product-preview-author-text">
                <a [routerLink]="">{{ product?.owner?.companyName }}</a>
              </p>
              <!-- /PRODUCT PREVIEW AUTHOR TEXT -->
            </div>
            <!-- /PRODUCT PREVIEW AUTHOR -->

            <!-- RATING LIST -->

            <!-- /RATING LIST -->
            <button
              type="button"
              class="btn btn-outline-primary widthmid"
              (click)="addToCart(product._id)"
            >
              Add to Cart
            </button>
          </div>
          <!--       <div class="product-preview-meta justify-content-center"></div>


        </div> -->
          <!-- /PRODUCT PREVIEW -->
        </div>
        <!-- /GRID -->

        <!-- SECTION PAGER BAR WRAP -->

        <!-- /SECTION PAGER BAR WRAP -->
      </div>
      <!-- /MARKETPLACE CONTENT -->
    </div>
    <!-- /GRID -->
  </div>
</div>
