<div class="container">
  <div class="row">
    <div class="col-md-5">
        <div>
          <button class="back" (click)="backToCart()">
            <i class="fa fa-arrow-left"></i>
            <span>Back</span>
          </button>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
          <form [formGroup]="checkoutFormGroup()">
              <div>
                <div>
                  <label for=""></label>
                  <input type="text">
                </div>
              </div>


          </form>
    </div>
   
  </div>
</div>
