<div
  class="content-grid"
  style="
    transform: translate(360.5px, 0px);
    transition: transform 0.4s ease-in-out 0s;
  "
>
  <!-- SECTION BANNER -->
  <!--   <div class="section-banner">
    <img
      class="section-banner-icon"
      src="../../../../assets/img/banner/marketplace-icon.png"
      alt="marketplace-icon"
    />

    <p class="section-banner-title">Hebergement details!</p>
  </div> -->

  <!-- SECTION HEADER -->
  <div class="section-header mrt">
    <!-- SECTION HEADER INFO -->
    <div class="section-header-info flex">
      <!-- SECTION TITLE -->
<!--       <h2 class="section-title">{{ hebergement?.name }}</h2>
 -->      <!-- /SECTION TITLE -->
    </div>
    <!-- /SECTION HEADER INFO -->
  </div>
  <!-- /SECTION HEADER -->

  <!-- GRID -->
  <div class="grid grid-8-4 blockcontent">
    <!-- MARKETPLACE CONTENT -->
    <div class="marketplace-content grid-column max-width">
      <!-- SLIDER PANEL -->
      <div class="slider-panel">
        <!-- SLIDER PANEL SLIDES -->
        <div class="tns-outer" id="product-box-slider-items-ow">
          <div
            class="tns-liveregion tns-visually-hidden"
            aria-live="polite"
            aria-atomic="true"
          >
            slide <span class="current">8</span> of 7
          </div>
          <div
            class="tns-inner testimage"
            id="product-box-slider-items-iw"
            *ngIf="images"
          >
<!--  -->



            <!--   <div
              id="product-box-slider-items"
              class="slider-panel-slides tns-slider tns-gallery tns-subpixel tns-calc tns-horizontal testtimage"
              *ngFor="let item of images"
              style="margin-bottom: 10px !important"
            >
              <img
                style="border-radius: 2%"
                src="{{ item ? API + item : API + image }}"
                alt="item-10"
                class="image-zoom"
              /> -->
            <p-galleria
              [(value)]="images"
              [responsiveOptions]="responsiveOptions"
              [containerStyle]="{ 'max-width': '800px' }"
              [numVisible]="7"
            >
              <ng-template pTemplate="item" let-item>
                <img
                  [src]="API + item"
                  style="width: 100%; display: block"
                  class="image-gallery-carroussel"
                />
              </ng-template>
              <ng-template pTemplate="thumbnail" let-item id="test">
                <div class="grid grid-nogutter justify-content-center">
                  <img
                    [src]="API + item"
                    style="display: block"
                    class="wh-image"
                  />
                </div>
              </ng-template>
            </p-galleria>

     <!--  -->      <!--  <div
              id="product-box-slider-items"
              class="slider-panel-slides tns-slider tns-gallery tns-subpixel tns-calc tns-horizontal testtimage"
              *ngFor="let item of images"
            >
              <img
                style="border-radius: 2%"
                src="{{ item ? API + item : API + image }}"
                alt="item-10"
                class="image-zoom"
              />
            </div> -->
          </div>
        </div>
        <!-- /SLIDER PANEL SLIDES -->
      </div>
      <!-- /SLIDER PANEL -->

      <!-- TAB BOX -->
      <div class="tab-box">
        <!-- TAB BOX OPTIONS -->
        <div class="tab-box-options">
          <!-- TAB BOX OPTION -->
          <div class="tab-box-option active">
            <!-- TAB BOX OPTION TITLE -->
            <p class="tab-box-option-title">Description</p>
            <!-- /TAB BOX OPTION TITLE -->
          </div>
          <!-- /TAB BOX OPTION -->

          <!-- TAB BOX OPTION -->
          <div class="tab-box-option">
            <!-- TAB BOX OPTION TITLE -->
            <p class="tab-box-option-title">
              Reviews
              <span class="highlighted">{{
                hebergement?.reviews?.length || 0
              }}</span>
            </p>
            <!-- /TAB BOX OPTION TITLE -->
          </div>
          <!-- /TAB BOX OPTION -->
        </div>
        <!-- /TAB BOX OPTIONS -->

        <!-- TAB BOX ITEMS -->
        <div class="tab-box-items">
          <!-- TAB BOX ITEM -->
          <div class="tab-box-item" style="display: block">
            <!-- TAB BOX ITEM CONTENT -->
            <div class="tab-box-item-content">
              <!-- TAB BOX ITEM TITLE -->
              <p class="tab-box-item-title">{{ hebergement?.name }}</p>
              <!-- /TAB BOX ITEM TITLE -->
              <p class="tab-box-item-paragraph">
                {{ hebergement?.description }}
              </p>
            </div>
            <!-- /TAB BOX ITEM CONTENT -->
          </div>
          <!-- /TAB BOX ITEM -->

          <!-- TAB BOX ITEM -->
          <div class="tab-box-item" style="display: none">
            <!-- POST COMMENT LIST -->
            <div class="post-comment-list no-border-top">
              <!-- POST COMMENT -->
              <div
                *ngFor="let review of hebergement?.reviews"
                class="post-comment"
              >
                <!-- USER AVATAR -->
                <a
                  class="user-avatar small no-outline"
                  [routerLink]="[
                    '/profile/',
                    review?.author?.slug || review?.author?._id
                  ]"
                >
                  <img
                    class="round-small"
                    [src]="review?.author?.profilePicture | picture"
                    alt="avatar-01"
                  />
                </a>
                <!-- /USER AVATAR -->

                <!-- POST COMMENT TEXT WRAP -->
                <div *ngIf="review?.rating" class="post-comment-text-wrap">
                  <!-- RATING LIST -->
                  <div class="rating-list medium">
                    <!-- RATING -->
                    <div
                      *ngFor="let i of range(review?.rating)"
                      class="rating medium filled"
                    >
                      <!-- RATING ICON -->
                      <svg class="rating-icon medium icon-star">
                        <use xlink:href="#svg-star"></use>
                      </svg>
                      <!-- /RATING ICON -->
                    </div>
                    <!-- /RATING -->

                    <!-- RATING -->
                    <div
                      *ngFor="let i of range(5 - review?.rating)"
                      class="rating medium"
                    >
                      <!-- RATING ICON -->
                      <svg class="rating-icon medium icon-star">
                        <use xlink:href="#svg-star"></use>
                      </svg>
                      <!-- /RATING ICON -->
                    </div>
                    <!-- /RATING -->
                  </div>
                  <!-- /RATING LIST -->

                  <!-- POST COMMENT TEXT -->
                  <p *ngIf="review?.rating" class="post-comment-text">
                    <span class="bold"> Rating: </span>
                    <span class="highlighted">{{ review?.rating }}/5</span>
                  </p>
                  <!-- /POST COMMENT TEXT -->
                </div>
                <!-- /POST COMMENT TEXT WRAP -->

                <!-- POST COMMENT TEXT -->
                <p class="post-comment-text">{{ review?.content }}</p>
                <!-- /POST COMMENT TEXT -->

                <!-- CONTENT ACTIONS -->
                <div class="content-actions">
                  <!-- CONTENT ACTION -->
                  <div class="content-action">
                    <!-- META LINE -->
                    <div class="meta-line">
                      <!-- META LINE TEXT -->
                      <p class="meta-line-text">
                        <a
                          [routerLink]="[
                            '/profile/',
                            review?.author?.slug || review?.author?._id
                          ]"
                        >
                          {{ review?.author?.fullName }}
                        </a>
                      </p>
                      <!-- /META LINE TEXT -->
                    </div>
                    <!-- /META LINE -->

                    <!-- META LINE -->
                    <div class="meta-line">
                      <!-- META LINE TIMESTAMP -->
                      <p class="meta-line-timestamp">
                        {{ review?.createdAt | timeAgo }}
                      </p>
                      <!-- /META LINE TIMESTAMP -->
                    </div>
                    <!-- /META LINE -->

                    <!-- META LINE -->
                    <div class="meta-line settings">
                      <!-- POST SETTINGS WRAP -->
                      <div
                        class="post-settings-wrap"
                        style="position: relative"
                      >
                        <!-- POST SETTINGS -->
                        <div
                          class="post-settings post-settings-dropdown-trigger"
                        >
                          <!-- POST SETTINGS ICON -->
                          <svg class="post-settings-icon icon-more-dots">
                            <use xlink:href="#svg-more-dots"></use>
                          </svg>
                          <!-- /POST SETTINGS ICON -->
                        </div>
                        <!-- /POST SETTINGS -->

                        <!-- SIMPLE DROPDOWN -->
                        <div
                          class="simple-dropdown post-settings-dropdown"
                          style="
                            position: absolute;
                            z-index: 9999;
                            bottom: 30px;
                            right: 0px;
                            opacity: 0;
                            visibility: hidden;
                            transform: translate(0px, 16px);
                            transition: transform 0.3s ease-in-out 0s,
                              opacity 0.3s ease-in-out 0s,
                              visibility 0.3s ease-in-out 0s;
                          "
                        >
                          <!-- SIMPLE DROPDOWN LINK -->
                          <p class="simple-dropdown-link">Report Review</p>
                          <!-- /SIMPLE DROPDOWN LINK -->
                        </div>
                        <!-- /SIMPLE DROPDOWN -->
                      </div>
                      <!-- /POST SETTINGS WRAP -->
                    </div>
                    <!-- /META LINE -->
                  </div>
                  <!-- /CONTENT ACTION -->
                </div>
                <!-- /CONTENT ACTIONS -->
              </div>
              <!-- /POST COMMENT -->
              <!-- /POST COMMENT -->
              <div
                *ngIf="!isOwner && currentUser"
                class="post-comment-form with-title"
              >
                <!-- POST COMMENT FORM TITLE -->
                <p class="post-comment-form-title">Leave a Review</p>
                <!-- /POST COMMENT FORM TITLE -->

                <!-- USER AVATAR -->
                <div class="user-avatar small no-outline">
                  <!-- USER AVATAR CONTENT -->
                  <img
                    class="round-small"
                    [src]="currentUser?.profilePicture | picture"
                    alt="avatar-01"
                  />
                </div>
                <!-- /USER AVATAR -->

                <!-- FORM -->
                <form class="form">
                  <!-- FORM ROW -->
                  <div class="form-row">
                    <!-- FORM ITEM -->
                    <div class="form-item">
                      <!-- FORM INPUT -->
                      <ngb-rating
                        [resettable]="true"
                        [max]="5"
                        [(rate)]="newReview.rating"
                      >
                        <ng-template let-fill="fill" let-index="index">
                          <span class="star" [class.filled]="fill === 100"
                            >&#9733;</span
                          >
                        </ng-template>
                      </ngb-rating>
                      <div
                        style="padding-top: 20px"
                        class="form-input small active"
                      >
                        <textarea
                          placeholder="Your review"
                          [(ngModel)]="newReview.content"
                          id="post-reply-2"
                          name="post_reply_2"
                        ></textarea>
                      </div>
                      <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->
                  </div>
                  <!-- /FORM ROW -->
                </form>
                <!-- /FORM -->
                <p
                  (click)="addReview()"
                  style="width: 100%"
                  class="button secondary"
                >
                  {{ "Add review" | translate }}
                </p>
                <!-- /BUTTON -->
              </div>
            </div>
            <!-- /POST COMMENT LIST -->
          </div>
          <!-- /TAB BOX ITEM -->
        </div>
        <!-- /TAB BOX ITEMS -->
      </div>
      <!-- /TAB BOX -->
    </div>
    <!-- /MARKETPLACE CONTENT -->

    <!-- MARKETPLACE SIDEBAR -->
    <div class="marketplace-sidebar stickyForm">
      <!-- SIDEBAR BOX -->
      <div class="sidebar-box">
        <!-- SIDEBAR BOX ITEMS -->
        <div class="sidebar-box-items">
          <!-- PRICE TITLE -->
          <p class="price-title big">
            <span class="currency">{{ code }}</span> {{ price }}
          </p>
          <!-- /PRICE TITLE -->

          <!-- BUTTON -->
          <p
            [routerLink]="['/book/', 'home', hebergement?._id]"
            class="button primary"
          >
            Reserver
          </p>

          <div class="user-stats">
            <div class="user-stat big">
              <p class="user-stat-title">{{ hebergement?.reviews.length }}</p>

              <p class="user-stat-text">Reviews</p>
            </div>

            <div class="user-stat big">
              <p class="user-stat-title">
                {{ hebergement?.rating | number: "1.0-2" }}/5
              </p>

              <div class="rating-list">
                <div
                  *ngFor="let i of range(hebergement?.rating)"
                  class="rating medium filled"
                >
                  <svg class="rating-icon medium icon-star">
                    <use xlink:href="#svg-star"></use>
                  </svg>
                </div>
                <div
                  *ngFor="let i of range(5 - hebergement?.rating)"
                  class="rating medium"
                >
                  <svg class="rating-icon medium icon-star">
                    <use xlink:href="#svg-star"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>

      <!--   <p class="sidebar-box-title medium-space">Hosted by</p>

        <div class="sidebar-box-items">
          <div class="user-status">
            <img
              class="round"
              [src]="hebergement?.owner?.profilePicture | picture"
              alt="avatar-01"
            />
            <p class="user-status-title">
              <a class="bold" href="profile-timeline.html">{{
                hebergement?.owner?.fullName
              }}</a>
            </p>

          </div>
          <a
            class="button small white"
            [routerLink]="[
              '/profile/',
              hebergement?.owner?.slug || hebergement?.owner?._id
            ]"
            >View Owner's profile</a
          >
        </div> -->

        <p class="sidebar-box-title medium-space mrt">
          {{ "Hebergement Details" | translate }}
        </p>
        <!-- /SIDEBAR BOX TITLE -->

        <!-- SIDEBAR BOX ITEMS -->
        <div class="sidebar-box-items martItems">
          <!-- INFORMATION LINE LIST -->
          <div class="information-line-list">
            <!-- INFORMATION LINE -->
            <div class="information-line">
              <!-- INFORMATION LINE TITLE -->
              <p class="information-line-title customwidth">Type</p>
              <!-- /INFORMATION LINE TITLE -->

              <!-- INFORMATION LINE TEXT -->
              <p class="information-line-text">
                <span class="bold">{{ hebergement?.type?.name }}</span>
              </p>
              <!-- /INFORMATION LINE TEXT -->
            </div>

            <div class="information-line">
              <!-- INFORMATION LINE TITLE -->
              <p class="information-line-title">
                {{ "Home capacity" | translate }}
              </p>
              <!-- /INFORMATION LINE TITLE -->

              <!-- INFORMATION LINE TEXT -->
              <p class="information-line-text">
                <span class="bold">{{ hebergement?.details?.capacity }}</span>
              </p>
              <!-- /INFORMATION LINE TEXT -->
            </div>

            <div class="information-line">
              <!-- INFORMATION LINE TITLE -->
              <p class="information-line-title">
                {{ "Home Internet" | translate }}
              </p>
              <!-- /INFORMATION LINE TITLE -->

              <!-- INFORMATION LINE TEXT -->
              <p class="information-line-text">
                <span class="bold">{{
                  hebergement?.details?.internet ? "Yes" : "No"
                }}</span>
              </p>
              <!-- /INFORMATION LINE TEXT -->
            </div>
            <div class="information-line">
              <!-- INFORMATION LINE TITLE -->
              <p class="information-line-title">
                {{ "Home alcoholAllowed" | translate }}
              </p>
              <!-- /INFORMATION LINE TITLE -->

              <!-- INFORMATION LINE TEXT -->
              <p class="information-line-text">
                <span class="bold">{{
                  hebergement?.details?.alcoholAllowed ? "Yes" : "No"
                }}</span>
              </p>
              <!-- /INFORMATION LINE TEXT -->
            </div>
            <!-- /INFORMATION LINE -->

            <!-- INFORMATION LINE -->
            <div class="information-line">
              <!-- INFORMATION LINE TITLE -->
              <p class="information-line-title">Created</p>
              <!-- /INFORMATION LINE TITLE -->

              <!-- INFORMATION LINE TEXT -->
              <p class="information-line-text">
                <span class="bold">{{
                  hebergement?.createdAt
                    | date
                      : "
                                    MMMM, d, y, h:mm a"
                }}</span>
              </p>
              <!-- /INFORMATION LINE TEXT -->
            </div>
            <!-- /INFORMATION LINE -->
          </div>
          <!-- /INFORMATION LINE LIST -->
        </div>
        <!-- /SIDEBAR BOX ITEMS -->

        <!-- SIDEBAR BOX TITLE -->
        <!-- /SIDEBAR BOX TITLE -->

        <div class="sidebar-box-items">
         <!--  <div class="social-links small align-left">
            <a class="social-link small facebook" href="#">
              <svg class="social-link-icon icon-facebook">
                <use xlink:href="#svg-facebook"></use>
              </svg>
            </a>

            <a class="social-link small twitter" href="#">
              <svg class="social-link-icon icon-twitter">
                <use xlink:href="#svg-twitter"></use>
              </svg>
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
