img.round {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}
img.round-small {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #ffd700;
}

.information-line .information-line-title {
  width: 300px !important;
  padding-right: 30px !important;
}
.blockcontent {
  display: flex !important;
  margin-top: 100px !important;
}

.flex {
  display: flex !important;
}

.named-title {
  color: #ffd700;
}

.max-width {
  max-width: 800px !important;
  margin: 20px;
  width: 100%;
}

.testimage {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.testtimage {
  width: 50%;
  text-align: center;
}

.image-zoom {
  width: 90%;
  transition: transform 0.2s; /* Animation */
  height: 200px;
  position: relative;
  cursor: pointer;
}

.section-title {
  text-transform: uppercase;
}

.image-zoom:hover {
  transform: scale(1.5);
  z-index: 99999999999999;
}

.row {
  margin-bottom: 15px !important;
}

.content-grid {
  transition: transform 0.4s ease-in-out 0s !important;
  max-width: 1500px !important;
  margin: 0px !important;
  padding: 50px !important;
}

.txt-bold {
  font-weight: 500;
  line-height: 1.5;
  text-shadow: 2px 0 0 rgb(2, 2, 2), -2px 0 0 rgb(7, 7, 7), 0 2px 0 rgb(0, 0, 0),
    0rgb (8, 8, 8) x 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff;
}

@media (max-width: 800px) {
  .blockcontent {
    display: block !important;
  }
  .max-width {
    margin: 0px 0px 10px 0px !important;
  }
}

img.wh-image {
  height: 300px !important;
  width: 300px !important;
  overflow: hidden;
}
.p-items-hidden .p-galleria-thumbnail-item.p-galleria-thumbnail-item-active {
  overflow: hidden !important;
}
