img.round {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}
img.round-small {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #ffd700;
}

.information-line .information-line-title {
  width: 300px !important;
  padding-right: 30px !important;
}
.blockcontent {
  display: block !important;
}

.flex {
  display: flex !important;
}

.named-title {
  color: #ffd700;
}

.max-width {
  max-width: 800px !important;
  margin: 20px auto !important;
}

.testimage {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.testtimage {
  width: 50%;
  text-align: center;
}

.image-zoom {
  width: 90%;
  transition: transform 0.2s; /* Animation */
  height: 200px;
  position: relative;
  cursor: pointer;
}

.section-title {
  text-transform: uppercase;
}

.image-zoom:hover {
  transform: scale(1.5);
  z-index: 99999999999999;
}
