<div class="wrapper" style="overflow-y: hidden;">

    <!--search-sec end-->
    <div id="popup" class="widget-box">

        <!-- WIDGET BOX TITLE -->
        <a (click)="toggleFilter()" [routerLink]="">
            <p class="widget-box-title large">Filters</p>
        </a>
        <!-- /WIDGET BOX TITLE -->

        <!-- WIDGET BOX CONTENT -->
        <div class="widget-box-content">
            <div class="post-project">
                <div *ngIf="showFilters" class="post-project-fields">
                    <div class="filter-secs">
                        <!--filter-heading end-->
                        <div class="paddy" style="width: 100%;">
                            <div class="filter-dd">
                                <ul class="avail-checks">
                                    <li>
                                        <p class="widget-box-title">Posts</p>
                                        <input (change)="togglePosts()" type="checkbox" [(ngModel)]="showPosts"
                                            name="c1" id="c1">
                                        <label for="c1">
                                        </label>
                                    </li>
                                    <li>
                                        <p class="widget-box-title">Events</p>
                                        <input (change)="toggleEvents()" type="checkbox" [(ngModel)]="showEvents"
                                            name="c2" id="c2">
                                        <label for="c2">
                                        </label>
                                    </li>
                                    <li>
                                        <p class="widget-box-title">Homes</p>
                                        <input (change)="toggleHomes()" type="checkbox" [(ngModel)]="showHomes"
                                            name="c3" id="c3">
                                        <label for="c3">
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="filter-dd">
                                <ul class="avail-checks">
                                    <li>
                                        <p class="widget-box-title">Distance radius</p>
                                        <input (change)="toggleCircle()" type="checkbox" [(ngModel)]="showCircle"
                                            name="c4" id="c4">
                                        <label for="c4">
                                            <span></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div *ngIf="showCircle" class="filter-dd">
                                <ng5-slider (userChangeEnd)="updateCircle()" [(value)]="circleRadius"
                                    [options]="options">
                                </ng5-slider>
                            </div>
                        </div>
                    </div>
                </div>
                <!--post-project-fields end-->
            </div>
            <!--post-project end-->
        </div>
        <!-- /WIDGET BOX CONTENT -->
    </div>
    <!--search-sec end-->
    <div class="map-container">
        <div class="map-frame">
            <div id="map"></div>
        </div>
    </div>
</div>
<p style="display: none;" id="eventInformationTrigger" class="popup-event-information-trigger"></p>

<!-- POPUP EVENT -->
<div class="popup-event popup-event-information">
    <!-- POPUP CLOSE BUTTON -->
    <div class="popup-close-button popup-event-information-trigger">
        <!-- POPUP CLOSE BUTTON ICON -->
        <svg class="popup-close-button-icon icon-cross">
            <use xlink:href="#svg-cross"></use>
        </svg>
        <!-- /POPUP CLOSE BUTTON ICON -->
    </div>
    <!-- /POPUP CLOSE BUTTON -->

    <!-- POPUP EVENT COVER -->
    <figure *ngIf="selectedEvent" class="popup-event-cover liquid">
        <img [src]="selectedEvent?.image ? (API + selectedEvent?.image) : '../../../../assets/img/fishing-cover.jpg'"
            alt="cover-33">
    </figure>
    <!-- /POPUP EVENT COVER -->

    <!-- POPUP EVENT INFO -->
    <div class="popup-event-info">
        <!-- POPUP EVENT TITLE -->
        <p class="popup-event-title">{{selectedEvent?.name}}</p>
        <!-- /POPUP EVENT TITLE -->

        <!-- DECORATED FEATURE LIST -->
        <div class="decorated-feature-list">
            <!-- DECORATED FEATURE -->
            <div class="decorated-feature">
                <!-- DECORATED FEATURE ICON -->
                <svg class="decorated-feature-icon icon-events">
                    <use xlink:href="#svg-events"></use>
                </svg>
                <!-- /DECORATED FEATURE ICON -->

                <!-- DECORATED FEATURE INFO -->
                <div class="decorated-feature-info">
                    <!-- DECORATED FEATURE TITLE -->
                    <p class="decorated-feature-title">
                        {{selectedEvent?.startDate | date : 'EEEE' | translate}} , {{selectedEvent?.startDate | date :
                        'mediumDate'}}
                    </p>
                    <!-- /DECORATED FEATURE TITLE -->

                    <!-- DECORATED FEATURE TEXT -->
                    <p class="decorated-feature-text">{{selectedEvent?.startDate | date : 'h:mm a'}}</p>
                    <!-- /DECORATED FEATURE TEXT -->
                </div>
                <!-- /DECORATED FEATURE INFO -->
            </div>
            <!-- /DECORATED FEATURE -->

            <!-- DECORATED FEATURE -->
            <div *ngIf="selectedEvent?.endDate!=selectedEvent?.startDate" class="decorated-feature">
                <!-- DECORATED FEATURE ICON -->
                <svg class="decorated-feature-icon icon-ticket">
                    <use xlink:href="#svg-events"></use>
                </svg>
                <!-- /DECORATED FEATURE ICON -->

                <!-- DECORATED FEATURE INFO -->
                <div class="decorated-feature-info">
                    <!-- DECORATED FEATURE TITLE -->
                    <p class="decorated-feature-title">{{selectedEvent?.endDate | date : 'EEEE' | translate}} ,
                        {{selectedEvent?.endDate | date :
                        'mediumDate'}}</p>
                    <!-- /DECORATED FEATURE TITLE -->

                    <!-- DECORATED FEATURE TEXT -->
                    <p class="decorated-feature-text">{{selectedEvent?.endDate | date : 'h:mm a'}} </p>
                    <!-- /DECORATED FEATURE TEXT -->
                </div>
                <!-- /DECORATED FEATURE INFO -->
            </div>
            <!-- /DECORATED FEATURE -->
        </div>
        <!-- /DECORATED FEATURE LIST -->

        <!-- POPUP EVENT SUBTITLE -->
        <p class="popup-event-subtitle">Description</p>
        <!-- /POPUP EVENT SUBTITLE -->

        <!-- POPUP EVENT TEXT -->
        <p class="popup-event-text">{{selectedEvent?.description}}</p>
        <!-- /POPUP EVENT TEXT -->


        <!-- POPUP EVENT SUBTITLE -->
        <p class="popup-event-subtitle">Event location</p>
        <!-- /POPUP EVENT SUBTITLE -->

        <!-- GOOGLE MAP -->
        <div *ngIf="selectedEvent" class="event-map">
            <app-map-box [draggable]="false" [(position)]="selectedEvent.position"></app-map-box>
        </div>
        <!-- /GOOGLE MAP -->

    </div>
    <!-- /POPUP EVENT INFO -->
</div>
<!-- /POPUP EVENT -->